
@mixin transition($settings) {
  -webkit-transition: $settings;
  -moz-transition: $settings;
  -ms-transition: $settings;
  -o-transition: $settings;
  transition: $settings;
}
@mixin delay($time){
  -webkit-transition-delay: $time;
  transition-delay: $time;
}

$red: $main-red;

.avatarWrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.avatar {
  background-color: #edebe1;
  border-radius: 100%;
  height: 130px;
  width: 130px;
  //padding: 8px 50px 8px 0;
  &.active {
    border-radius: 100% 0 20px 100%;
    background-color: $red;
  }
  img {
    border-radius: 100%;
    width: 130px;
    //margin-left:8px;
  }
  .uploadOverlay, .uploadCompleteOverlay {
    background-color: rgba(204, 1, 1,0.8);
    @include transition(all 150ms ease);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    position: absolute;
    height: 130px;
    width: 130px;
    opacity: 0;
    i {
      vertical-align: bottom;
      display:inline-block;
      line-height: 130px;
      text-align: center;
      font-size: 40px;
      height: 130px;
      width: 130px;
      color:white;
    }
  }
  &:hover .uploadOverlay {
    @include transition(all 150ms ease);
    opacity: 1;
    top: 0px;
  }
  .uploadCompleteOverlay {
    background-color: rgba(104, 174, 0, 0.9);
    opacity: 1;
    top: 8px;
  }
  .processingOverlay {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/20625/loading2.gif');
    background-color: rgba(204, 1, 1,0.8);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    position: absolute;
    height: 130px;
    width: 130px;
    left: 8px;
    top: 8px;
  }
}

.fast {
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-move{
  cursor: move;
}
.cursor-wait{
  cursor: wait;
}
.tooltip {
  white-space: nowrap;
}