//Alert that shows up whe previewing a 'brouillon' page while loged-in in cms.
$banner-alert-page-color:  #ff9e0f;
#banner-alert-page{
  display: inline-block;
  margin: 15px auto;
  position: fixed;
  transition: all 0.5s ease-in-out;
  z-index: 1031;
  top: 20px;
  right: 20px;
  width: 50vw;
  z-index: 9999999;
  border-radius: 3px;
  background-color: $banner-alert-page-color;
  color: #ffffff;
  padding: 2rem;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.14);
  //Close btn
  button{
    position: absolute;
    top: -20px;
    left: -20px;
    background: white;
    border: none;
    color: $banner-alert-page-color;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
}

//FLOATING ICON ACTION
#cms_user_panel {
  * {
    box-sizing: border-box;
  }

  .fab-wrapper {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 99999999999999;
  }

  .fab-checkbox {
    display: none;
  }

  .fab {
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    width: 4rem;
    height: 4rem;
    background: #172e43;
    border-radius: 50%;
    background: #1e3d57;
    //box-shadow: 0px 5px 20px #2f5e8a;
    transition: all 0.3s ease;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .fab:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .fab-checkbox:checked ~ .fab:before {
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .fab:hover {
    background: #919191;
    //box-shadow: 0px 5px 20px 5px #81a4f1;
  }

  .fab-dots {
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    transform: translateX(0%) translateY(-50%) rotate(0deg);
    opacity: 1;
    animation: blink 3s ease infinite;
    transition: all 0.3s ease;
  }

  .fab-checkbox:checked ~ .fab .fab-dots {
    height: 6px;
  }


  .fab-wheel {
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    width: 10rem;
    height: 10rem;
    transition: all 0.3s ease;
    transform-origin: bottom right;
    transform: scale(0);
  }

  .fab-checkbox:checked ~ .fab-wheel {
    transform: scale(1);
  }

  .fab-action {
    position: absolute;
    background: #0f1941;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: White;
    //box-shadow: 0 0.1rem 1rem rgba(24, 66, 154, 0.82);
    transition: all 1s ease;
    text-decoration: none;
    opacity: 0;
    span {
      position: absolute;
      top: 0;
      right: 60%;
      &:not(.long){
        top: -60%;
        right: unset;
      }
      margin-bottom: 10px;
      padding: .55rem 1rem;
      font-size: 1rem;
      font-weight: 500;
      white-space: nowrap;
      color: #000;
      border-radius: 50px;
      background-color: #fff;
      box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
      0 5px 15px rgba(0, 0, 0, 0.07);

      pointer-events: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      span:not(.long) {
        top: -120%;
        opacity: 0.9;
      }
      .long{
        top: 0%;
        opacity: 0.9;
        right: 100%;
        margin-right: 20px;
      }
    }
  }

  .fab-checkbox:checked ~ .fab-wheel .fab-action {
    opacity: 1;
  }

  .fab-action:hover {
    background-color: #919191;
  }

  .fab-wheel .fab-action-1 {
    right: -1rem;
    top: 0;
  }

  .fab-wheel .fab-action-2 {
    right: 3.4rem;
    top: 0.5rem;
  }

  .fab-wheel .fab-action-3 {
    left: 0.5rem;
    bottom: 3.4rem;
  }

  .fab-wheel .fab-action-4 {
    left: 0;
    bottom: -1rem;
  }
}