// dark mode switcher

// variables


$bg-sidebar: #222;
$bg-main: #2a2a2a;
$bg-card: #333;
$bg-table-striped: #444;
$bg-input: #444;
$bg-sidebar-dropdown: #2a2a2a;
$bg-primary: #20a5b6;
$white: #fff;
$bg-sidebar-button: #444;

$black-9: #999;
$black-6: #666;
$black-5: #555;
$black-4: #444;
$black-1: #111;
$black-0: #000;

body#dark {
  background: $bg-main;

  .btn.btn-rose,
  .paginate_button.page-item.active > a,
  li.first.active > a,
  .btn.btn-primary {
    background: $bg-primary;
    border-color: $bg-primary;
    box-shadow: 0 4px 5px 0 rgba($bg-primary, 0.14), 0 1px 10px 0 rgba($bg-primary, 0.12), 0 2px 4px -1px rgba($bg-primary, 0.2) !important;
  }

  .card {
    background: $bg-card;
  }

  .sidebar.sidebar {
    background: $bg-sidebar;
  }

  .card,
  .btn-link,
  .card h4,
  .navbar-nav,
  .navbar-brand,
  .dropdown-menu,
  select.form-control,
  input.form-control,
  .dropdown-menu .dropdown-item,
  textarea,
  .drag-handle,
  .card[data-card-type=section] .card-header > .dd-options,
  .swal2-popup .swal2-title,
  .bmd-form-group:not(.has-success):not(.has-danger) [class^='bmd-label'].bmd-label-floating,
  label,
  .copyright {
    color: $white !important;
  }

  .table-striped > tbody > tr:nth-of-type(odd),
  .nav-item.active[data-toggle="collapse"] {
    background: $bg-table-striped;
  }

  select.form-control,
  input.form-control,
  textarea {
    background: $bg-input;
  }

  select.form-control:hover,
  input.form-control:hover {
    border-color: $bg-primary;
  }

  table a {
    color: $bg-primary;
  }

  .main {
    background: $bg-main;
  }

  .options {
      background: $black-4;
  }
  .dropdown-menu,
  .card .card-header-primary:not(.card-header-icon):not(.card-header-text),
  .dropdown-menu .dropdown-item:hover,
  .modal-dialog .modal-content,
  .card [data-card-type="section"],
  .swal2-popup {
    background: $black-6 !important;
  }

  .card [data-card-type="block"] {
    background: $black-9 !important;
  }

  .sidebar {
    .nav li:hover {
      background-color: transparent !important
    }

    li.active {
      > a:not([data-toggle="collapse"]) {
        background: transparent !important
      }

      > a {
        box-shadow: none;
      }
    }

    .nav-item ul {
      background: $bg-sidebar-dropdown;

      li a {
        // margin-left: 1rem;
      }
    }
  }

  #minimizeSidebar {
    background: $bg-sidebar-button;

    :hover {
      background: $bg-sidebar-button;
      box-shadow: none !important
    }
  }

  .sidebar[data-background-color="black"] .nav .nav-item i {
    color: $bg-primary !important;

    :hover {
      color: $bg-primary !important
    }
  }

  .sidebar {
    .nav li:hover {
      background-color: transparent !important
    }

    li.active {
      > a:not([data-toggle="collapse"]) {
        background: transparent !important
      }

      > a {
        box-shadow: none !important;
      }
    }

    .nav-item ul {
      li a {
        // margin-left: 1rem !important;
      }
    }
  }

  .pagination > .page-item.active > a {
    box-shadow: 0 4px 5px 0 rgba($bg-primary, 0.14), 0 1px 10px 0 rgba($bg-primary, 0.12), 0 2px 4px -1px rgba($bg-primary, 0.2);
  }
}




