$block-bg-hover: #172e43;
$block-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
$block-text-color: #3C4858;

.template-code{
  opacity: 0;
  position: fixed;
  top: -500px;
  margin: 0;
}

// Beaucoup de patch CSS - Refac des templates requise
.card.clone{

  .availBlocks{

    > .card-header{
      margin-bottom: 15px;
    }
  }

  .card.ui-draggable{
    cursor: grab;
    height: 50px;
    margin-bottom: 10px !important;
    transition: box-shadow 0.15s;

    &:hover{
      box-shadow: $block-box-shadow;
    }

    > .card-header{
      align-items: center;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      height: 100%;

      i, h4{
        margin: 0 !important;
      }

      i{
        flex: none;
      }

      h4{
        font-size: 1.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

// Beaucoup de patch CSS - Refac des templates requise
.bg-light{
  background: transparent !important;
}

// Layout Block - Center Zone
.card[data-card-type=section],
.card[data-card-type=row],
.card[data-card-type=col],
.card[data-card-type=block]{
  box-shadow: none;

  .card-header{
    align-items: center;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    height: 50px;
    z-index: auto!important;

    > .drag-handle,
    > .card-title{
      color: $block-text-color !important;
      margin: 0 !important;
    }

    > .dd-options{
      color: $block-text-color !important;
      margin-left: auto;
    }
  }

  .card-body{
    border: none !important;
    padding-top: 0 !important;
  }

  .ui-sortable-placeholder{
    border-radius: 6px;
    border: 2px dashed white;
    background: transparentize(#000, 0.95);
    height: 50px;
    // width: 100%;
  }
}


.card[data-card-type=section]{
  background-color: #f1f0f0 !important;
  box-shadow: $block-box-shadow;
  margin-bottom: 25px;
}

.card[data-card-type=row]{
  background-color: #d8d8d8 !important;

  > .card-body{

    > .ui-sortable-placeholder{
      position: relative;
      top: 10px;
      // width: 8.3% !important;
    }
  }

}

.card[data-card-type=col]{
  background-color: #c3c3c3 !important;
}

.card[data-card-type=block]{
  transition: box-shadow 0.15s;

  &:hover{
    box-shadow: $block-box-shadow;
  }
}

.bmd-form-group:not(.has-success):not(.has-danger) [class^='bmd-label'].bmd-label-floating, .bmd-form-group:not(.has-success):not(.has-danger) [class*=' bmd-label'].bmd-label-floating{
  @extend .text-truncate;
  width: 100% !important;
}
