.text-big{
  font-size: 1.4rem;
}

.white-space-normal {
  white-space: normal !important;
}

@include media-breakpoint-down(md) {
  .white-space-normal-sm {
    white-space: normal !important;
  }
}

#alert-flashes {
  padding-left: 15px;
  padding-right: 15px;
  .close-alert {
    cursor: pointer;
  }
}

.alert.alert-danger {
  background-color: #f44336;
}