$input-border-color: #e4e4e4;
$input-border-color-hover: #cacaca;
$input-border-color-focus: transparentize($dark-blue, 0.65);


.card {

  label {
    font-size: 1rem !important;
  }
}


.form-group {
  margin: 35px 0 0;
}

.label-on-left {
  margin-top: 15px;
}

body > div {

  select.form-control,
  input[type=search].form-control,
  .card input[type=text].form-control,
  .card input[type=email].form-control,
  textarea.form-control,
  .card input[type=password].form-control {
    background-image: none !important;
    border: 1px solid #e4e4e4;
    margin: 0 5px;
    padding: 4px 10px;
    transition: background-color 0.15s,
    border-color 0.15s;

    &:hover,
    &:focus {
      background-color: #f5f5f5;
    }

    &:hover {
      border-color: $input-border-color-hover;
    }

    &:focus {
      border-color: $input-border-color-focus;
    }

    &.text-big {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }

  form[name=page],
  form[name=blog], .form-page {

    select.form-control,
    textarea.form-control,
    .card input[type=text].form-control {
      width: calc(100% - 10px);
    }
  }

  .form-control.datetimepicker.form-inline {
    background-image: none;

    select.form-control {
      width: auto;
    }
  }

  .tox.tox-tinymce {
    margin: 0 5px 8px 5px;

    .tox-menubar {
      background: #eee;
    }
  }
}

.checkbox {
  // margin-top: -15px;

  label {
    align-items: center;
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;
    margin: 0 5px;

    > * {
      flex: none;
    }

    input {
      width: 1.5em;
    }
  }
}


.btn-file {
  label {
    margin: 0;
    padding: 12px 30px;
    color: white;
    cursor: pointer;
  }
}

a.fileinput-exists {
  font-size: 1rem !important;
  padding: 12px 30px;

  i {
    margin-top: -1.1em !important;
    padding-right: .5em;
  }
}


label.required {
  &::after {
    margin-left: .5rem;
    content: "*";
  }
}

#form-page {
  .bootstrap-tagsinput {
    > .tag.badge {
      &:before {
        content: '|';
      }

      &:first-child {
        margin-left: 0;

        &:before {
          content: "";
        }
      }
    }
  }

  #items > .row {
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }
  select {
    height: 36px !important;
  }

  .required-field {
    .checkbox {
      margin-top: 50px;
    }
  }
}

