.btn.load, .loading-state {
  transition: all 0.5s;

  .success-state, .pending-state {
    display: none;
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background: 0 0;
    border: 4px solid #fff;
    border-radius: 50%;
    -webkit-clip-path: inset(0 0 50% 0);
    clip-path: inset(0 0 50% 0);
    transform: translate(-50%, -50%) rotate(0);
    -webkit-animation: spin .6s linear infinite;
    animation: spin .6s linear infinite;
    opacity: 0;
    transition: opacity 0.5s;
  }

  &::after {
    content: "\F058";
    font-size: 22px;
    font-family: FontAwesome;
    position: absolute;
    left: 15px;
    top: 5px;
    opacity: 0;
    transition: opacity 0.5s;
  }

  &.error {
    &::after {
      content: "\f06a";
      opacity: 1;
    }

    .save-state {
      display: none;
    }

    .fa {
      opacity: 0;
    }
  }

  &.loaded {
    &::after {
      opacity: 1;
    }

    .save-state, .pending-state {
      display: none;
    }

    .fa {
      opacity: 0;
    }

    .success-state {
      display: inline-block !important;
    }

  }

  &.loading {
    &::before {
      opacity: 1;
      left: 25px;
    }

    .save-state {
      display: none;
    }

    .pending-state {
      display: inline-block !important;
    }

    opacity: 0.4;

    .fa {
      opacity: 0;
    }
  }
}


@-webkit-keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(1turn)
  }
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(1turn)
  }
}

