/**
 * Nestable
 */
.dd {
  position: relative;
  display: block;
  margin: 0;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dd-list .dd-list {
  padding-left: 30px;
}

.dd-collapsed .dd-list {
  display: none;
}

.dd-empty,
.dd-item,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
  border-radius: 6px;
  font-weight: 400;
}

.dd-handle {
  @extend .card;
  @extend .p-2;
  @extend .my-1;
  color: #585858;
  padding-right: 70px !important;
}

.dd-handle:hover {
  color: #2ea8e5;
  background: #fff;
}

.dd-item > button {
  display: block;
  position: absolute;
  cursor: pointer;
  color: #aaa;
  width: 25px;
  height: 20px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  left: 0.1em;
  border: 0;
  background: transparent;
  font-size: 2em;
  line-height: 0.85;
  text-align: center;
  font-weight: bold;
  z-index: 1;

  ~ .dd-handle {
    padding-left: 2em !important;
  }
}

.dd-item > button:before {
  content: '+';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}

.dd-item > button[data-action="collapse"]:before {
  content: '-';
}

.dd-empty,
.dd-placeholder {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-empty {
  background: #fff;
  border: 1px dashed #bbb;
  min-height: 100px;
}

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}

.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
  box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}
/**
 * Nestable Extras
 */
.nestable-lists {
  clear: both;
  width: 100%;
  border: 0;
}

#nestable-menu {
  margin: 0;
  padding: 0;
}

#nestable-output,
#nestable2-output {
  width: 100%;
  height: 7em;
  font-size: 0.75em;
  line-height: 1.333333em;
  font-family: Consolas, monospace;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media only screen and (min-width: 700px) {
  .dd + .dd {
    margin-left: 2%;
  }
}

.dd-hover > .dd-handle {
  background: #2ea8e5 !important;
}

.page-search {
  .form-control {
    box-shadow: none;
    outline: none;
  }
}

.actions {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.remove-item,
.show-options {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.options {
  display: none;
  background: #fff;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 31px;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14);
}

.nestable-lists-item-wrapper {
  overflow-y: auto;
  padding: 10px 0 0 5px;
  height: calc(100vh - 380px);
  margin-bottom: 30px;
}

#item-list{

  .form-check{
    margin-top: 0;
  }
}
