$divider-color-sidebar: #ececec;

.sidebar.sidebar {
  background: #fff;

  &::before {
    background-color: transparent;
    z-index: -1;
  }

  .logo {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    padding: 10px 5px;

    .logo-icon {
      flex: none;
      margin-right: 5px;
      padding-top: 8px;
      img {
        width: 50px;
      }
    }

    .logo-text {
      flex: auto;
    }
  }

  .accordion .sidebar-wrapper {
    .nav-link {
      i::before {
        padding: 5px;
        width: 30px;
        border-radius: 3px;
      }
    }

    .user {
      .nav-link {
        align-items: center;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
      }
    }

    >.nav {
      margin-top: 10px;

      >.nav-item {
        &:not(.first) {
          border-width: 1px 0;

          .nav-link {
            margin: 0;
          }
        }
      }
    }
  }
}

span.sidebar-mini {
  width: auto !important;
}

.bullet {
  // margin-left: 10px !important;
 
  &::before {
    margin-right: 10px !important;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f111";
    padding: 1px;
    font-size: 5px;
    border-radius: 50%;
  }
}

.sidebar {
  overflow-x: hidden;
  overflow-y: scroll;
}