.table-striped > tbody > tr:nth-of-type(even){
  background: transparent;
}

table.dataTable > tbody > tr > td{
  font-weight: 400;
  text-overflow: ellipsis;
}

div.dataTables_wrapper div.dataTables_info {
  @extend .white-space-normal;
}

@include media-breakpoint-down(md) {
  #datatables tbody tr td a.btn-link {
    padding-left: 5px;
  }
}

.pagination {
  flex-wrap: wrap;
}

.datetime-input input {
  margin-right: 0 !important;
}

.checkbox-decorator {
  margin-left: 5px;
}

.fileinput {
  margin-top: 9px;
}

table .notification {
  position: absolute;
  top: 0px;
  border: 1px solid #FFF;
  right: 0px;
  font-size: 9px;
  background: #f44336;
  color: #FFFFFF;
  min-width: 20px;
  padding: 0px 5px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 19px;
  vertical-align: middle;
  display: block;
}