

a:active, a:focus {
  color: $main-red;
}

.profile-photo {
  display: inline-block;
  overflow: hidden;
  img {
    border-radius: 100px;
    max-width: 30px;
  }
}

.sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li > a i, .sidebar .sidebar-wrapper .user .user-info [data-toggle="collapse"] ~ div > ul > li > a i {
  font-size: 24px;
}

.commonProfile {
  min-height: 130px;
  border: none;
  line-height: 24px;
  width: 100%;
}

@media (max-width: 991.98px) {
  .sidebar, .off-canvas-sidebar nav .navbar-collapse, .sidebar::before, .off-canvas-sidebar nav .navbar-collapse::before {
    background-color: #fff !important;
  }
  .off-canvas-sidebar .navbar-collapse:after {
    background-color: #fff !important;
  }
  .off-canvas-sidebar .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #3C4858 !important;
  }
}

.CodeMirror {
  border-radius: 6px 6px 0 0;
  min-height: 650px;
  position: relative;
  overflow: hidden;

  &:after {
    box-shadow: 0 0 4px .5px #888;
    z-index: 1000;
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.codeMirror-border-radius-wrap {
  border-radius: 6px 0 0 0;
  overflow: hidden;
  z-index: 10;
}

.block_options {
  input, textarea {
    margin-top: 20px;
  }
  textarea {
    min-height: 100px;
  }
  min-height: 600px;
}

.navbar.navbar-expand-lg.navbar-absolute.navbar-transparent.fixed-top {
  z-index: 8;
}

@media (max-width: 1199.99px) {
  .block-adder {
    background-color: #fff;
    z-index: 9;
    margin: 0;
    padding: 0;
    padding-left: 260px;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: scroll;
    width: 100%;
    height: 40%;
    min-height: 250px;
    -webkit-box-shadow: 0px 17px 41px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 17px 41px 8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 17px 41px 8px rgba(0, 0, 0, 0.75);
    -webkit-transition-property: padding-left;
    transition-property: padding-left;
    -webkit-transition-duration: .2s, .35s;
    transition-duration: .2s, .35s;
    -webkit-transition-timing-function: linear, linear, ease;
    transition-timing-function: linear, linear, ease;
    -webkit-overflow-scrolling: touch;
  }
  .clone {
    width: 100%;
  }
  .block-wrapper {
    padding-bottom: 45%;
  }
}

.spinner {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $main-blue;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.spinner-wrapper {
  z-index: 1199;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #eee;

}

body:not(sidebar-mini) .sidebar{
  overflow: hidden;
}

.sidebar {
  z-index: 1200;
  .active {
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
  }
}

.content {
  position: relative;
}

body.dark {
  color: $white;
  background-color: #191919;
  .card {
    color: $white;
    background-color: lighten(#191919, 10%);
    .card-title {
      color: $white !important;
    }
  }
  .bg-light {
    background-color: inherit !important;
  }
  .bg-darkWhite {
    .card-title {
      color: #3C4858 !important;
    }
  }
  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #222;
  }
  .spinner-wrapper {
    background-color: #191919;
  }
  .template-dragger {
    .bg-darkWhite {
      background-color: $grey-900 !important;
    }
    background-color: transparent !important;
    [data-ice="template.addRow"] {
      background-color: $grey-800;
      color: $white !important;
      &:hover{
        color: $main-blue !important;
      }

    }
    [data-ice="template.addCol"] {
      background-color: $grey-700;
      color: $white !important;
      &:hover{
        color: $main-blue !important;
      }

    }
    .col-block {
      background-color: $grey-600;
      color: $white !important;
      &:hover{
        color: $main-blue !important;
      }

      a {
        color: $white !important;
        &:hover {
          color: $main-blue !important;
        }
        &[data-ice="template.splitCol"] {
          background-color: $grey-700;
        }
      }
    }
  }
}

.sidebar[data-background-color="black"] .nav-item ul, .sidebar[data-background-color="black"] #collapseExample {
  background-color: #191919;
  &:after, &:before {
    box-shadow: 0 0 5px 1px #000;
  }

}

.bg-darkWhite {
  .card-title {
    margin-top: 12px !important;
  }
}

#tpl-draft {
  .ctn-cols {
    //border: dashed 1px #f00;
    margin: 0;
  }
}

.template-dragger {
  a:not([href]):not([tabindex]){
    color: $btn-rose-bg;
    &:hover{
      color: $white;
    }
  }
  .card .card-header {
    z-index: inherit !important;
  }
  .bg-darkWhite {
    background-color: #f1f1f1 !important;
  }
  font-weight: normal;
  background-color: #fff !important;
  //[data-ice="template.addRow"], [data-ice="template.addCol"] {
  //  border-radius: 3px;
  //  margin-bottom: 5px;
  //  color: $main-red !important;
  //  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  //  &:hover {
  //    color: $white !important;
  //  }
  //
  //}
  //[data-ice="template.addRow"] {
  //  background-color: $grey-500;
  //  text-align: center;
  //  padding: 5px 0;
  //}
  //[data-ice="template.addCol"] {
  //  background-color: $grey-400;
  //  text-align: center;
  //  display: block;
  //  width: 100%
  //}
  .col-block {
    background-color: $grey-300;
    margin: 0 auto;
    border-radius: 3px;
    margin-bottom: 5px;
    color: $main-red !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    min-width: 8.3333333333%;
    //a[data-ice="template.splitCol"]{
    //  padding: 3px 8px;
    //  display: inline;
    //  background-color: $grey-400;
    //  border-radius: 3px;
    //  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    //  margin-bottom: 5px;
    //  display: inline-block;
    //}
    a:hover {
      color: $white !important;
    }
    .block-ctn{
      margin-top: 2.5em;
      margin-bottom: .3em;
    }
  }
}

.block-ctn  .ui-state-highlight{

}
.ui-state-highlight {
  height: 42px;
  width: 100%;
  line-height: 1.2em;
  background: $main-blue !important;
  opacity: 0.2;
  border-radius: 3px;
  border: 1px darken($main-blue, 20%) solid !important;
}
.sectionIn {
  //min-height: 50px;
  overflow: -webkit-paged-y;
}

.section, .block {
  z-index: 9;
  /* width: 100%!important; */
}

.block .card {
  margin: 5px 0 !important;
}

.section:not(.sortableDisabled) {
  min-height: 109px;
  height: 100% !important;
}

.section:not(.sortableDisabled):hover {
  z-index: 9;
  cursor: -webkit-grab;

}

.section:not(.sortableDisabled):active {
  z-index: 9;
  cursor: -webkit-grabbing !important;
}

.clone div {
  z-index: 9;
}

#droppable {
  overflow: -webkit-paged-y;
}

#bodySortable .blockDroppable, .sectionDroppable {
  //min-height: 50px;
  border-radius: 5px;
}

.sectionDroppable {
  padding: 0 5px;
}

.dropAvail {
}
#tpl-draft a {
  cursor:pointer;
}
.block-ctn {
  min-height: 42px;
}

.templates_row{
  //border: red 1px dashed;
}

.toolbar {
  min-height: 50px;
  margin-bottom: 10px;
}

#collapseFixed-Plugin{
  a.header-title {
    background-color: inherit;
    text-align: left;
    position: relative;
    border-radius: 0;
    margin: 0;
    padding-right: 2.5rem;
    &:focus{
      box-shadow: none;
      background-color: inherit;
      color: inherit;
    }
    &:hover{
      background-color: lightgrey;
      color: $main-blue;
      box-shadow: none;
    }
    &:after{
      position: absolute;
      content:'\f078';
      font-family: FontAwesome;
      right: 1.3rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  div.adjustments-line.collapse,div.adjustments-line.collapsing {
    overflow: hidden;
    position: relative;
    background-color: #f2f2f2;
    padding: 0 .3rem;
    &:before {
      box-shadow: 0 0 5px 1px #888;
      content: " ";
      position: absolute;
      top: 0;
      width: 100%;
    }
    &:after {
      box-shadow: 0 0 5px 1px #888;
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
  div.adjustments-line.collapse {
    height: 100%;
    padding: .5rem .3rem;

  }
}

.card {
  &[data-card-type]>.card-body{
    background-color: #fcfcfc!important;
  }
}

.ui-sortable {
  min-height: 51px;
}

.dd-options {
  margin-right: -20px;
  margin-top: 4px;
  color: #666666!important;
}

#tpl-draft .dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active {
  background-color: $black-color;
}

#tpl-draft .dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active {
  @include shadow-small-color($black-color);
}

#tpl-draft .dropdown-menu .dropdown-item.danger:hover, .dropdown-menu .dropdown-item.danger:focus, .dropdown-menu a.danger:hover, .dropdown-menu a.danger:focus, .dropdown-menu a.danger:active {
  background-color: $brand-primary;
}

#tpl-draft .dropdown-menu .dropdown-item.danger:hover, .dropdown-menu .dropdown-item.danger:focus, .dropdown-menu a.danger:hover, .dropdown-menu a.danger:focus, .dropdown-menu a.danger:active {
  @include shadow-small-color($brand-primary);
}

.template-dragger {
   a.danger:not([href]):not([tabindex]) {
     color: $brand-primary;
     &:hover{
       color: $white;
     }
   }
 }

.card {
  .drag-handle {
    margin: 1px 0 0 -16px!important;
    color: #cccccc;
    &:hover {
      color: #f00;
      cursor: move;
    }
  }
}

.config-btn {
  color: #f00!important;
  text-shadow: 0px 1px 0px #000;
  cursor: pointer;
}
