.card .card-header.card-header-icon .card-title {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-link {
  color: #000;
  color: #0a6ebd;
}
