<!-- Button trigger modal -->
{#<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#categoryFormModal">#}
{#    Launch demo modal#}
{#</button>#}

<!-- Modal -->
<div class="modal fade" id="categoryFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ 'bci.cms.blog.article.category.action.new'|trans({}, 'cms_bundle') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <span class="error">
                            <p id="nameError"></p>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>{{ 'bci.cms.blog.article.category.label.fr'|trans({}, 'cms_bundle') }}</label>
                        <input type="text" id="categoryNameFr" class="form-control">
                    </div>
                    <div class="col-6">
                        <label>{{ 'bci.cms.blog.article.category.label.en'|trans({}, 'cms_bundle') }}</label>
                        <input type="text" id="categoryNameEn" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'bci.cms.general.action.close'|trans({}, 'cms_bundle') }}</button>
                <button type="button" class="btn btn-primary" data-ice-params="{{ blogId }}" data-ice="blog.newCategory">{{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</button>
            </div>
        </div>
    </div>
</div>