{% form_theme form '@BciCms/Layout/shared/builder_form_layout.html.twig' %}
{{ form_start(form, {"attr":{"class":"col-12"}}) }}
{{ form_row(form._token) }}
<style>
    .table:hover{
        outline: dashed 1px #ccc;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
                {% include '@BciCms/Layout/_partial/_title.html.twig' with {
                    'icon': 'sitemap'
                } %}
                <div class="float-md-right d-none d-md-inline ">
                    {% block btnTop %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card card-nav-tabs card-plain " >
            {% block btnLocales %}{% endblock %}
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-9 col-sm-12 ml-auto mr-auto" data-step="2" data-intro="{{ 'bci.cms.helper.page.edit.step2'|trans({}, 'cms_bundle') }}">
                    <h2 >{{ 'bci.cms.page.general' | trans({}, 'cms_bundle') }}</h2>
                    <div class="form-group">
                        {{ form_label(form.name, null, { 'label_attr': {'class': 'bmd-label-floating'} }) }}
                        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.template, null, { 'label_attr': {'class': 'bmd-label-floating'} }) }}
                        {{ form_widget(form.template, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.isHome, null, { 'label_attr': {'class': 'bmd-label-floating'} }) }}
                        {{ form_widget(form.isHome, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    {% for heading in form.headings %}
                        {% if heading.vars.value.locale == headingLocale %}
                            <div class="form-group">
                                {{ form_label(heading.siteMapable, null, { 'label_attr': {'class': 'bmd-label-floating'} }) }}
                                {{ form_widget(heading.siteMapable, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-9 col-sm-12 ml-auto mr-auto" data-step="3"
                     data-intro="{{ 'bci.cms.helper.page.edit.step3'|trans({}, 'cms_bundle') }}" data-position="left">
                    <h2 >{{ 'bci.cms.page.translate' | trans({'%locale%': headingLocale | capitalize}, 'cms_bundle') }}</h2>
                    <div class="form-group col-12">
                        {% for heading in form.headings %}
                            {% if heading.vars.value.locale == headingLocale %}
                                {{ form_errors(heading) }}
                                <div class="form-group">
                                    {{ form_label(heading.title, null, { 'label_attr': {'class': 'bmd-label-floating'} }) }}
                                    {{ form_widget(heading.title, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(heading.slug, null, { 'label_attr': {'class': 'bmd-label-floating'} }) }}
                                    {{ form_widget(heading.slug, {
                                        'attr': {
                                            'class'     : 'form-control tagsinput',
                                            'data-role' : 'tagsinput',
                                            'data-color': 'info'
                                        }
                                    }) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(heading.menu, null, { 'label_attr': {'class': 'bmd-label-floating'} }) }}
                                    {{ form_widget(heading.menu, { 'attr': {'class': 'form-control' } }) }}
                                </div>
                                <div class="form-group d-none">
                                    {{ form_label(heading.other, null, { 'label_attr': {'class': 'bmd-label-floating'} }) }}
                                    {{ form_widget(heading.other, { 'attr': {'class': 'form-control', 'rows': '10'} }) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(heading.draft, null, { 'label_attr': {'class': 'bmd-label-floating'} }) }}
                                    {{ form_widget(heading.draft, { 'attr': {'class': 'form-control', 'data-ice': 'page.draftMode' } }) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(heading.publishedAt, null, { 'label_attr': {'class': 'bmd-label-floating'} }) }}
                                    <div>
                                        <label style="width:150px;margin-right:20px">Date</label>
                                        <label>Heure</label>
                                    </div>
                                    {{ form_widget(heading.publishedAt, { 'attr': {'class': 'datetime-input publishedAt'} }) }}
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-9 col-sm-12 ml-auto mr-auto" data-step="4" data-intro="{{ 'bci.cms.helper.page.edit.step4'|trans({}, 'cms_bundle') }}">
                   <div class="clearfix">
                       <h2
                            class="float-left">{{ 'bci.cms.meta.meta'|trans({}, 'cms_bundle') }}</h2>
                    <button type="button"
                            class="btn btn-rose float-right"
                            data-list-selector="#metas" data-ice="app.addFromPrototypeMeta" data-container="#metas">{{ 'bci.cms.meta.add'|trans({},'cms_bundle') }}</button>
                   </div>
                        <div id="metas"

                             data-prototype="{% filter escape %}{% include '@BciCms/meta/_partial/_meta_prototype.html.twig' with { 'meta': heading.metas.vars.prototype } %}{% endfilter %}"
                             data-widget-tags="{{ '<div></div>'|e }}"
                             data-widget-counter="{{ heading.children.metas|length }}"
                             class="col-12">

                            <div class="col-8 ml-auto mr-auto text-center empty" {{ heading.children.metas | length > 0 ? 'style="display:none;"' : '' }}>
                                {{ 'bci.cms.meta.empty'|trans({}, 'cms_bundle') }}
                            </div>
                            {% for meta in heading.metas  %}
                                {% include '@BciCms/meta/_partial/_meta_prototype.html.twig' with { 'meta': meta } %}
                            {% endfor %}
                        </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-icon cleafix p-2">
                <div class="float-left order-2 order-sm-1">
                    <a href="{{ path('bci_cms_page_index') }}" class="btn ml-0 pr-1 pl-1 pr-sm-3"
                       data-intro="{{ 'bci.cms.helper.page.edit.step8'|trans({}, 'cms_bundle') }}">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span>
                    </a>
                </div>
                <div class="float-right order-1 order-sm-2"
                >
                    {% block btnBottom %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form, {'render_rest': false}) }}
