{% extends '@BciCms/Layout/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("/build/cms/live-editor.css") }}">
{% endblock %}

{% block body %}
    <div id="sidebar-edit"
         data-locale="{{ headingLocale }}"
         data-page-id="{{ page.id }}"
         data-template-id="{{ page.template.id }}">
        <div class="wrapper">
            <header>
                <div class="header-container">
                    <div class="select-page">
                        <div class="toggle-page">
                            <span>Sélectionner une page</span>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <ul id="pageList" class="page-list dropdown">
                            <li>
                                <ul class="language">
                                    <input type="text" class="form-control search"
                                           data-ice-keyup="live_editor.searchPage" placeholder="Rechercher une page">
                                    {% set currentPage = page.getId %}
                                    {% for page in pages %}
                                        <li {{ currentPage == page.id ? 'class="active"' : '' }}>
                                            <p><span>{{ page.name }}</span>
                                                {% for locale in availLocales %}
                                                    {% if page.hasHeadingLocale(locale) %}
                                                        {% if currentPage == page.id and locale == headingLocale %}
                                                            <a class="active">{{ locale }}</a>
                                                        {% else %}
                                                            <a href="/cms/page/{{ page.id }}/edit/{{ locale }}">{{ locale }}</a>
                                                        {% endif %}
                                                    {% else %}
                                                        <a class="add_page"
                                                           href="/cms/page/{{ page.id }}/edit/{{ locale }}">{{ locale }}</a>
                                                    {% endif %}
                                                {% endfor %}
                                            </p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="responsive-selector">
                        <div data-ice="live_editor.iframeResponsive" data-ice-params="mobile">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <div data-ice="live_editor.iframeResponsive" data-ice-params="tablet">
                            <i class="fa fa-tablet"></i>
                        </div>
                        <div data-ice="live_editor.iframeResponsive" data-ice-params="desktop" class="active">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div data-ice="live_editor.iframeResponsive" data-ice-params="full">
                            <i class="fa fa-expand"></i>
                        </div>
                    </div>
                    <div class="live-actions">
                        <a href="#"
                           data-ice="live_editor.saveStructure"
                           class="btn btn-rose ml-0 pr-1 pl-1 pr-sm-3"
                           title="Enregistrer">
                            <i class="fa fa-save" aria-hidden="true"></i>
                            <span class="d-none d-sm-inline">Enregistrer</span>
                        </a>
                    </div>
                </div>
            </header>
            <div class="iframe-wrapper">
                <div class="iframe">
                    <iframe
                            id="page-iframe"
                            src="{{ path('bci_cms_page_show_edit', {id: page.id, '_locale': headingLocale}) }}"
                            frameborder="0">
                    </iframe>
                    <textarea hidden id="template_structure">{{ page.getTemplate.structure }}</textarea>
                </div>
            </div>
        </div>
        <aside>
            <div class="top">
                <div class="logo">
                    <a href="/cms" class="simple-text logo-icon">
                        <img src="/bundles/bcicms/assets/img/bissCommLogo.png" alt="PowerUp" title="PowerUp"
                             width="100%">
                    </a>
                    <a href="/cms" class="simple-text logo-text">
                        <img src="/bundles/bcicms/assets/img/bissCommText.png" alt="PowerUp" title="PowerUp"
                             width="80%">
                    </a>
                </div>
            </div>
            <div class="header" role="tablist">
                <div role="tab" class="active" data-ice="live_editor.toggleMain" data-ice-params="sections">
                    <p>Sections</p>
                </div>
                <div role="tab" data-ice="live_editor.toggleMain" data-ice-params="general">
                    <p>Paramètres général</p>
                </div>
            </div>
            <div id="sections" class="main-edit showTab" data-value="sections">
                <div class="tabs">
                    <div data-toggle="collapse" href="#block-section">
                        <p class="tabs-title">Ajouter une section</p>
                    </div>
                    <div id="block-section" class="tabs-content collapse">
                        <div class="top">
                            <div data-toggle="collapse" href="#block-section" class="back">
                                <i class="fa fa-chevron-down"></i>
                            </div>
                            <div class="back-title-container">
                                <p class="back-title">Ajouter une section</p>
                            </div>
                        </div>
                        <div class="form-container">
                            {% for block in blocks %}
                                <div class="tabs col-md-12 p-3"
                                     draggable="true"
                                         data-prototype="{% filter escape %}{% include "blocks/block_#{block.id}.html.twig" with {block: block }%}{% endfilter %}"
                                     data-block="{{ block.id }}"
                                     data-name="{{ block.name }}">
                                    <div class="card">
                                        <div class="card-header card-header-image">
                                            <iframe
                                                    src="{{ path('bci_cms_block_render', {id: block.id}) }}"
                                                    frameborder="0">
                                            </iframe>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                              {{ block.name }}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
            <div class="main-edit" data-value="general">
                <div class="tabs">
                    <div data-toggle="collapse" href="#pageEdit">
                        <p class="tabs-title">Page</p>
                    </div>
                    <div id="pageEdit" class="tabs-content collapse">
                        <div class="top">
                            <div data-toggle="collapse" href="#pageEdit" class="back">
                                <i class="fa fa-chevron-down"></i>
                            </div>
                            <div class="back-title-container">
                                <p class="back-title">Page</p>
                            </div>
                        </div>
                        <div class="form-container">
                            {{ form_start(form, {"attr":{"class":"col-12"}}) }}
                            {{ form_row(form._token) }}
                            <div class="form-group">
                                {{ form_label(form.name, null) }}
                                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.template, null) }}
                                {{ form_widget(form.template, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.isHome, null) }}
                                {{ form_widget(form.isHome, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                {% for heading in form.headings %}
                                    {% if heading.vars.value.locale == headingLocale %}
                                        {{ form_errors(heading) }}
                                        <div class="form-group">
                                            {{ form_label(heading.title, null) }}
                                            {{ form_widget(heading.title, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(heading.slug, null) }}
                                            {{ form_widget(heading.slug, {
                                                'attr': {
                                                    'class'     : 'form-control tagsinput',
                                                    'data-role' : 'tagsinput',
                                                    'data-color': 'info'
                                                }
                                            }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(heading.menu, null) }}
                                            {{ form_widget(heading.menu, { 'attr': {'class': 'form-control' } }) }}
                                        </div>
                                        <div class="form-group d-none">
                                            {{ form_label(heading.other, null) }}
                                            {{ form_widget(heading.other, { 'attr': {'class': 'form-control', 'rows': '10'} }) }}
                                        </div>
                                        <div class="form-group d-flex jc-space-between align-items-center">
                                            {{ form_label(heading.draft, null) }}
                                            {{ form_widget(heading.draft, { 'attr': {'class': 'form-control', 'data-ice': 'page.draftMode' } }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(heading.publishedAt, null) }}
                                            {{ form_widget(heading.publishedAt, { 'attr': {'class': 'datetime-input publishedAt'} }) }}
                                        </div>
                                        <div>
                                            <div class="clearfix">
                                                <h2 class="float-left">{{ 'bci.cms.meta.meta'|trans({}, 'cms_bundle') }}</h2>
                                                <a class="meta"
                                                   data-list-selector="#metas" data-ice="app.addFromPrototype"
                                                   data-container="#metas">{{ 'bci.cms.meta.add'|trans({},'cms_bundle') }}
                                                </a>
                                            </div>
                                            <div id="metas"
                                                 data-prototype="{% filter escape %}{% include '@BciCms/page/_partial/_meta_prototype.html.twig' with { 'meta': heading.metas.vars.prototype } %}{% endfilter %}"
                                                 data-widget-tags="{{ '<div></div>'|e }}"
                                                 data-widget-counter="{{ heading.children.metas|length }}">

                                                <div style="margin-bottom: 30px;" {{ heading.children.metas | length > 0 ? 'style="display:none;"' : '' }}>
                                                    <p>{{ 'bci.cms.meta.empty'|trans({}, 'cms_bundle') }}</p>
                                                </div>

                                                {% for meta in heading.metas %}
                                                    <div class="table-responsive">
                                                        {{ form_label(meta.name, null) }}
                                                        {{ form_widget(meta.name, { 'attr': {'class': 'form-control'} }) }}
                                                        {{ form_label(meta.property, null) }}
                                                        {{ form_widget(meta.property, { 'attr': {'class': 'form-control'} }) }}
                                                        {{ form_label(meta.description, null) }}
                                                        {{ form_widget(meta.description, { 'attr': {'class': 'form-control'} }) }}
                                                        <button
                                                                type="button"
                                                                data-ice="app.removeMeta"
                                                                class="btn btn-small btn-danger">
                                                            {{ 'bci.cms.meta.remove'|trans({},'cms_bundle') }}
                                                        </button>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <button
                                                    class="btn btn-rose d-inline-block"
                                                    title="Enregistrer">
                                                <i class="fa fa-save" aria-hidden="true"></i>
                                                <span class="d-none d-sm-inline">Enregistrer</span>
                                                <div class="ripple-container"></div>
                                            </button>
                                        </div>
                                    {% endif %}
                                    {{ form_end(form, {'render_rest': false}) }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs">
                    <div data-toggle="collapse" href="#headerEdit">
                        <p class="tabs-title">En-tête</p>
                    </div>
                    <div id="headerEdit" class="tabs-content collapse">
                        <div class="top">
                            <div data-toggle="collapse" href="#headerEdit" class="back">
                                <i class="fa fa-chevron-down"></i>
                            </div>
                            <div class="back-title-container">
                                <p class="back-title">En-tête</p>
                            </div>
                        </div>
                        <div class="form-container">
                        </div>
                    </div>
                </div>
                <div class="tabs">
                    <div data-toggle="collapse" href="#footerEdit">
                        <p class="tabs-title">Pied de page</p>
                    </div>
                    <div id="footerEdit" class="tabs-content collapse">
                        <div class="top">
                            <div data-toggle="collapse" href="#footerEdit" class="back">
                                <i class="fa fa-chevron-down"></i>
                            </div>
                            <div class="back-title-container">
                                <p class="back-title">Pied de page</p>
                            </div>
                        </div>
                        <div class="form-container">
                        </div>
                    </div>
                </div>
            </div>
            {#            <div class="main-edit" data-value="section-edit">#}
            {#                <div id="section-edit" class="tabs">#}
            {#                    <div id="sectionEdit" class="tabs-content collapse">#}
            {#                        <div class="top">#}
            {#                            <div data-toggle="collapse" href="#sectionEdit" class="back">#}
            {#                                <i class="fa fa-chevron-down"></i>#}
            {#                            </div>#}
            {#                            <div class="back-title-container">#}
            {#                                <p class="back-title">Edition de la section</p>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                        <div class="form-container">#}
            {#                            <form id="section-edit-block" action="#">#}
            {#                                <div class="form-group">#}
            {#                                    <label for="blockClass">Classe(s) de la section</label>#}
            {#                                    <input type="text" id="blockClass" name="blockClass">#}
            {#                                </div>#}
            {#                                <div class="form-group">#}
            {#                                    <label for="blockID">ID de la section</label>#}
            {#                                    <input type="text" id="blockID" name="blockID">#}
            {#                                </div>#}
            {#                                <button type="submit">enregistrer</button>#}
            {#                            </form>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
        </aside>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/bcicms/assets/js/live-editor.class.js") }}"></script>
    <script src="{{ asset("bundles/bcicms/assets/js/live-editor.js") }}"></script>
{% endblock %}







