@font-face{
  font-family:icomoon;
  src:url(images/icomoon.woff);
  font-weight:400;
  font-style:normal
}

.ct-widget .ct-tool--label:before{content:"L";}
.ct-widget .ct-tool--span:before{content:"S";}
.ct-widget .ct-tool--underline:before{content:"U"; text-decoration: underline; font-weight: bold; }
.ct-widget .ct-tool--heading3:before{content:"H"; font-weight: lighter;}
.ct-widget .ct-tool--file:before{content:"\e926"; font-family: icomoon}
.ce-element:hover,
.ce-element:focus{
  outline: 2px solid #ff6767;
}


.alert {
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding-top: .9rem;
  padding-bottom: .9rem;
  position: relative;
}

.alert.alert-success{ background-color: #55b559; }
.alert.alert-danger{  background-color: #ff0000; }
.alert.alert-warning{ background-color: #ff9e0f; }
.alert.alert-info{    background-color: #00cae3; }
.alert.alert-primary{ background-color: #666666; }


i.fa,
i.now-ui-icons{
  font-size: 20px;
}

.close{
  color: #fff;
  opacity: .9;
  text-shadow: none;
  line-height: 0;
  outline: 0;
}

span[data-notify="icon"]{
  font-size: 22px;
  display: block;
  left: 19px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
}

button.close{
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -13px;
  width: 25px;
  height: 25px;
  padding: 3px;
}

.close ~ span{
  display: block;
  max-width: 100%;
}

.alert.alert-with-icon{ padding-left: 65px; }

.alert.alert-warning span[data-notify="icon"]:before {content:"\ea07"; font-family: icomoon}
.alert.alert-info span[data-notify="icon"]:before {content:"\ea0c"; font-family: icomoon}
.alert.alert-danger span[data-notify="icon"]:before {content:"\ea0d"; font-family: icomoon}
.alert.alert-primary span[data-notify="icon"]:before {content:"\ea08"; font-family: icomoon}
.alert.alert-success span[data-notify="icon"]:before {content:"\e9d7"; font-family: icomoon}
