.formatted img,
.formatted iframe,
.formatted video,
.formatted .ce-element--type-image,
.formatted .ce-element--type-video,
.formatted [data-ce-tag=img] {
    clear: both;
    display: block;
    margin: 12px auto;
    max-width: 100%
}

@media (min-width: 1024px) {
    .formatted img,
    .formatted iframe,
    .formatted video,
    .formatted .ce-element--type-image,
    .formatted .ce-element--type-video,
    .formatted [data-ce-tag=img] {
        margin-top: 18px
    }
}

.formatted img.align-left,
.formatted iframe.align-left,
.formatted video.align-left,
.formatted .ce-element--type-image.align-left,
.formatted .ce-element--type-video.align-left,
.formatted [data-ce-tag=img].align-left {
    clear: initial;
    float: left;
    margin-right: 20px;
    margin-top: 12px
}

.formatted img.align-right,
.formatted iframe.align-right,
.formatted video.align-right,
.formatted .ce-element--type-image.align-right,
.formatted .ce-element--type-video.align-right,
.formatted [data-ce-tag=img].align-right {
    clear: initial;
    float: right;
    margin-left: 20px;
    margin-top: 12px
}

.formatted [data-ce-tag=img] img {
    margin: 0 0 0 0
}

.formatted img,
.formatted .ce-element--type-image,
.formatted [data-ce-tag=img] {
    height: auto
}

@media (max-width: 767px) {
    .formatted video,
    .formatted iframe {
        width: 100vw !important;
        height: 75vw !important
    }
}

.formatted video.framed,
.formatted iframe.framed {
    border: 1px solid #d4d4d4
}

.formatted .ce-element--type-image.above-heading,
.formatted img.above-heading,
.formatted [data-ce-tag=img].above-heading {
    margin-top: 36px
}

@media (min-width: 1024px) {
    .formatted .ce-element--type-image.above-heading,
    .formatted img.above-heading,
    .formatted [data-ce-tag=img].above-heading {
        margin-top: 48px
    }
}