{% extends '@BciCms/Layout/shared/index_table.html.twig' %}
{% set icon = 'newspaper-o' %}

{% block headingCardAction %}
    {% if availLocales | length == 1 %}
        <a href="{{ path('bci_cms_article_new', {'id': blogId, 'locale': availLocales[0]}) }}" class="btn btn-rose ml-0 pl-3  pr-3">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
        </a>
    {% elseif availLocales | length > 1 %}
        <div class="dropdown">
            <button class="dropdown-toggle btn btn-rose" type="button" id="job_drop_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus" aria-hidden="true"></i>
                {{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}
            </button>
            <div class="dropdown-menu" aria-labelledby="job_drop_down" >
                {% for availLocale in availLocales %}
                    <a class="dropdown-item" href="{{ path('bci_cms_article_new', {'id': blogId, 'locale': availLocale}) }}">{{ 'bci.cms.blog.article.action.new'|trans({'%locale%': availLocale | capitalize}, 'cms_bundle') }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block tableHead %}
    <th>{{ 'bci.cms.blog.article.id'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.blog.article.title'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.blog.article.locales'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.blog.article.publishedAt'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.blog.article.updatedAt'|trans({}, 'cms_bundle') }}</th>
    <th class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableFoot %}
    <th class="text-left">{{ 'bci.cms.blog.article.id'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.blog.article.title'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.blog.article.locales'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.blog.article.publishedAt'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.blog.article.updatedAt'|trans({}, 'cms_bundle') }}</th>
    <th class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableBody %}
    {% for article in articles %}
        <tr>
            <td>{{ article.id }}</td>
            <td><a href="{{ path('bci_cms_article_edit', {'id': article.id}) }}" class="btn-link">{{ article.title }}</a></td>
            <td>
                {% set articleLocales = [] %}
                {% for availLocale in availLocales %}
                    {% if translationService.entityTranslations(article)[availLocale] is defined %}
                        {% set articleLocales = articleLocales | merge(['<a href="'~ path('bci_cms_article_edit', {id: article.id, locale: availLocale})~'">'~(availLocale | capitalize)~'</a>']) %}
                    {% else %}
                        {% set articleLocales = articleLocales | merge([ '<span class="disabled" style="color: #cccccc">' ~ (availLocale | capitalize) ~ '</span> <a href="'~ path('bci_cms_article_edit', {id: article.id, locale: availLocale})~'">+</a>']) %}
                    {% endif %}
                {% endfor %}
                {{ articleLocales | join(' / ') | raw }}
            </td>
            <td class="text-truncate">{{ article.publishedAt | date("Y-m-d h:i:s") }}</td>
            <td class="text-truncate">{{ article.updatedAt | date("Y-m-d h:i:s") }}</td>
            <td class="text-right">
                <a href="" class="btn btn-link btn-just-icon dropdown-toggle item-edit" type="button" id="page_drop_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">edit</i>
                </a>
                <div class="dropdown-menu" aria-labelledby="page_drop_down" >
                    {% set plocales = [] %}
                    {% for availLocale in availLocales %}
                        {% set plocales = plocales | merge(['<a class="dropdown-item" href="'~ path('bci_cms_article_edit', {'id': article.id, 'locale': availLocale})~'">'~(availLocale | capitalize)~'</a>']) %}
                    {% endfor %}
                    {{ plocales | join('') | raw }}
                </div>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">{{ 'bci.cms.general.no_record'|trans({}, 'cms_bundle') }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block footingCardaction %}
    {% if availLocales | length == 1 %}
        <a href="{{ path('bci_cms_article_new', {'id': blogId, 'locale': availLocales[0]}) }}" class="btn btn-rose ml-0 pl-3  pr-3">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
        </a>
    {% elseif availLocales | length > 1 %}
        <div class="dropdown">
            <button class="dropdown-toggle btn btn-rose" type="button" id="job_drop_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus" aria-hidden="true"></i>
                {{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}
            </button>
            <div class="dropdown-menu" aria-labelledby="job_drop_down" >
                {% for availLocale in availLocales %}
                    <a class="dropdown-item" href="{{ path('bci_cms_article_new', {'id': blogId, 'locale': availLocale}) }}">{{ 'bci.cms.blog.article.action.new'|trans({'%locale%': availLocale | capitalize}, 'cms_bundle') }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
