{% extends 'knp_menu_base.html.twig' %}

{% macro attributes(attributes) %}
{% for name, value in attributes %}
    {%- if value is not none and value is not same as(false) -%}
        {{- ' %s="%s"'|format(name, value is same as(true) ? name|e : value|e)|raw -}}
    {%- endif -%}
{%- endfor -%}
{% endmacro %}

{% block compressed_root %}
{% spaceless %}
{{ block('root') }}
{% endspaceless %}
{% endblock %}

{% block root %}
{% set listAttributes = item.childrenAttributes %}
{{ block('list') -}}
{% endblock %}

{% block list %}
{% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
    {% import _self as knp_menu %}
    <ul class="nav" {{ knp_menu.attributes(listAttributes) }}>
        {{ block('children') }}
    </ul>

{% endif %}
{% endblock %}

{% block children %}
{# save current variables #}
{% set currentOptions = options %}
{% set currentItem = item %}
{# update the depth for children #}
{% if options.depth is not none %}
{% set options = options|merge({'depth': currentOptions.depth - 1}) %}
{% endif %}
{# update the matchingDepth for children #}
{% if options.matchingDepth is not none and options.matchingDepth > 0 %}
{% set options = options|merge({'matchingDepth': currentOptions.matchingDepth - 1}) %}
{% endif %}
{% for item in currentItem.children %}
    {{ block('item') }}
{% endfor %}
{# restore current variables #}
{% set item = currentItem %}
{% set options = currentOptions %}
{% endblock %}

{% block item %}
{% if item.displayed %}
{# building the class of the item #}
    {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
    {%- if matcher.isCurrent(item) %}
        {%- set classes = classes|merge([options.currentClass]) %}
    {%- elseif matcher.isAncestor(item, options.matchingDepth) %}
        {%- set classes = classes|merge([options.ancestorClass]) %}
    {%- endif %}
    {%- if item.actsLikeFirst %}
        {%- set classes = classes|merge([options.firstClass]) %}
    {%- endif %}
    {%- if item.actsLikeLast %}
        {%- set classes = classes|merge([options.lastClass]) %}
    {%- endif %}

    {# Mark item as "leaf" (no children) or as "branch" (has children that are displayed) #}
    {% if item.hasChildren and options.depth is not same as(0) %}
        {% if options.branch_class is not empty and item.displayChildren %}
            {%- set classes = classes|merge([options.branch_class]) %}
        {% endif %}
    {% elseif options.leaf_class is not empty %}
        {%- set classes = classes|merge([options.leaf_class]) %}
    {%- endif %}

    {%- set attributes = item.attributes %}
    {%- if classes is not empty %}
        {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
    {%- endif %}
{# displaying the item #}
    {% import _self as knp_menu %}
    {% set str_attr = knp_menu.attributes(attributes) %}
    {% if (item.extras.authAttributes is defined and is_granted(item.extras.authAttributes[0])) or item.extras.authAttributes is not defined %}
        <li{{ knp_menu.attributes(attributes) }} >
            {%- if item.uri is not empty and (not matcher.isCurrent(item) or options.currentAsLink) %}
            {{ block('linkElement') }}
            {%- else %}
            {{ block('spanElement') }}
            {%- endif %}
    {# render the list of children#}
            {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
            {%- set childrenClasses = childrenClasses|merge(['menu_level_' ~ item.level]) %}
            {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}

            <div class="collapse {{ 'active-nav' in str_attr|e ? 'show' : '' }}" id="{{ item.name }}">
                {{ block('list') }}
            </div>
        </li>
    {% endif %}
{% endif %}
{% endblock %}

{% block linkElement %}
    {% import _self as knp_menu %}
    {% set str_attr = knp_menu.attributes(attributes) %}
    <a href="{{ item.uri }}"
            {{ knp_menu.attributes(item.linkAttributes) }}
            {{ 'active-nav' in str_attr|e ? 'aria-expanded="true"' : '' }}
    >
        {{ block('label') }}
    </a>
{% endblock %}

{% block spanElement %}{% import _self as knp_menu %}<span{{ knp_menu.attributes(item.labelAttributes) }}>{{ block('label') }}</span>{% endblock %}

{% block label %}
    {% if item.level <= 1 %}
        {% if item.extras.icon is defined %}
            <i class="{{ item.extras.icon }}"></i>
        {% endif %}
        <p>
            {% if options.allow_safe_labels and item.getExtra('safe_label', false) %}
                {{ item.label|raw }}{% else %}{{ item.label|trans({}, item.extras.translation_domain) }}
            {% endif %}
            {% if item.displayChildren == true %}
                <b class="caret"></b>
            {% endif %}
        </p>
    {% else %}
        {% if item.extras.icon is defined %}
        <span class="sidebar-mini"> 
            {{ (item.label|trans({}, item.extras.translation_domain)) | slice(0, 2) }}
        </span>       
        {% endif %}
       
        <span class="sidebar-normal">
            <b class="bullet"></b>
            {% if options.allow_safe_labels and item.getExtra('safe_label', false) %}
                {{ item.label|raw }}
            {% else %}
                {{ item.label|trans({}, item.extras.translation_domain) }}
            {% endif %}
            {% if item.displayChildren == true and item.level <= 1%}
                <b class="caret"></b>
            {% endif %}
        </span>
    {% endif %}
{% endblock %}
