{% form_theme form '@BciCms/Layout/shared/builder_form_layout.html.twig' %}

{% macro menuItem(item) %}
  <li
    class="dd-item"
    data-id="{{ item.id }}"
    data-name="{{ lbl_menu_item(item)   }}"
    data-original="{{ item.original is defined ? item.original : lbl_menu_item(item)  }}"
    {{ item.url is defined ? 'data-url=' ~ (item.url|trim('"')) ~ '' : '' }}
  >
    {% if item.children is defined %}
      <button data-action="collapse" type="button">Collapse</button>
      <button data-action="expand" type="button" style="display: none;">Expand</button>
    {% endif %}
    <div class="dd-handle">{{ lbl_menu_item(item)  }}</div>
    <div class="actions">
      <a class="btn btn-link btn-sm px-2 show-options" data-ice="cms.menu.toggle"><i class="fa fa-gear"></i></a>
      <a class="btn btn-link btn-sm px-2 remove-item" data-ice="cms.menu.removeItem"><i class="fa fa-trash"></i></a>
    </div>
    <div class="options">
      <div class="form-group mt-3 mb-2 p-2">
        <span class="d-block mb-1">Original: {{ lbl_menu_item(item)  }}</span>
        <input id="input-lbl-{{ random() }}" type="text" placeholder="Libellé personnalisé ..." data-ice-keyUp="cms.menu.updateLabel"  class="form-control lbl-chg w-100 mx-0 mb-1">
        <a class="btn btn-link btn-sm px-2 show-options" data-ice="cms.menu.toggle"><i class="fa fa-check"></i></a>
      </div>
    </div>
    {% if item.children is defined %}
      <ol class="dd-list">
        {% for sItem in item.children %}
          {{ _self.menuItem(sItem) }}
        {% endfor %}
      </ol>
    {% endif %}
  </li>
{% endmacro %}
{% macro isUsed(id, menuItems) %}
  {% for item in menuItems %}
      {% if item.id == id %}
          checked="Checked"
      {% endif %}
      {% if item.children is defined %}
          {{ _self.isUsed(id, item.children) }}
      {% endif %}
  {% endfor %}
{% endmacro %}
{{ form_start(form, {"attr":{"class":"col-12"}}) }}
{{ form_row(form._token) }}
<style>
  .table:hover {
    outline: dashed 1px #ccc;
  }
  .modal-open .modal, .modal, .modal-open {
    overflow-x: auto !important;
    overflow-y: auto !important;
  }
</style>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
        {% include '@BciCms/Layout/_partial/_title.html.twig' with {
          'icon' : 'sitemap'
        } %}
        <div class="float-md-right d-none d-md-inline ">
          {% block btnTop %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 " data-step="1" data-intro="{{ 'bci.cms.helper.menu.edit.step1'|trans({}, 'cms_bundle') }}">
    <div class="card">
      <div class="card-body">
        <div class="col">
          <h2>{{ 'cms_bundle.menu.infos' | trans({}, 'cms_bundle') }}</h2>
          <div class="form-group">
            {{ form_label(form.title, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
            {{ form_errors(form) }}
            {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="col">
          <h2>{{ 'cms_bundle.menu.builder' | trans({'%locale%': headingLocale | capitalize}, 'cms_bundle') }}</h2>
        </div>
        <div class="row cf nestable-lists">
          <div class="dd col-sm-12 col-lg-4" id="item-list">
              <div data-step="2" data-intro="{{ 'bci.cms.helper.menu.edit.step2'|trans({}, 'cms_bundle') }}" data-position="right">

            <h3 class="mt-0">{{ 'bci.cms.menu.avail_pages'|trans({}, 'cms_bundle') }}</h3>
            <div class="form-group page-search mt-1" >
              <input id="page-search" type="text" data-ice="cms.menu.menuFilter" placeholder="{{ 'bci.cms.menu.page_name'|trans({}, 'cms_bundle') }}" class="form-control w-100 mx-0 mb-3">
            </div>

            <div class="nestable-lists-item-wrapper">
              {% for page in avail_pages() %}
              <div class="form-check" data-id="{{ page.id }}" data-uri="{{ page.getSlugForLocale(headingLocale) }}" data-name="{{ page.name }}">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" {{ _self.isUsed(page.id, menu.unserializedMenu) }}value="{{ page.id }}" data-ice="cms.menu.update">
                  {{ page.name }}
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              {% endfor %}
            </div>
              </div>
          </div>
          <div class="dd col" id="nestable" data-step="3" data-intro="{{ 'bci.cms.helper.menu.edit.step3'|trans({}, 'cms_bundle') }}" data-position="left">
            <h3 class="mt-0">{{ 'bci.cms.menu.structure'|trans({}, 'cms_bundle') }}</h3>
            <menu id="nestable-menu">
              <button type="button" class="btn btn-sm btn-default" data-ice="cms.menu.nested" data-action="expandAll">{{ 'bci.cms.general.action.expand_all'|trans({}, 'cms_bundle') }}</button>
              <button type="button" class="btn btn-sm btn-default" data-ice="cms.menu.nested" data-action="collapseAll">{{ 'bci.cms.general.action.collapse_all'|trans({}, 'cms_bundle') }}</button>
              <button type="button"
                      data-action="true"
                      class="btn btn-sm btn-primary"
                      data-toggle="modal"
                      data-target="#addCustomItem"
                      data-step="4"
                      data-scrollTo=".main-panel"
                      data-intro="{{ 'bci.cms.helper.menu.edit.step4'|trans({}, 'cms_bundle') }}">{{ 'bci.cms.general.action.add_custom'|trans({}, 'cms_bundle') }}
              </button>
            </menu>
            <ol class="dd-list main included p-4">
              {% for item in menu.unserializedMenu() %}
                {{ _self.menuItem(item) }}
              {% endfor %}
            </ol>
          </div>
        </div>
        {{ form_widget(form.menuItems, { 'attr': {'class': 'form-control', 'style': 'opacity:0;height:0px!important'} }) }}

      </div>

      <div class="modal fade" id="hasChildrenWarning" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                <b>{{ 'bci.cms.menu.impossible'|trans({}, 'cms_bundle') }}</b>
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {{ 'bci.cms.menu.info'|trans({}, 'cms_bundle') }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'bci.cms.general.action.close'|trans({}, 'cms_bundle') }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="addCustomItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                <b>{{ 'bci.cms.menu.new_item'|trans({}, 'cms_bundle') }}</b>
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group mt-0" >
                <label>Nom du libellé</label>
                <input
                        id="new-item-label"
                        type="text"
                        data-ice-keydown="cms.menu.eventPrevent"
                        placeholder="Libellé..."
                        class="form-control ml-0 mb-3">
              </div>
              <div class="form-group mt-0">
                <label>Lien de la page</label>
                <input id="new-item-url" type="text" placeholder="URL de " data-ice-keydown="cms.menu.eventPrevent" class="form-control ml-0 mb-3">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary mr-1" data-dismiss="modal">{{ 'bci.cms.general.action.cancel'|trans({}, 'cms_bundle') }}</button>
              <button type="button" class="btn btn-primary add-custom-menu-item" data-dismiss="modal" data-ice="cms.menu.addCustomMenu">{{ 'bci.cms.menu.add_item'|trans({}, 'cms_bundle') }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-header card-header-icon cleafix p-2">
        <div class="float-left order-2 order-sm-1"  data-intro="{{ 'bci.cms.helper.menu.edit.step7'|trans({}, 'cms_bundle') }}">
          <a href="{{ path('bci_cms_page_index') }}" class="btn ml-0 pr-1 pl-1 pr-sm-3">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span>
          </a>
        </div>
        <div class="float-right order-1 order-sm-2">
          {% block btnBottom %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
{{ form_end(form, {'render_rest': false}) }}
