<form id="formDelete" method="post" action="{{ path('bci_cms_redirection_delete', {'id': redirection.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ redirection.id) }}">
</form>
