<h1 style="background: #FF7708;color:#ffffff ;padding: 5px; border-radius: 6px; margin-bottom:50px;"
    class="monolog-output">CRITICAL</h1>
<table cellspacing="1" width="100%">
    <tbody>
    <tr style="font-size:1vm% ;padding: 10px;text-align: center;">
        <th style="font-size: 1.2vw;vertical-align: top;text-align: right;background: #ffffff;color: #3C4857"
            width="100">Message:
        </th>
        <td style="padding: 4px;text-align: left;vertical-align: top;background: #fffff;color: #3C4857">
            <pre style="overflow: auto; white-space: pre-wrap;">{{ log.message }}</pre>
        </td>
    </tr>
    <tr style="font-size:1vm%;padding: 10px;text-align: center;">
        <th style="font-size: 1.2vw;vertical-align: top;text-align: right;background: #ffffff;color: #3C4857"
            width="100">Time:
        </th>
        <td style="padding: 4px;text-align: left;vertical-align: top;background: #fffff;color: #3C4857">
            <pre style="overflow: auto; white-space: pre-wrap;">{{ log.createdAt }}</pre>
        </td>
    </tr>
    <tr style="font-size:1vm% ;padding: 10px;text-align: center;">
        <th style="font-size: 1.2vw;vertical-align: top;text-align: right;background: #ffffff;color: #3C4857"
            width="100">Context:
        </th>
        <td style="padding: 4px;text-align: left;vertical-align: top;background: #fffff;color: #3C4857">
            <table cellspacing="1" width="100%">
                <tbody>
                <tr style="font-size:1vm% ;padding: 10px;text-align: center;">
                    <th style="font-size: 1.2vw;vertical-align: top;text-align: right;background: #ffffff;color: #3C4857"
                        width="100">Exception:
                    </th>
                    <td style="padding: 4px;text-align: left;vertical-align: top;background: #fffff;color: #3C4857">
                        <pre style="overflow: auto; white-space: pre-wrap;">
                            {{ EXEPTION }}
                        </pre>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>