{% form_theme form '@BciCms/Layout/shared/builder_form_layout.html.twig' %}
{{ form_start(form, {"attr":{"class":"col-12"}}) }}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
                {% include '@BciCms/Layout/_partial/_title.html.twig' with {
                    'icon': 'compass'
                } %}
                <div class="float-md-right d-none d-md-inline ">
                    {% block btnTop %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group"
                                     data-step="1"
                                     data-intro="{{ 'bci.cms.helper.redirection.edit.step1'|trans({}, 'cms_bundle') }}"
                                >
                                    {{ form_label(form.type, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                                    {{ form_errors(form) }}
                                    {{ form_widget(form.type, { 'attr': {'class': 'form-control selectpicker'} }) }}
                                </div>
                                <div class="form-group"
                                     data-step="2"
                                     data-intro="{{ 'bci.cms.helper.redirection.edit.step2'|trans({}, 'cms_bundle') }}"
                                >
                                    {{ form_label(form.fromUrl, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                                    {{ form_errors(form) }}
                                    {{ form_widget(form.fromUrl, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="form-group"
                                     data-step="3"
                                     data-intro="{{ 'bci.cms.helper.redirection.edit.step3'|trans({}, 'cms_bundle') }}"
                                >
                                    {{ form_label(form.toUrl, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                                    {{ form_errors(form) }}
                                    {{ form_widget(form.toUrl, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                {% do form.browser.setRendered() %}
                                {% do form.cookie.setRendered() %}
                                {% do form.ipAddress.setRendered() %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-icon cleafix p-2">
                <div class="float-left order-2 order-sm-1">
                    <a href="{{ path('bci_cms_redirection_index') }}" class="btn ml-0 pr-1 pl-1 pr-sm-3"
                       data-intro="{{ 'bci.cms.helper.redirection.edit.step6'|trans({}, 'cms_bundle') }}"
                    >
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span>
                    </a>
                </div>
                <div class="float-right order-1 order-sm-2"
                >
                    {% block btnBottom %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
