{% extends '@BciCms/Layout/layout.html.twig' %}

{% block content %}

    {% embed '@BciCms/job/_partial/_form.html.twig' %}

        {% block btnTop %}
            <button class="btn d-none d-md-inline btn-rose" style="padding-left: .5rem; padding-right:.5rem" type="submit" rel="tooltip" title="{{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
            <a class="btn btn-warning " style="padding-left: .5rem; padding-right:.5rem" data-ice="app.delete_submit" data-ice-params="#formDeleteTranslation" rel="tooltip" title="{{ 'bci.cms.job.action.erase'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-eraser"></i>
            </a>
            {#PREVIEW SUBMIT BUTTON #}
            {{ parent() }}
            {#PREVIEW SUBMIT BUTTON #}
            <a class="btn btn-danger " style="padding-left: .5rem; padding-right:.5rem" data-ice="app.delete_submit" data-ice-params="#formDelete" rel="tooltip" title="{{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-trash"></i>
            </a>
        {% endblock %}

        {% block btnLocales %}
            <div class="card-header card-header-primary">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            {% for availLocale in availLocales %}
                                <li class="nav-item ">
                                    <a class="nav-link {{ availLocale == locale ? ' active' : '' }}" href="{{ availLocale == locale ? '#' :  path('bci_cms_job_edit', {id: job.id, locale: availLocale}) }}">{{ ('bci.cms.job.availlocales.' ~ availLocale) | trans({}, 'cms_bundle') }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block btnBottom %}
            <button class="btn btn-rose" style="padding-left: .5rem; padding-right:.5rem" type="submit">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
            <a class="btn btn-warning " style="padding-left: .5rem; padding-right:.5rem" data-ice="app.delete_submit" data-ice-params="#formDeleteTranslation" rel="tooltip" title="{{ 'bci.cms.job.action.erase'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-eraser"></i>
            </a>
            <a class="btn btn-danger " style="padding-left: .5rem; padding-right:.5rem" data-ice="app.delete_submit" data-ice-params="#formDelete" rel="tooltip" title="{{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-trash"></i>
            </a>
        {% endblock %}

    {% endembed %}
    {{ include('@BciCms/job/_partial/_delete_form.html.twig') }}
    {{ include('@BciCms/job/_partial/_delete_translation_form.html.twig') }}
{% endblock %}
