{% extends '@BciCms/Layout/shared/index_table.html.twig' %}
{% trans_default_domain 'cms_bundle' %}
{% set icon = 'briefcase' %}
{% set jobApi = jobService.isUsedAsApi() %}
{% block headingCardAction %}
    {% if availLocales | length == 1 %}
        <a href="{{ path('bci_cms_job_new', {locale: availLocales[0]}) }}" class="btn btn-rose ml-0 pl-3  pr-3">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
        </a>
    {% elseif availLocales | length > 1 %}
        <div class="dropdown">
            <button class="dropdown-toggle btn btn-rose" type="button" id="job_drop_down" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus" aria-hidden="true"></i>
                {{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}
            </button>
            <div class="dropdown-menu" aria-labelledby="job_drop_down">
                {% for availLocale in availLocales %}
                    <a class="dropdown-item"
                       href="{{ path('bci_cms_job_new', {locale: availLocale}) }}">{{ 'bci.cms.job.action.new'|trans({'%locale%': availLocale | capitalize}, 'cms_bundle') }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block tableHead %}
    <th>{{ 'bci.cms.job.id'|trans }}</th>
    <th class="w-15">{{ 'bci.cms.job.title'|trans }}</th>
    <th class="w-15">{{ 'bci.cms.job.locales'|trans }}</th>
    {% if jobApi %}
        <th class="w-15">{{ 'bci.cms.job.websites'|trans }}</th>
    {% endif %}
    <th>{{ 'bci.cms.job.status.status'|trans }}</th>
    <th>{{ 'bci.cms.job.start_at'|trans }}</th>
    <th>{{ 'bci.cms.job.end_at'|trans }}</th>
    <th>{{ 'bci.cms.job.updatedAt'|trans }}</th>
    <th class="w-15 text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableFoot %}
    <th>{{ 'bci.cms.job.id'|trans }}</th>
    <th>{{ 'bci.cms.job.title'|trans }}</th>
    <th>{{ 'bci.cms.job.locales'|trans }}</th>
    {% if jobApi %}
        <th class="w-15">{{ 'bci.cms.job.websites'|trans }}</th>
    {% endif %}
    <th>{{ 'bci.cms.job.status.status'|trans }}</th>
    <th>{{ 'bci.cms.job.start_at'|trans }}</th>
    <th>{{ 'bci.cms.job.end_at'|trans }}</th>
    <th>{{ 'bci.cms.job.updatedAt'|trans }}</th>
    <th class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableBody %}
    {% for job in jobs %}
        <tr>
            <td>{{ job.id }}</td>
            {% if job.title %}
                <td title="{{ job.title }}" >
                    {{ job.title }}
                </td>
            {% else %}
                <td>
                   <b style="color: #e31513 !important">{{ 'bci.cms.job.noTranslation'|trans }}</b>
                </td>
            {% endif %}
            <td>
                {% set jobLocales = [] %}
                {% for availLocale in availLocales %}
                    {% if translationService.entityTranslations(job)[availLocale] is defined %}
                        {% set jobLocales = jobLocales | merge(['<a href="'~ path('bci_cms_job_edit', {id: job.id, locale: availLocale})~'">'~(availLocale | capitalize)~'</a>']) %}
                    {% else %}
                        {% set jobLocales = jobLocales | merge([ '<span class="disabled" style="color: #cccccc">' ~ (availLocale | capitalize) ~ '</span> <a href="'~ path('bci_cms_job_edit', {id: job.id, locale: availLocale})~'">+</a>']) %}
                    {% endif %}
                {% endfor %}
                {{ jobLocales | join(' / ') | raw }}
            </td>
            {% if jobApi %}
                <td>
                    {% for website in job.websites %}
                        {{ website.name }} <br>
                    {% endfor %}
                </td>
            {% endif %}
            <td>{{ job.status ? 'bci.cms.job.status.active'|trans : 'bci.cms.job.status.archive'|trans }}</td>
            <td>{{ job.startAt ? job.startAt|date('Y-m-d H:i:s') : 'bci.cms.job.no_date'|trans}}</td>
            <td>{{ job.endAt ? job.endAt|date('Y-m-d H:i:s') : 'bci.cms.job.no_date'|trans }}</td>
            <td>{{ job.updatedAt|date('Y-m-d H:i:s') }}</td>
            <td class="text-right">
                {% set subscripstionsInfo = jobService.jobFormSubscriptionsNotifications(job) %}
                {% if subscripstionsInfo['subsCount'] <= 0 %}
                    <a href="" onclick="return false;" style="color: lightgray;cursor: not-allowed" rel="tooltip" title="{{ 'bci.cms.job.nosubscriptions'|trans({}, 'cms_bundle')}}" class="btn btn-link btn-just-icon">
                {% elseif subscripstionsInfo['subsCount'] > 0 and subscripstionsInfo['newSubs'] <= 0  %}
                    <a href="{{ path('bci_cms_job_subscriptions', {'id': job.id}) }}" rel="tooltip" title="{{ 'bci.cms.job.subscriptions'|trans({'%nb%': subscripstionsInfo['subsCount'] }, 'cms_bundle')}}" class="btn btn-link btn-just-icon">
                {% else %}
                    <a href="{{ path('bci_cms_job_subscriptions', {'id': job.id}) }}" rel="tooltip" title="{{ 'bci.cms.job.newsubscriptions'|trans({'%nb%': subscripstionsInfo['subsCount'], '%newNb%': subscripstionsInfo['newSubs']  }, 'cms_bundle')}}" class="btn btn-link btn-just-icon">
                {% endif %}
                    <i class="material-icons">
                        question_answer
                    </i>
                    {% if subscripstionsInfo['newSubs'] > 0 and subscripstionsInfo['subsCount'] > 0 %}
                        <span class="notification">{{ subscripstionsInfo['newSubs'] }}</span>
                    {% endif %}
                </a>
                <a href="" class="btn btn-link btn-just-icon dropdown-toggle item-edit" type="button" id="page_drop_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">edit</i>
                </a>
                <div class="dropdown-menu" aria-labelledby="page_drop_down" >
                    {% set plocales = [] %}
                    {% for availLocale in availLocales %}
                        {% set plocales = plocales | merge(['<a class="dropdown-item" href="'~ path('bci_cms_job_edit', {'id': job.id, 'locale': availLocale})~'">'~(availLocale | capitalize)~'</a>']) %}
                    {% endfor %}
                    {{ plocales | join('') | raw }}
                </div>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8">{{ 'bci.cms.general.no_record'|trans({}, 'cms_bundle') }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block footingCardaction %}
    {% if availLocales | length == 1 %}
        <a href="{{ path('bci_cms_job_new', {locale: availLocales[0]})  }}" class="btn btn-rose pl-3 ml-0 pr-3">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
        </a>
    {% elseif availLocales | length > 1 %}
        <div class="dropdown">
            <button class="dropdown-toggle btn btn-rose" type="button" id="job_drop_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus" aria-hidden="true"></i>
                {{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}
            </button>
            <div class="dropdown-menu" aria-labelledby="job_drop_down" >
                {% for availLocale in availLocales %}
                    <a class="dropdown-item" href="{{ path('bci_cms_job_new', {locale: availLocale}) }}">{{ 'bci.cms.job.action.new'|trans({'%locale%': availLocale | capitalize}, 'cms_bundle') }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}