{% extends '@BciCms/Layout/layout.html.twig' %}

{% block content %}
    {% embed '@BciCms/job/_partial/_form.html.twig' %}

        {% block btnTop %}
            <button class="btn d-none d-md-inline btn-rose" style="padding-left: .5rem; padding-right:.5rem" type="submit">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
            </button>
            <div style="display: none">
                {#PREVIEW SUBMIT BUTTON #}
                {{ parent() }}
                {#PREVIEW SUBMIT BUTTON #}
            </div>
        {% endblock %}

        {% block btnBottom %}
            <button class="btn btn-rose" style="padding-left: .5rem; padding-right:.5rem" type="submit">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
            </button>
        {% endblock %}

    {% endembed %}
{% endblock %}

