{% extends '@BciCms/Layout/shared/index_table.html.twig' %}
{% set icon = 'list-alt' %}

{% block headingCardAction %}
{% endblock %}

{% block tableHead %}
    <th>{{ 'bci.cms.form.id'|trans({}, 'cms_bundle') }}</th>
    {% set ctr = 1 %}
    {% for item in toDisplayItems %}
        <th>{{ item.getLabel(app.request.locale) }}</th>
    {% endfor %}
    <th>{{ 'bci.cms.job.formSender'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.form.received'|trans({}, 'cms_bundle') }}</th>
    <th class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableFoot %}
    <th class="text-left">{{ 'bci.cms.form.id'|trans({}, 'cms_bundle') }}</th>
    {% for item in toDisplayItems %}
        <th>{{ item.getLabel(app.request.locale) }}</th>
    {% endfor %}
    <th>{{ 'bci.cms.job.formSender'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.form.received'|trans({}, 'cms_bundle') }}</th>
    <th class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableBody %}
    {% for subscription in subscriptions %}
        <tr>
            <td>{{ subscription.id }}</td>
            {% for item in toDisplayItems %}
                <td>
                    {{ subscription.getAnswerByFormItem(item).getValue }}
                </td>
            {% endfor %}
            <td>
                {% if apiService is defined %}
                    {{ apiService.belongTo(subscription.referer) }}
                {% else %}
                    {{ subscription.referer }}
                {% endif %}
            </td>
            <td>{{ subscription.createdAt|date('Y-m-d H:i:s') }}</td>
            <td class="text-right">
                <a href="{{ path('bci_cms_job_view_subscription', {'job_id':job.id, 'id': subscription.id}) }}"
                   rel="tooltip" title="{{ 'bci.cms.general.action.show'|trans({}, 'cms_bundle') }}"
                   data-originial-title="{{ 'bci.cms.general.action.show'|trans({}, 'cms_bundle') }}"
                   class="btn btn-link btn-just-icon"> 
                    <i class="material-icons">visibility</i>
                    {% if not subscription.getStatut() %}
                        <span class="notification"></span>
                    {% endif %}
                </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8">{{ 'bci.cms.general.no_record'|trans({}, 'cms_bundle') }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block footingCardaction %}
    <div class="float-left order-2 order-sm-1">
        <a href="{{ path('bci_cms_job_index') }}" class="btn ml-0 pr-1 pl-1 pr-sm-3">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span>
        </a>
    </div>
{% endblock %}

