{% extends '@BciCms/Layout/layout.html.twig' %}
{% block content %}
    {% embed '@BciCms/job/_partial/_data.html.twig' %}
        {% block btnTop %}
        {% endblock %}
        {% block btnBottom %}
        {% endblock %}
    {% endembed %}
{% endblock %}

