{% set style = '' %}
{% if meta.vars.value %}
    {% set name = meta.vars.value.name %}
    {% set property = meta.vars.value.property %}
    {% if meta.vars.value.type != 'CUSTOMS' %}
        {% set style = 'display:none' %}
    {% endif %}
{% else %}
    {% set style = 'display:none' %}
{% endif %}
<div class="col-12 ml-auto mr-auto card">
    <div class="card-body metaPrototype">
        <div class="row">
            <div class="col-9">
                {{ form_label(meta.accessor, null, { 'label_attr': {'class': 'col-sm-12'} }) }}
                {{ form_widget(meta.accessor, { 'attr': {'class': 'metaSelect form-control selectpicker'} }) }}
            </div>
            <div class="col-1"></div>
            <div class="col-2" style="margin-top: 1.6%">
                <label class="col-sm-12 col-12 label-on-left white-space-normal"></label>
                <button type="button" data-ice="app.removeMeta"
                        class="btn btn-danger float-right">{{ 'bci.cms.meta.remove'|trans({},'cms_bundle') }}</button>
            </div>
        </div>
        <div class="trmetaname" style="{{ style }}">
            {{ form_label(meta.name, null, { 'label_attr': {'class': 'col-sm-12'} }) }}
            {{ form_widget(meta.name, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="trmetaproperty" style="{{ style }}">
            {{ form_label(meta.property, null, { 'label_attr': {'class': 'col-sm-12'} }) }}
            {{ form_widget(meta.property, { 'attr': {'class': 'form-control'} }) }}
        </div>
        {% if meta.vars.data is not null %}
            {% if meta.vars.data.image %}
                {% set imagePath = vich_uploader_asset(meta.vars.data.image, 'tempFile', 'Bci\\CmsBundle\\Entity\\UploadableFileCms') %}
            {% else %}
                {% set imagePath = "" %}
            {% endif %}
        {% else %}
            {% set imagePath = "" %}
        {% endif %}
{#            {{ form_widget(form.image.tempFile, { 'attr': {'class': 'hidden-row', 'filepath': imagePath } }) }}#}


        {% if property is defined and name is empty and 'image' in property %}
            {{ _self.content(meta, 'display:none') }}
            <div class="trmetaimagefile">
                {{ form_widget(meta.image.tempFile, { 'attr': {'class': '', 'filepath': imagePath} }) }}
            </div>
        {% elseif name is defined and property is empty and 'image' in name %}
            {{ _self.content(meta, 'display:none') }}
            <div class="trmetaimagefile">
                {{ form_widget(meta.image.tempFile, { 'attr': {'class': '', 'filepath': imagePath} }) }}
            </div>
        {% else %}
           {{ _self.content(meta, '') }}
            <div class="trmetaimagefile" style="display: none">
                {{ form_widget(meta.image.tempFile, { 'attr': {'class': '', 'filepath': imagePath} }) }}
            </div>
        {% endif %}
    </div>
</div>

{% macro content (meta, style) %}
    <div class="trmetacontent" style="{{ style }}">
        {{ form_label(meta.content, null, { 'label_attr': {'class': 'col-sm-12'} }) }}
        {{ form_widget(meta.content, { 'attr': {'class': 'form-control'} }) }}
    </div>
{% endmacro %}