{% form_theme form '@BciCms/Layout/shared/builder_form_layout.html.twig' %}

{{ form_start(form, {"attr":{"class":"h-100"}}) }}
{{ form_widget(form._token) }}
        <div class="card">

            <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
                {% include '@BciCms/Layout/_partial/_title.html.twig' with { 'icon': 'square' } %}

                <div class="float-md-right d-none d-md-inline ">
                    {% block btnTop %}
                    {% endblock %}
                </div>

            </div>{# .card-header #}

        </div>{# .card #}


{# INFO DU BLOCK #}
<div class="adjustments-line  bg-white" id="collapseFixed-Plugin-item1" aria-labelledby="collapseFixed-Plugin-item1" data-parent="#accordionFixed-Plugin">
    <div class="p-4">
        <div class="form-group">
            {{ form_label(form.name, null, { 'label_attr': {'class': ''} }) }}
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
</div>


<div class="col-12 col-xl-12 pl-0 pr-0" id="blockCode">

    <div class="card h-100">

        <div class="row col-12 pl-0 pr-0 shadow">

            {# BLOCK DE CODE #}
            <div class="codeMirror-border-radius-wrap col-12 col-xl-9 pl-0 pr-0" data-step="1"  data-intro='{{ 'bci.cms.helper.block.edit.step1'|trans({}, 'cms_bundle') }}' >
                {{ form_widget(form.content) }}
            </div>

            <div class="col-12 h-100 overflow-auto col-xl-3 pl-0 pr-0"
                 data-step="2"
                 data-intro="{{ 'bci.cms.helper.block.edit.step2'|trans({}, 'cms_bundle') }}" >

                <div class="col-12 config-panel collapse show accordion pl-0 pr-0" id="collapseFixed-Plugin">

                    <div id="accordionFixed-Plugin">

                        <ul class="dropdown-menu shadow-none position-static col-12 show p-0 d-block" x-placement="bottom-start" >

                            <li class="adjustments-line h-100">

                                <ul id="fields"  data-prototype="{% filter escape %} {{ include('@BciCms/Layout/shared/prototype.html.twig', { 'form': form.fields.vars.prototype }) }} {% endfilter %}" data-widget-tags="{{ '<div></div>'|e  }}" class="p-0">

                                    {% for field in form.fields %}
                                    {% set fieldId = field.vars.data.getIdentifier() %}

                                    <li class="border-bottom card" >

                                        <div data-target="#collapseFixed-Plugin-items-heading{{ fieldId }}" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFixed-Plugin-items-heading{{ fieldId }}" class="div-drop-down d-inline-flex justify-content-between col-12">
                                            <a  class="header-title d-block">Propriété {{ field.vars.value.name }} </a><i class="material-icons d-block">arrow_drop_down</i>
                                        </div>

                                        <div class="adjustments-line collapse" id="collapseFixed-Plugin-items-heading{{ fieldId }}" aria-labelledby="collapseFixed-Plugin-items-heading{{ fieldId }}" data-parent="#accordionFixed-Plugin" >

                                            <div class="container">

                                                {{ form_row(field.name) }}
                                                {{ form_row(field.value) }}
{#                                                {{ form_row(field.placeholder) }}#}
                                                {{ form_row(field.attr) }}
                                                {{ form_row(field.tag) }}

                                            </div>

                                            <div class="d-flex justify-content-end">
                                                <button type="button" class="btn btn-rose btnCpy" 
                                                data-cc="{{ fieldId }}" 
                                                data-bid="{{ block.id }}" 
                                                data-tag="{% if field.vars.value.tag is not empty %}{{ field.vars.value.tag }}{% else %}p{% endif %}" 
                                                data-plh="{{ field.vars.value.placeholder }}" 
                                                data-attr="{{ field.vars.value.attr }}" 
                                                data-vd="{{ field.vars.value.value }}" >

                                                    <i class="fa fa-copy mr-3"></i>{{ 'bci.cms.block.copy'|trans({}, 'cms_bundle') }}
                                                </button>

                                                <button type="button" class="btn btn-primary"  data-ice="app.removePrototype"><i class="fa fa-trash mr-3"></i>{{ 'bci.cms.block.remove'|trans({}, 'cms_bundle') }}</button>


                                            </div>

                                        </div>{# .adjustments-line #}

                                    </li>

                                    {% endfor %}

                                </ul>{# #fields #}

                            </li>{# .adjustments-line #}

                            <li>
                                <button type="button" rel="tooltip" title="Add custom field" data-original-title="Add custom field" data-container="#fields" data-ice="app.addFromPrototype" class="btn btn-link btn-primary btn-sm">
                                    <i class="material-icons">add</i>
                                </button>
                            </li>

                        </ul>

                    </div>{# #accordionFixed-Plugin #}

                </div>

            </div>

        </div>{# .row .shadow #}


    </div>{# .card #}

</div>

<div class="col-12 mt-3 transp">

    <div class="card"> 

        <div class="card-header card-header-icon cleafix p-2">

            <div class="float-left order-2 order-sm-1"
                 data-intro="{{ 'bci.cms.helper.block.edit.step5'|trans({}, 'cms_bundle') }}"
            >

                <a href="{{ path('bci_cms_block_index') }}" class="btn ml-0 pr-1 pl-1 pr-sm-3">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span>
                </a>

            </div>

            <div class="float-right order-1 order-sm-2"

            >

                {% block btnBottom %}
                {% endblock %}
                
            </div>

        </div>

    </div>

</div>

{{ form_end(form) }}
