{% form_theme form '@BciCms/Layout/shared/blog_builder_form_layout.html.twig' %}
{{ form_start(form, {"attr":{"class":"col-12"}}) }}
{% trans_default_domain 'cms_bundle' %}
<style>

    .img-thumb{
        height: 170px;
    }
    .ui-state-highlight{
        background-color: rgb(245, 243, 243);
        height: 200px!important;
        border-radius: 15px!important;
        box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    }

    .pos {
        border: none !important;
        border-width: 0;
        box-shadow: none;
        background-color: transparent !important;
        pointer-events: none;
    }

    .pos:hover {
        background-color: transparent !important;
    }

    .pos:focus {
        background-color: transparent !important;
    }

    .tr-bg {
        background-color: white!important;
        border-radius: 15px!important;
        box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    }
    .drag-handle{
        cursor: grab;
        color: #999999;
        transition: all .2s ease-in-out;
    }
    .drag-handle:hover{
        color: #727272;
        transform: scale(1.4);
    }
    .drag-handle:hover:active{
        color: #727272;
        transform: scale(1.4);
    }
    .no-border-drag{
        border: none!important;
    }
    .ui-sortable-helper {
        display: table;
        border-color: transparent!important;
    }
    .bootstrap-datetimepicker-widget{
        z-index: 999999999;
        pointer-events: all;
        display: block;
    }
    .carousel-list-no-image-wrapper{
        position: relative;
    }
    .carousel-list-no-image{
        position: absolute;
        top: 35%;
        left: 25%;
        text-align: center
    }

</style>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
                {% include '@BciCms/Layout/_partial/_title.html.twig' with {
                    'icon': 'exchange'
                } %}
                <div class="float-md-right d-none d-md-inline ">
                    {% block btnTop %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    {# CAROUSEL INFO #}
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 style="margin-top: 2%;margin-left: 10%;margin-bottom: 2%;">{{ 'bci.cms.carousel.name'|trans }}</h2>
                <div class="row">
                    <div class="col-md-7 col-sm-12 ml-auto mr-auto">
                        <div class="form-group">
                            {{ form_label(form.title, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                            {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# SLIDES #}
    {% if carousel.id %}
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% if carousel.id %}
                        {% if availLocales | length == 1 %}
                            <a href="{{ path('bci_cms_slide_new', {'id': carousel.id, 'locale': availLocales[0]}) }}"
                               class="btn btn-rose ml-0 pl-3  pr-3" style="float: right">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
                            </a>
                        {% elseif availLocales | length > 1 %}
                            <div class="dropdown" style="float: right">
                                <button class="dropdown-toggle btn btn-rose" type="button" id="locale_drop_down"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    {{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="locale_drop_down">
                                    {% for availLocale in availLocales %}
                                        <a class="dropdown-item"
                                           href="{{ path('bci_cms_slide_new', {'id': carousel.id, 'locale': availLocale}) }}">{{ 'bci.cms.carousel.slide.action.new'|trans({'%locale%': availLocale | capitalize}, 'cms_bundle') }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    <h2 style="margin-top: 2%;margin-left: 10%;margin-bottom: 2%;">{{ 'bci.cms.carousel.slides'|trans }}</h2>
                    <div class="row">
                        <div class="col-12">
                            <div class="">
                                <table id="datatables"
                                       class="table  table-no-bordered table-hover dataTable dtr-inline"
                                       cellspacing="0" width="100%" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th class="text-left">{{ 'bci.cms.carousel.slide.position'|trans({}, 'cms_bundle') }}</th>
                                        <th>{{ 'bci.cms.carousel.slide.image'|trans({}, 'cms_bundle') }}</th>
                                        <th>{{ 'bci.cms.carousel.slide.title'|trans({}, 'cms_bundle') }}</th>
                                        <th>{{ 'bci.cms.carousel.slide.locales'|trans({}, 'cms_bundle') }}</th>
                                        <th>{{ 'bci.cms.carousel.slide.status.status'|trans({}, 'cms_bundle') }}</th>
                                        <th>{{ 'bci.cms.carousel.slide.start_at'|trans({}, 'cms_bundle') }}</th>
                                        <th>{{ 'bci.cms.carousel.slide.end_at'|trans({}, 'cms_bundle') }}</th>
                                        <th class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th class="text-left">{{ 'bci.cms.carousel.slide.position'|trans({}, 'cms_bundle') }}</th>
                                        <th>{{ 'bci.cms.carousel.slide.image'|trans({}, 'cms_bundle') }}</th>
                                        <th>{{ 'bci.cms.carousel.slide.title'|trans({}, 'cms_bundle') }}</th>
                                        <th>{{ 'bci.cms.carousel.slide.locales'|trans({}, 'cms_bundle') }}</th>
                                        <th>{{ 'bci.cms.carousel.slide.status.status'|trans({}, 'cms_bundle') }}</th>
                                        <th>{{ 'bci.cms.carousel.slide.start_at'|trans({}, 'cms_bundle') }}</th>
                                        <th>{{ 'bci.cms.carousel.slide.end_at'|trans({}, 'cms_bundle') }}</th>
                                        <th class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
                                    </tr>
                                    </tfoot>
                                    <tbody class="sort-img">
                                    {% for slide in form.slides|sort((a, b) => a.vars.value.position <=> b.vars.value.position) %}
                                        <tr class="tr-bg">
                                            <td class="">
                                                <div class="row">
                                                    <div class="col-4" style="margin-left: 20px;">
                                                        <i class="drag-handle fa fa-ellipsis-v fa-3x" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="col-5"> {{ form_widget(slide.position, { 'attr': {'class': 'pos'} }) }}</div>
                                                </div>

                                            </td>
                                            <td>
                                                {% if slide.vars.value.image is not null %}
                                                    {% set imagePath = vich_uploader_asset(slide.vars.value.image, 'tempFile', 'Bci\\CmsBundle\\Entity\\UploadableFileCms') %}
                                                    <div>
                                                        <img class="img-thumb" src="{{ imagePath }}" alt="{{ slide.vars.value.title }}">
                                                    </div>
                                                {% else %}
                                                    <div class="img-thumb carousel-list-no-image-wrapper">
                                                        <div class="carousel-list-no-image">
                                                            <i class="fa fa-picture-o" aria-hidden="true"></i><br>
                                                            {{ 'bci.cms.carousel.slide.noImage'|trans }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </td>
                                            <td style="">
                                                {% if slide.vars.value.title %}
                                                    <a href="{{ path('bci_cms_slide_edit', {'id': slide.vars.value.id}) }}"
                                                       class="btn-link">{{ slide.vars.value.title|striptags|raw }}</a>
                                                {% else %}
                                                    <b style="color: #e31513 !important">{{ 'bci.cms.carousel.slide.noTranslation'|trans }}</b>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% set slideLocales = [] %}
                                                {% for availLocale in availLocales %}
                                                    {% if translationService.entityTranslations(slide.vars.value)[availLocale] is defined %}
                                                        {% set slideLocales = slideLocales | merge(['<a href="'~ path('bci_cms_slide_edit', {id: slide.vars.value.id, locale: availLocale})~'">'~(availLocale | capitalize)~'</a>']) %}
                                                    {% else %}
                                                        {% set slideLocales = slideLocales | merge([ '<span class="disabled" style="color: #cccccc">' ~ (availLocale | capitalize) ~ '</span> <a href="'~ path('bci_cms_slide_edit', {id: slide.vars.value.id, locale: availLocale})~'">+</a>']) %}
                                                    {% endif %}
                                                {% endfor %}
                                                {{ slideLocales | join(' / ') | raw }}
                                            </td>
                                            <td>{{ slide.vars.value.status and slide.vars.value.status ? 'bci.cms.carousel.slide.status.active'|trans({}, 'cms_bundle') : 'bci.cms.carousel.slide.status.archive'|trans({}, 'cms_bundle') }}</td>
                                            <td class="text-truncate">
                                                {% if  slide.vars.value.startAt %}
                                                    {{ slide.vars.value.startAt | date("Y-m-d h:i:s") }}
                                                {% else %}
                                                    {{ 'bci.cms.carousel.slide.no_date'|trans({}, 'cms_bundle') }}
                                                {% endif %}
                                            </td>
                                            <td class="text-truncate">
                                                {% if  slide.vars.value.endAt %}
                                                    {{ slide.vars.value.endAt | date("Y-m-d h:i:s") }}
                                                {% else %}
                                                    {{ 'bci.cms.carousel.slide.no_date'|trans({}, 'cms_bundle') }}
                                                {% endif %}
                                            </td>
                                            <td class="text-right">
                                                <a href=""
                                                   class="btn btn-link btn-just-icon dropdown-toggle item-edit"
                                                   type="button" id="page_drop_down" data-toggle="dropdown"
                                                   aria-haspopup="true" aria-expanded="false">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="page_drop_down">
                                                    {% set plocales = [] %}
                                                    {% for availLocale in availLocales %}
                                                        {% set plocales = plocales | merge(['<a class="dropdown-item" href="'~ path('bci_cms_slide_edit', {'id': slide.vars.value.id, 'locale': availLocale})~'">'~(availLocale | capitalize)~'</a>']) %}
                                                    {% endfor %}
                                                    {{ plocales | join('') | raw }}
                                                </div>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="7">{{ 'bci.cms.general.no_record'|trans({}, 'cms_bundle') }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <style>
                            .dataTables_length {
                                max-width: 100px !important;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% do form.slides.setRendered %}
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-icon cleafix p-2">
                <div class="float-left order-2 order-sm-1">
                    <a href="{{ path('bci_cms_carousel_index') }}" class="btn ml-0 pr-1 pl-1 pr-sm-3">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span>
                    </a>
                </div>
                <div class="float-right order-1 order-sm-2">
                    {% block btnBottom %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
