{% extends 'form_div_layout.html.twig' %}

{%- block avatar_widget -%}
    {% spaceless %}
        <div class="fileinput text-center fileinput-new" data-provides="fileinput">
            <div class="fileinput-new thumbnail img-circle">
                <img src="{{ asset('/bundles/core/img/faces/placeholder.jpg') }}" alt="...">
            </div>
            <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
            <div>
                <span class="btn btn-round btn-rose btn-file">
                    <span class="fileinput-new">Add Photo</span>
                    <span class="fileinput-exists">Change</span>
                <div class="ripple-container"><div class="ripple ripple-on ripple-out" style="417left: 76px; top: 18px; background-color: rgb(255, 255, 255); transform: scale(15.75);"></div></div></span>
                <br>
                <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: 68px; top: 17px; background-color: rgb(255, 255, 255); transform: scale(15.5488);"></div></div></a>
                <input type="file" {{ block('widget_attributes') }}{% if value is not empty %} value="{{ value }}"{% endif %}  style="opacity:1"/>
            </div>
        </div>
    {% endspaceless %}
{%- endblock avatar_widget -%}

{%- block form_failsafe -%}
    {% spaceless %}
        {% if errors|length %}
            <div class="alert alert-danger">
                <button type="button" aria-hidden="true" class="close" onClick="$(this).parent().fadeOut(400, function() { $(this).remove(); })">
                    <i class="material-icons">close</i>
                </button>
                <ul>
                    {% for field, error in errors %}
                        {% if error is iterable %}
                            {% if error.message is not defined %}
                                {% if field == '' %}
                                    {% for child in error %}
                                        {% if child.message is defined %}
                                            <li>{{ (child.message|transchoice(0, child.parameters))|transchoice(0, child.parameters, 'validation')|raw }}</li>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <li>
                                        <strong>{{ field|trans({}, error[0].translation_domain|default('')) }} :</strong>
                                        <ul>
                                            {% for child in error %}
                                                {% if child.message is defined %}
                                                    <li>{{ (child.message|transchoice(0, child.parameters))|transchoice(0, child.parameters, 'validation')|raw }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% else %}
                                <li>{{ error.message|transchoice(0, error.parameters, 'validation')|raw }}</li>
                            {% endif %}
                        {% else %}
                            <li>{{ error.message|transchoice(0, error.parameters, 'validation')|raw }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endspaceless %}
{%- endblock form_failsafe -%}

