{% for type, flash in app.session.flashBag.all() %}
    <div id="alert-flashes" class="col-12">
        <div class="card card-plain mb-2">
            <div class="alert alert-{{ type }} mb-0 d-flex align-items-center">
                <span class="material-icons pr-1">{{ type == 'danger' ? 'error_outline' : 'check_circle_outline' }}</span>
                {{ flash[0]|raw }}
                <span class="close-alert material-icons ml-auto">highlight_off</span>
            </div>
        </div>
    </div>
{% endfor %}
{% import _self as macro %}
{% if form is defined %}
    {% spaceless %}
        {% if not form.vars.valid %}
            <div id="alert-flashes" class="col-12">
                <div class="card card-plain mb-2">
                    <div class="alert alert-danger mb-0 d-flex align-items-center">
                        <span class="material-icons pr-1">error_outline</span>
                        {{ macro.displayFormErrors(form.children) }}
{#                        {% for children in form.children %}#}
{#                            {% if not children.vars.valid %}#}
{#                                <ul class="mb-0">#}
{#                                    {% for error in children.vars.errors %}#}
{#                                        <li><b>{{ children.vars.label|trans({}, 'cms_bundle') }}</b>: {{ error.message }}</li>#}
{#                                    {% endfor %}#}
{#                                </ul>#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
                        <span class="close-alert material-icons ml-auto">highlight_off</span>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endspaceless %}
{% endif %}



{% macro displayFormErrors(formChildren) %}
    {% for subChild in formChildren  %}
        {% if not subChild.vars.valid and subChild.vars.errors|length > 0 %}
            <ul class="mb-0">
                {% for error in subChild.vars.errors %}
                    <li><b>{{ subChild.vars.label|trans({}, 'cms_bundle') }}</b>: {{ error.message }}</li>
                {% endfor %}
            </ul>
        {% elseif not subChild.vars.valid %}
            {% import _self as selfCall %}
            {{ selfCall.displayFormErrors(subChild) }}
        {% endif %}
    {% endfor %}
{% endmacro displayFormErrors %}