{% extends '@BciCms/Layout/layout.html.twig' %}

{% block content %}
    {# <div class="col-12"> #}
        <div class="card">
            <div class="card-header card-header-primary card-header-icon cleafix p-1">
                {% include '@BciCms/Layout/_partial/_title.html.twig' with {
                    'icon': icon
                } %}
                <div class="float-right d-md-inline">
                    {% block headingCardAction %}
                        <a href="#" class="btn btn-rose ml-0 pl-3  pr-3">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
                        </a>
                    {% endblock %}
                </div>
            </div>
        </div>
    {# </div> #}


    {# <div class="col-12 col-xl-12"> #}
        <div class="card">
            <div class="card-body">
                <div class="material-datatables">
                    <table id="datatables"
                           class="table table-striped table-no-bordered table-hover dataTable dtr-inline"
                           cellspacing="0" width="100%" style="width:100%">
                        <thead>
                        <tr>
                            {% block tableHead %}{% endblock %}
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            {% block tableFoot %}{% endblock %}
                        </tr>
                        </tfoot>
                        <tbody>
                        {% block tableBody %}{% endblock %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {# </div> #}


    {% if no_button is not defined or no_button != true %}
        <div class="card">
            <div class="card-header card-header-icon cleafix p-1">
                <div class="float-right order-1 order-sm-2">
                    {% block footingCardaction %}
                        <a href="#" class="btn btn-rose ml-0 pl-3  pr-3">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
                        </a>
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}