{% macro flash(form) %}
    {% include "AppCoreBundle:shared:flash.html.twig" with { form: form|default(null) } %}
{% endmacro %}

{% macro module_name(request) %}
    {% set parts = request.attributes.get("_controller")|split('\\') %}
    {% set domain = parts[1]|lower|replace({'bundle': '_bundle'}) %}
    {% set module = parts|last|split('::')|first|replace({'Controller': ''})|lower %}
    {{ (domain ~ '.' ~ module ~'.name')|trans({}, domain) }}
{% endmacro %}

{% macro module_action(request) %}
    {% set parts = request.attributes.get("_controller")|split('\\') %}
    {% set domain = parts[1]|lower|replace({'bundle': '_bundle'}) %}
    {% set module = parts|last|split('::')|first|replace({'Controller': ''})|lower %}
    {% set action = parts|last|split('::')|last|lower %}
    {{ (domain ~ '.' ~ module ~ '.' ~ action)|trans({}, domain) }}
{% endmacro %}

{% macro userType() %}
{# %  if is_granted('ROLE_ADMIN') %}{{ 'admin' }}{% elseif is_granted('ROLE_CLIENT') %}{{ 'client' }}{% else %}{{ 'default' }}{% endif % #}
{% endmacro %}

{% macro modal_alert(name, question) %}
    {% include 'AppCoreBundle:shared:modal.alert.html.twig' with {
        modal_name: name,
        modal_question: question
    } %}
{% endmacro %}

{% macro format_date(dateToFormat) %}
    {% set months = {
        'January':      'Janvier',
        'February':     'Février',
        'March':        'Mars',
        'April':        'Avril',
        'May':          'Mai',
        'June':         'Juin',
        'July':         'Juillet',
        'August':       'Août',
        'September':    'Septembre',
        'Octobre':      'October',
        'November':     'Novembre',
        'December':     'Décembre',
    } %}
    {{ dateToFormat|date('j') }} {{ months[dateToFormat|date('F')] }} {{ dateToFormat|date('Y') }}
{% endmacro %}
