<div class="modal fade in" id="smallAlertModal" tabindex="-1" role="dialog" aria-labelledby="{{ modal_name }}" aria-hidden="true">
    <div class="modal-dialog modal-small ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
            </div>
            <div class="modal-body text-center">
                <h5>{{ modal_question }}</h5>
            </div>
            <div class="modal-footer text-center">
                {% block actions %}
                    <button type="button" class="btn btn-simple" data-dismiss="modal" id="modal_no">{{ 'core.modal.no'|trans({}, 'core') }}<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: 56.4531px; top: 22px; background-color: rgb(153, 153, 153); transform: scale(12.7949);"></div><div class="ripple ripple-on ripple-out" style="left: 64.4531px; top: 20px; background-color: rgb(153, 153, 153); transform: scale(12.7949);"></div></div></button>
                    <button type="button" class="btn btn-success btn-simple" id="modal_yes">{{ 'core.modal.yes'|trans({}, 'core') }}</button>
                {% endblock %}
            </div>
        </div>
    </div>
</div>