<li class="card">
    <div data-target="#collapseFixed-Plugin-items-heading__name__" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFixed-Plugin-items-heading__name__" class="div-drop-down d-inline-flex justify-content-between col-12">
        <a  class="header-title d-block">Propriété __name__</a><i class="material-icons d-block">arrow_drop_down</i>
    </div>
    <div class="adjustments-line collapse" id="collapseFixed-Plugin-items-heading__name__" aria-labelledby="collapseFixed-Plugin-items-heading__name__" data-parent="#accordionFixed-Plugin">
        <div class="container">
            {{ form_row(form.name) }}
            {{ form_row(form.value) }}
{#            {{ form_row(form.placeholder) }}#}
            {{ form_row(form.attr) }}
            {{ form_row(form.tag) }}
        </div>
        <div class="d-flex justify-content-end">

            <button type="button" class="btn btn-rose btnCpy" 
            data-cc="" 
            data-bid="{{ block.id }}" 
            data-tag="p" 
            data-plh="" 
            data-attr="" 
            data-vd=""
            disabled="true" >

                <i class="fa fa-copy mr-3"></i>{{ 'bci.cms.block.copy'|trans({}, 'cms_bundle') }}

            </button>
            <button type="button" class="btn btn-primary" data-ice="app.removePrototype">{{ 'bci.cms.block.remove'|trans({}, 'cms_bundle') }}</button>
        </div>
    </div>
</li>