<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/bcicms/assets/img/favicon.ico') }}"/>
    </head>

    <body id="{{ app.request.cookies.get('admin-color') == 'dark'?'dark':'' }}" class=" {{ app.request.cookies.get('minimize') == 'minimize'?'sidebar-mini':'' }}">
        {% block body %}{% endblock %}
    </body>
    {% block javascripts %}{% endblock %}
</html>
