{% extends '@BciCms/Layout/base.html.twig' %}

{% block stylesheets %}
    {% include '@BciCms/Layout/_partial/_stylesheet.html.twig' %}
{% endblock %}

{% block body %}
    <div class="off-canvas-sidebar login-page">
    {% block side %}
    {% endblock %}

    {% block main %}

            {% block header %}
                <nav class="navbar navbar-expand-lg bg-primary navbar-transparent navbar-absolute d-none"
                     color-on-scroll="500">
                    <div class="container">
                        {# <div class="navbar-wrapper">
                            <a class="navbar-brand" href="/cms">
                                <img style="max-width: 200px;" src="{{ asset("/bundles/bcicms/assets/img/logo-biss-blanc.png") }}"  alt="Power Up">
                            </a>
                        </div> #}
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                                aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="navbar-toggler-icon icon-bar"></span>
                            <span class="navbar-toggler-icon icon-bar"></span>
                            <span class="navbar-toggler-icon icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbar">
                            <ul class="navbar-nav">
                                <li class="nav-item ">
                                    <a href="{{ path('cms_forgot_password_request') }}" class="nav-link">
                                        <i class="material-icons">verified_user</i> {{ 'bci.cms.connexion.forgot_password'|trans({}, 'cms_bundle') }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endblock %}
        <div class="wrapper wrapper-full-page">
            {% block content %}

            {% endblock %}
        </div>
        </div>
    {% endblock %}

{% endblock %}

    {% block javascripts %}
        {% include '@BciCms/Layout/_partial/_javascript.html.twig' %}
        {% include '@BciCms/flash/_display.html.twig' %}
    {% endblock %}
