{% extends '@BciCms/Layout/base.html.twig' %}
{% import '@BciCms/Layout/shared/macro.html.twig' as fct %}
{% if form is defined %}
    {% form_theme form '@BciCms/Layout/shared/form.html.twig' %}
{% endif %}
{% block title %}{{ fct.module_action(app.request) }}{% endblock %}
{% block stylesheets %}
    {% include '@BciCms/Layout/_partial/_stylesheet.html.twig' %}
{% endblock %}

{% block body %}
    <div class="wrapper">
        {% block side %}
            {% include '@BciCms/Layout/_partial/_side.html.twig' %}
        {% endblock %}
        {% block main %}

            <div class="main-panel w-100">
                <div class="spinner-wrapper">
                    <div class="spinner">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                    </div>
                </div>
                {% block header %}
                    {% include '@BciCms/Layout/_partial/_header.html.twig' %}
                {% endblock %}
                {% block general_alert %}
                    {% include '@BciCms/Layout/shared/flash.html.twig' %}
                {% endblock %}
                <div class="content">

                    <div class="container-fluid">

                            {% block content %}

                            {% endblock %}
                        {% include '@BciCms/Layout/_partial/_footer.html.twig' %}
                    </div>
                </div>
{#                <footer class="footer">#}
{#                     <div class="container-fluid">#}

{#                    </div>#}
{#                </footer>#}
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {% include '@BciCms/Layout/_partial/_javascript.html.twig' %}

    <script>
        $(document).ready(function() {
            $('.material-datatables table').each(function() {
                $(this).DataTable({
                    "pagingType": "full_numbers",
                    "lengthMenu": [
                        [10, 20, 50, -1],
                        [10, 20, 50, "All"]
                    ],
                    "pageLength": 20,
                    responsive: true,
                    language: {
                        "sProcessing":     "{{ 'datatables.sProcessing'|trans({}, 'datatables') }}",
                        "sSearch":         "{{ 'datatables.sSearch'|trans({}, 'datatables') }}",
                        "sLengthMenu":     "{{ 'datatables.sLengthMenu'|trans({}, 'datatables') }}",
                        "sInfo":           "{{ 'datatables.sInfo'|trans({}, 'datatables') }}",
                        "sInfoEmpty":      "{{ 'datatables.sInfoEmpty'|trans({}, 'datatables') }}",
                        "sInfoFiltered":   "{{ 'datatables.sInfoFiltered'|trans({}, 'datatables') }}",
                        "sInfoPostFix":    "{{ 'datatables.sInfoPostFix'|trans({}, 'datatables') }}",
                        "sLoadingRecords": "{{ 'datatables.sLoadingRecords'|trans({}, 'datatables') }}",
                        "sZeroRecords":    "{{ 'datatables.sZeroRecords'|trans({}, 'datatables') }}",
                        "sEmptyTable":     "{{ 'datatables.sEmptyTable'|trans({}, 'datatables') }}",
                        "oPaginate": {
                            "sFirst":      "{{ 'datatables.sFirst'|trans({}, 'datatables') }}",
                            "sPrevious":   "{{ 'datatables.sPrevious'|trans({}, 'datatables') }}",
                            "sNext":       "{{ 'datatables.sNext'|trans({}, 'datatables') }}",
                            "sLast":       "{{ 'datatables.sLast'|trans({}, 'datatables') }}"
                        },
                        "oAria": {
                            "sSortAscending":  "{{ 'datatables.sSortAscending'|trans({}, 'datatables') }}",
                            "sSortDescending": "{{ 'datatables.sSortDescending'|trans({}, 'datatables') }}"
                        }
                    }

                });


                var table = $(this).DataTable();

                // Edit record
                table.on('click', '.edit', function() {
                    $tr = $(this).closest('tr');

                    var data = table.row($tr).data();
                    alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
                });

                // Delete a record
                table.on('click', '.remove', function(e) {
                    $tr = $(this).closest('tr');
                    table.row($tr).remove().draw();
                    e.preventDefault();
                });

                //Like record
                table.on('click', '.like', function() {
                    alert('You clicked on Like button');
                });

                $('.card .material-datatables label').addClass('form-group');

            });
            $('a.remove_item').on('click', function(e) {
                var $link = $(this);
                e.preventDefault();
                swal({
                    title: "Attention",
                    text: "Vous vous apprêtez à supprimer cet élément, voulez-vous continuer?",
                    type: "warning",
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-info",
                    cancelButtonClass: 'btn',
                    confirmButtonText: 'Supprimer',
                    cancelButtonText: "Annuler",
                    showCancelButton: true
                }).then(function() {
                    var form = $.get($link.attr('href'), function( data ) {
                        var $form = $(data);
                        $('body').append(
                            $('<div />', {
                                id: 'form_delete'
                            }).append($form)
                        );
                        $.ajax({
                            url: $('#form_delete form').attr("action"),
                            data: $('#form_delete form').serialize(),
                            type: $('#form_delete form').attr("method"),
                            success: function(data) {
                                $('#form_delete').remove();
                                $tr = $link.closest('tr');
                                table = $link.closest('table');
                                console.log(table.dataTable)
                                table.DataTable().row($tr).remove().draw();
                                swal("Supprimé!", "L'élément a été supprimé avec succès.", "success");
                            },
                            error: function() {
                                $('#form_delete').remove();
                            }
                        });
                    });
                }, function(dismiss) {
                    // dismiss can be 'overlay', 'cancel', 'close', 'esc', 'timer'
                    if (dismiss === 'cancel') {
                        swal("Annulé", "L'opération a été annulée!", "error");
                    }
                });
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            demo.initMaterialWizard();
            demo.initDashboardPageCharts();
            demo.initCharts();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            demo.initVectorMap();
        });
    </script>
{% endblock %}