{% extends '@BciCms/Layout/shared/index_table.html.twig' %}
{% set icon = 'warning' %}

 {% block headingCardAction %}
     {{ include('@BciCms/log/_partial/_delete_all_form.html.twig') }}
     <a class="btn btn-danger " style="padding-left: .5rem; padding-right:.5rem" data-ice="app.delete_submit" data-ice-params="#formDelete" title="{{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}">
         <i class="fa fa-trash" aria-hidden="true"></i>
         <span class="d-none d-sm-inline mr-2">{{ 'cms_bundle.log.delete_all'|trans({}, 'cms_bundle') }}</span>
     </a>
 {% endblock %}

{% block tableHead %}
    <th class="w-5">{{ 'bci.cms.log.id'|trans({}, 'cms_bundle') }}</th>
    <th class="w-5">{{ 'bci.cms.log.level'|trans({}, 'cms_bundle') }}</th>
    <th class="w-5">{{ 'bci.cms.log.level_name'|trans({}, 'cms_bundle') }}</th>
    <th class="w-5">{{ 'bci.cms.log.channel'|trans({}, 'cms_bundle') }}</th>
{#    <th class="w-5">{{ 'bci.cms.log.extra.http_method'|trans({}, 'cms_bundle') }}</th>#}
    <th class="w-60">{{ 'bci.cms.log.message'|trans({}, 'cms_bundle') }}</th>
    <th class="w-10">{{ 'bci.cms.log.date'|trans({}, 'cms_bundle') }}</th>
    <th class="text-right w-5">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableFoot %}
    <th>{{ 'bci.cms.log.id'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.log.level'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.log.level_name'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.log.channel'|trans({}, 'cms_bundle') }}</th>
{#    <th>{{ 'bci.cms.log.extra.http_method'|trans({}, 'cms_bundle') }}</th>#}
    <th>{{ 'bci.cms.log.message'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.log.date'|trans({}, 'cms_bundle') }}</th>
    <th class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableBody %}
    {% for log in logs %}
        <tr>
            <td>{{ log.id }}</td>
            <td>{{ log.level }}</td>
            <td> {{ log.levelname }}</td>
            <td>{{ log.channel }}</td>
{#            <td>{{ log.httpMethod }}</td>#}
            <td>{{ log.message }}</td>
            <td>{{ log.createdAt|date('Y/m/d H:i:s') }}</td>
            <td class="text-right"> <a href="{{ path('bci_cms_log_show', {'id': log.id}) }}" class="btn btn-link btn-just-icon"><i class="fa fa-eye"></i></a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8">{{ 'bci.cms.general.no_record'|trans({}, 'cms_bundle') }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block footingCardaction %}
    <a class="btn btn-danger " style="padding-left: .5rem; padding-right:.5rem" data-ice="app.delete_submit" data-ice-params="#formDelete" title="{{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}">
        <i class="fa fa-trash" aria-hidden="true"></i>
        <span class="d-none d-sm-inline mr-2">{{ 'cms_bundle.log.delete_all'|trans({}, 'cms_bundle') }}</span>
    </a>
{% endblock %}