{% extends '@BciCms/Layout/layout.html.twig' %}

{% block content %}

    {% embed '@BciCms/log/_partial/display.html.twig' %}

        {% block btnTop %}
            <a href="{{ path('bci_cms_log_index') }}" class="btn ml-0 pr-1 pl-1 pr-sm-3">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span>
            </a>
            <a class="btn btn-danger " style="padding-left: .5rem; padding-right:.5rem" data-ice="app.delete_submit" data-ice-params="#formDelete" title="{{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-trash" aria-hidden="true"></i>
                <span class="d-none d-sm-inline mr-2">{{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}</span>
            </a>
        {% endblock %}


        {% block btnBottom %}
            <a class="btn btn-danger " style="padding-left: .5rem; padding-right:.5rem" data-ice="app.delete_submit" data-ice-params="#formDelete" title="{{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-trash" aria-hidden="true"></i>
                <span class="d-none d-sm-inline mr-2">{{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}</span>
            </a>
        {% endblock %}
    {% endembed %}


{% endblock %}