{% extends '@BciCms/Layout/layout_full.html.twig' %}

{% block content %}
    <div class="page-header login-page header-filter" filter-color="white"
         style="background-image: url('{{ asset("/bundles/bcicms/assets/img/lock.jpg") }}'); background-size: cover; background-position: top center;">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="container">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 ml-auto mr-auto">
                <form class="form" method="post" action="{{ path('security_login') }}">
                    <div class="card card-login text-center ">
                        <div class="card-header card-header-primary p-10">
                            <div class="mb-3">
  <img style="max-width: 240px;" src="{{ asset("/bundles/bcicms/assets/img/BCI-renverse-2020-horiz.png") }}" alt="Power Up">
</div>
                            <h4 class="card-title">{{ 'bci.cms.connexion.login'|trans({}, 'cms_bundle') }}</h4>
                        </div>
                        <div class="card-body ">
                           {% if error %}
                                <div class="alert alert-danger">
                                    {{ error.messageKey }}
                                </div>
                            {% endif %}
                                    <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">account_circle</i>
                      </span>
                    </div>
                    <input autofocus type="text" class="form-control"  id="username" name="_username" placeholder="{{ 'bci.cms.connexion.username'|trans({}, 'cms_bundle') }}...">
                  </div>
                </span>
                            <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" class="form-control" id="password" name="_password" placeholder="{{ 'bci.cms.connexion.password'|trans({}, 'cms_bundle') }}...">
                  </div>
                </span>
                        </div>
                        <div class="card-footer flex-column justify-content-center mt-3">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                            <button type="submit" class="btn btn-rose btn-lg">{{ 'bci.cms.connexion.log_in'|trans({}, 'cms_bundle') }}</button>
                            <a href="{{ path('cms_forgot_password_request') }}" class="mt-2 mb-1">
                                <small><i class="material-icons">lock_outline</i> {{ 'bci.cms.connexion.forgot_password'|trans({}, 'cms_bundle') }}</small>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <footer class="footer ">
            <div class="container">
                <div class="copyright row align-items-center justify-content-center no-gutters">
                    <div class="col-auto align-self-start ">
                        <a href="http://www.bisscomm.com" target="_blank"><img style="max-height: 16px;" src="/bundles/bcicms/assets/img/logo-bci.png" alt=""></a>
                    </div>
                    <div class="col-auto" style="padding-top: 2px; margin-left: 6px;">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                    </div>
                </div>
            </div>
        </footer>

    </div>
{% endblock %}
