<!DOCTYPE html>

<title>Owner index</title>

{% block body %}
    <h1>Owner index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Logo</th>
                <th>PhoneNumber</th>
                <th>FbLink</th>
                <th>TwitLink</th>
                <th>InstaLink</th>
                <th>LkLink</th>
                <th>Email</th>
                <th>TimeTable</th>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DeletedAt</th>
                <th>CivicNumber</th>
                <th>Street</th>
                <th>City</th>
                <th>Zip</th>
                <th>Country</th>
                <th>Province</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for owner in owners %}
            <tr>
                <td>{{ owner.logo }}</td>
                <td>{{ owner.phoneNumber }}</td>
                <td>{{ owner.fbLink }}</td>
                <td>{{ owner.twitLink }}</td>
                <td>{{ owner.instaLink }}</td>
                <td>{{ owner.lkLink }}</td>
                <td>{{ owner.email }}</td>
                <td>{{ owner.timeTable }}</td>
                <td>{{ owner.id }}</td>
                <td>{{ owner.createdAt ? owner.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ owner.updatedAt ? owner.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ owner.deletedAt ? owner.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ owner.civicNumber }}</td>
                <td>{{ owner.street }}</td>
                <td>{{ owner.city }}</td>
                <td>{{ owner.zip }}</td>
                <td>{{ owner.country }}</td>
                <td>{{ owner.province }}</td>
                <td>
                    <a href="{{ path('owner_show', {'id': owner.id}) }}">show</a>
                    <a href="{{ path('owner_edit', {'id': owner.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('owner_new') }}">Create new</a>
{% endblock %}
