<!DOCTYPE html>

<title>Owner</title>

{% block body %}
    <h1>Owner</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Logo</th>
                <td>{{ owner.logo }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ owner.phoneNumber }}</td>
            </tr>
            <tr>
                <th>FbLink</th>
                <td>{{ owner.fbLink }}</td>
            </tr>
            <tr>
                <th>TwitLink</th>
                <td>{{ owner.twitLink }}</td>
            </tr>
            <tr>
                <th>InstaLink</th>
                <td>{{ owner.instaLink }}</td>
            </tr>
            <tr>
                <th>LkLink</th>
                <td>{{ owner.lkLink }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ owner.email }}</td>
            </tr>
            <tr>
                <th>TimeTable</th>
                <td>{{ owner.timeTable }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ owner.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ owner.createdAt ? owner.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ owner.updatedAt ? owner.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ owner.deletedAt ? owner.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CivicNumber</th>
                <td>{{ owner.civicNumber }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ owner.street }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ owner.city }}</td>
            </tr>
            <tr>
                <th>Zip</th>
                <td>{{ owner.zip }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ owner.country }}</td>
            </tr>
            <tr>
                <th>Province</th>
                <td>{{ owner.province }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('owner_index') }}">back to list</a>

    <a href="{{ path('owner_edit', {'id': owner.id}) }}">edit</a>

    {{ include('owner/_delete_form.html.twig') }}
{% endblock %}
