{% extends '@BciCms/Layout/layout.html.twig' %}

{% block content %}
    {% embed '@BciCms/template/_partial/_form.html.twig' %}
        {% block btnTop %}

            <a href="{{ path('bci_cms_template_index') }}" class="btn ml-0 pl-3  pr-3">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span>
            </a>
            <button class="btn btn-rose d-none d-md-inline" style="padding-left: .5rem; padding-right:.5rem" data-ice="template.save" data-step="4" data-intro="{{ 'bci.cms.helper.template.edit.step4'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
            <a class="btn btn-danger " style="padding-left: .5rem; padding-right:.5rem" data-ice="app.delete_submit" data-ice-params="#formDelete" data-step="5" data-intro="{{ 'bci.cms.helper.template.edit.step5'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-trash"></i>
                <span class="mr-2 d-none d-sm-inline"> {{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}</span>
            </a>
        {% endblock %}


        {% block btnBottom %}
            <button class="btn btn-rose save" style="padding-left: .5rem; padding-right:.5rem" data-ice="template.save">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
            <a class="btn btn-danger " style="padding-left: .5rem; padding-right:.5rem" data-ice="app.delete_submit" data-ice-params="#formDelete">
                <i class="fa fa-trash"></i>
                <span class="mr-2 d-none d-sm-inline"> {{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}</span>
            </a>
        {% endblock %}

    {% endembed %}
    {{ include('@BciCms/template/_partial/_delete_form.html.twig') }}
{% endblock %}
