{% extends '@BciCms/Layout/shared/index_table.html.twig' %}
{% set icon = 'object-group' %}

{% block headingCardAction %}
    <a href="{{ path('bci_cms_template_new')  }}" class="btn btn-rose ml-0 pl-3  pr-3">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
    </a>
{% endblock %}

{% block tableHead %}
    <th style="width: 5%">{{ 'bci.cms.template.id'|trans({}, 'cms_bundle') }}</th>
    <th style="width: 50%">{{ 'bci.cms.template.name'|trans({}, 'cms_bundle') }}</th>
    <th style="width: 15%" class="text-center">{{ 'bci.cms.template.used_block'|trans({}, 'cms_bundle') }}</th>
    <th style="width: 15%" class="text-center">{{ 'bci.cms.template.used_count'|trans({}, 'cms_bundle') }}</th>
    <th style="width: 15%" class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableFoot %}
    <th class="text-left">{{ 'bci.cms.template.id'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.template.name'|trans({}, 'cms_bundle') }}</th>
    <th class="text-center">{{ 'bci.cms.template.used_block'|trans({}, 'cms_bundle') }}</th>
    <th class="text-center">{{ 'bci.cms.template.used_count'|trans({}, 'cms_bundle') }}</th>
    <th class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableBody %}
    {% for template in templates %}
        <tr>
            <td>{{ template.id }}</td>
            <td>{{ template.name }}</td>
            <td class="text-center" {% if template.blocks.count > 0 %}title="{{ 'bci.cms.template.used_blocks'|trans({}, 'cms_bundle') }}:{% for blk in template.blocks %}{{ "\n" ~ blk.block.id ~ " - " ~ blk.block.name}}{% endfor %}"{% endif %}>{{ template.blocks.count }}</td>
            <td class="text-center"  {% if template.pages.count > 0 %}title="{{ 'bci.cms.template.used_by'|trans({}, 'cms_bundle') }}:{% for pg in template.pages %}{{ "\n" ~ pg.id ~ " - " ~ pg.name}}{% endfor %}"{% endif %}>{{ template.pages.count }}</td>
            <td class="text-right">
                <a href="{{ path('bci_cms_template_edit', {'id': template.id}) }}" rel="tooltip" title="{{ 'bci.cms.general.action.edit'|trans({}, 'cms_bundle') }}" data-originial-title="{{ 'bci.cms.general.action.edit'|trans({}, 'cms_bundle') }}"class="btn btn-link btn-just-icon"><i class="material-icons">edit</i></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">{{ 'bci.cms.general.no_record'|trans({}, 'cms_bundle') }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block footingCardaction %}
    <a href="{{ path('bci_cms_template_new')  }}" class="btn btn-rose ml-0 pl-3  pr-3">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
    </a>
{% endblock %}