{% extends '@BciCms/Layout/layout.html.twig' %}

{% block content %}
    {% embed '@BciCms/template/_partial/_form.html.twig' %}
        {% block btnTop %}
            <button class="btn d-md-inline btn-rose save " style="padding-left: .5rem; padding-right:.5rem" data-ice="template.save" data-step="4" data-intro="{{ 'bci.cms.helper.template.edit.step4'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
        {% endblock %}
        {% block btnBottom %}
            <button class="btn d-md-inline btn-rose save" style="padding-left: .5rem; padding-right:.5rem" data-ice="template.save">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
        {% endblock %}
    {% endembed %}
{% endblock %}
