{% extends '@BciCms/Layout/layout.html.twig' %}

{% block content %}
    <h1>Template</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ template.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ template.Name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bci_cms_template_index') }}">back to list</a>

    <a href="{{ path('bci_cms_template_edit', {'id': template.id}) }}">edit</a>

    {{ include('@BciCms/template/_partial/_delete_form.html.twig') }}
{% endblock %}