/*
 * bootstrap-tagsinput v0.8.0
 *
 */

.bootstrap-tagsinput {
    display: inline-block;
    padding: 4px 6px;
    max-width: 100%;
    line-height: 22px;

    input{
        border: none;
        box-shadow: none;
        outline: none;
        background-color: transparent;
        margin: 0;
        width: 74px;
        max-width: inherit;
        background-image: none;
        display: inline-block;

        &:focus{
            border: none;
            box-shadow: none;
            background-image: none;
        }
    }

    &.form-control input::-moz-placeholder{
        color: #777;
        opacity: 1;
    }

    &.form-control input:-ms-input-placeholder,
    &.form-control input::-webkit-input-placeholder{
        color: #777;
    }

    .tag{
        background-color: transparent!important;
        cursor: pointer;
        margin: 5px 3px 5px 15px;
        position: relative;
        padding: 5px 10px;
        border-radius: 4px;
        color: #999 !important;
        font-size: 1em;
        text-transform: lowercase;
        display: inline-block;
        line-height: 1.5em;
        padding-left: 0.8em;
        text-decoration: underline;
        &:first-child {
            margin: 5px 3px 5px 20px;
        }
        &:before{
            content: "/";
            position: absolute;
            color: #AAAAAA;
            position: absolute;
            left: -14px;
            font-size: 1em;
        }
        &:hover{
            padding-right: 18px;
            cursor: pointer;

            [data-role="remove"]{
                opacity: 1;
                padding: 2px 6px;
            }
        }

        [data-role="remove"]{
            cursor: pointer;
            position: absolute;
            top: 3px;
            right: 0;
            opacity: 0;
        }

        [data-role="remove"]{
            &:after{
                content: "x";
                padding: 0px 2px;
            }
        }
    }

    @include create-colored-badges();
}
