{% extends '@BciCms/Layout/layout.html.twig' %}

{% block content %}

    {% embed '@BciCms/carousel/_partial/_form.html.twig' %}

        {% block btnTop %}
            {{ parent() }}
            <button class="btn btn-rose ml-0 pr-1 pl-1 pr-sm-3" style="padding-left: .5rem; padding-right:.5rem" type="submit">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
            {# DELETE BUTTON#}
            <a class="btn btn-danger " style="padding-left: .5rem; padding-right:.5rem" data-ice="app.delete_submit" data-ice-params="#formDelete" title="{{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-trash"></i>
            </a>
        {% endblock %}


        {% block btnBottom %}
            <button class="btn btn-rose ml-0 pr-1 pl-1 pr-sm-3" style="padding-left: .5rem; padding-right:.5rem" type="submit">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
            {# DELETE BUTTON#}
            <a class="btn btn-danger " style="padding-left: .5rem; padding-right:.5rem" data-ice="app.delete_submit" data-ice-params="#formDelete" title="{{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-trash"></i>
            </a>
        {% endblock %}

    {% endembed %}
    {% include '@BciCms/carousel/_partial/_delete_form.html.twig'  %}
{% endblock %}