{% extends '@BciCms/Layout/shared/index_table.html.twig' %}
{% set icon = 'exchange' %}

{% block headingCardAction %}

        <a href="{{ path('bci_cms_carousel_new')  }}" class="btn btn-rose ml-0 pl-3  pr-3">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
        </a>
{% endblock %}

{% block tableHead %}
    <th class="w-5">{{ 'bci.cms.carousel.id'|trans({}, 'cms_bundle') }}</th>
    <th class="w-15">{{ 'bci.cms.carousel.title'|trans({}, 'cms_bundle') }}</th>
    <th class="w-15">{{ 'bci.cms.carousel.slides'|trans({}, 'cms_bundle') }}</th>
    <th class="w-15">{{ 'bci.cms.carousel.updated_at'|trans({}, 'cms_bundle') }}</th>
    <th class="w-15">{{ 'bci.cms.carousel.created_at'|trans({}, 'cms_bundle') }}</th>
    <th class="w-15 text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableFoot %}
    <th>{{ 'bci.cms.carousel.id'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.carousel.title'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.carousel.slides'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.carousel.updated_at'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.carousel.created_at'|trans({}, 'cms_bundle') }}</th>
    <th class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableBody %}
    {% for carousel in carousels %}
        <tr>
            <td>{{ carousel.id }}</td>
            <td title="{{ carousel.title }}" >
                <a href="{{ path('bci_cms_carousel_edit', {'id': carousel.id}) }}">{{ carousel.title }}</a>
            </td>
            <td>{{ carousel.slides|length }}</td>
            <td>{{ carousel.updatedAt|date('Y/m/d H:i:s') }}</td>
            <td>{{ carousel.createdAt|date('Y/m/d H:i:s')}}</td>
            <td class="text-right">
                <a href="{{ path('bci_cms_carousel_edit', {'id': carousel.id}) }}" rel="tooltip" title="{{ 'bci.cms.general.action.edit'|trans({}, 'cms_bundle') }}" data-originial-title="{{ 'bci.cms.general.action.edit'|trans({}, 'cms_bundle') }}"class="btn btn-link btn-just-icon"><i class="material-icons">edit</i></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">{{ 'bci.cms.general.no_record'|trans({}, 'cms_bundle') }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block footingCardaction %}
        <a href="{{ path('bci_cms_carousel_new')  }}" class="btn btn-rose ml-0 pl-3  pr-3">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
        </a>
{% endblock %}