<!DOCTYPE html>

<title>Carousel</title>

{% block body %}
    <h1>Carousel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ carousel.title }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ carousel.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ carousel.createdAt ? carousel.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ carousel.updatedAt ? carousel.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ carousel.deletedAt ? carousel.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('carousel_index') }}">back to list</a>

    <a href="{{ path('carousel_edit', {'id': carousel.id}) }}">edit</a>

    {{ include('carousel/_delete_form.html.twig') }}
{% endblock %}
