<form id="formDelete" method="post" action="{{ path('bci_cms_website_delete', {'id': website.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ website.id) }}">
</form>
