{% form_theme form '@BciCms/Layout/shared/builder_form_layout.html.twig' %}
{{ form_start(form, {"attr":{"class":"col-12"}}) }}
{% trans_default_domain 'cms_bundle' %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
                {% include '@BciCms/Layout/_partial/_title.html.twig' with {
                    'icon': 'briefcase'
                } %}
                <div class="float-md-right d-none d-md-inline ">
                    {% block btnTop %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card card-nav-tabs card-plain">
            {% block btnLocales %}{% endblock %}
        </div>
    </div>
    <div class="col-12">
        <div class="row">
    {# IMAGE INFO #}
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <div class="card" style="height: 97.48%">
                    <div class="card-body">
                        <h2>{{ 'bci.cms.owner.section.logo'|trans }}</h2>
                        <table align="center" style="float: left">
                            <tr>
                                <td width="25%">
                                    <div style="display: inline-block;position: relative; top:75%; left: 15%">
                                        {% if form.logo.vars.data is not null %}
                                            {% if form.vars.data.logo %}
                                                {% set imagePath = vich_uploader_asset(form.vars.data.logo, 'tempFile', 'Bci\\CmsBundle\\Entity\\UploadableFileCms') %}
                                            {% else %}
                                                {% set imagePath = "" %}
                                            {% endif %}
                                        {% else %}
                                            {% set imagePath = "" %}
                                        {% endif %}
                                        {{ form_widget(form.logo.tempFile, { 'attr': {'class': '', 'filepath': imagePath} }) }}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            {# Socials #}
            <div class="col-12" id="socials">
                <div class="card">
                    <div class="card-body">
                        <h2>{{ 'bci.cms.owner.social_link.title'|trans }}</h2>
                        {# <div class="row mb-3" style="justify-content: left;"> #}
                        <div class="col-12">
                            <div class="form-group">
                                {{ form_label(form.fbLink, null, { 'label_attr': {'class': ''} }) }}
                                {{ form_errors(form.fbLink) }}
                                {{ form_widget(form.fbLink, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                {{ form_label(form.instaLink, null, { 'label_attr': {'class': ''} }) }}
                                {{ form_errors(form.instaLink) }}
                                {{ form_widget(form.instaLink, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                {{ form_label(form.lkLink, null, { 'label_attr': {'class': ''} }) }}
                                {{ form_errors(form.lkLink) }}
                                {{ form_widget(form.lkLink, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                {{ form_label(form.twitLink, null, { 'label_attr': {'class': ''} }) }}
                                {{ form_errors(form.twitLink) }}
                                {{ form_widget(form.twitLink, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        {# </div> #}
                    </div>
                </div>
            </div>
        </div>
    </div>
        {#  Address block #}
    <div class="col-6" id="info">
        <div class="card">
            <div class="card-body">
                <h2>{{ 'bci.cms.owner.section.info'|trans }}</h2>
                <div class="col-md-12 col-sm-12 ml-auto mr-auto" style="margin-top: 20px!important;">
                    <div class="row mb-3" style="justify-content: left;">
                        <div class="col-6">
                            <div class="form-group">
                                {{ form_label(form.name, null, { 'label_attr': {'class': ''} }) }}
                                {{ form_errors(form.name) }}
                                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                {{ form_label(form.legalName, null, { 'label_attr': {'class': ''} }) }}
                                {{ form_errors(form.legalName) }}
                                {{ form_widget(form.legalName, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                            {{ form_label(form.address.civicNumber, null, { 'label_attr': {'class': ''} }) }}
                            {{ form_errors(form.address.civicNumber) }}
                            {{ form_widget(form.address.civicNumber, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="form-group">
                                {{ form_label(form.address.street, null, { 'label_attr': {'class': ''} }) }}
                                {{ form_errors(form.address.street) }}
                                {{ form_widget(form.address.street, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                {{ form_label(form.address.city, null, { 'label_attr': {'class': '' } }) }}
                                {{ form_widget(form.address.city, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.address.city) }}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                {{ form_label(form.address.postalCode, null, { 'label_attr': {'class': '' } }) }}
                                {{ form_widget(form.address.postalCode, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.address.postalCode) }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                {{ form_label(form.address.province, null, { 'label_attr': {'class': '' } }) }}
                                {{ form_widget(form.address.province, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.address.province) }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                {{ form_label(form.address.country, null, { 'label_attr': {'class': '' } }) }}
                                {{ form_widget(form.address.country, { 'attr': {'class': 'form-control '} }) }}
                                {{ form_errors(form.address.country) }}
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <div class="form-group">
                                {{ form_label(form.email, null, { 'label_attr': {'class': '' } }) }}
                                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                {{ form_label(form.phoneNumber, null, { 'label_attr': {'class': '' } }) }}
                                {{ form_widget(form.phoneNumber, { 'attr': {'class': 'form-control '} }) }}
                                {{ form_errors(form.phoneNumber) }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                {{ form_label(form.timeTable, null, { 'label_attr': {'class': '' } }) }}
                                {{ form_widget(form.timeTable, { 'attr': {'class': 'form-control tinymce_flag', 'data-height': '174px'} }) }}
                                {{ form_errors(form.timeTable) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#        <div class="col-12">#}
{#            <div class="card" style="height: 97.48%">#}
{#                <div class="card-body">#}
{#                    <h2>{{ 'bci.cms.owner.section.timetable'|trans }}</h2>#}
{#                    <div class="form-group col-12">#}
{#                        <div class="form-group">#}
{#                            {{ form_label(form.timeTable, null, { 'label_attr': {'class': 'form-group bmd-label-floating', 'style':'padding-bottom:27.5px;' } }) }}#}
{#                            {{ form_widget(form.timeTable, { 'attr': {'class': 'form-control tinymce_flag', 'data-height': '250px'} }) }}#}
{#                            {{ form_errors(form.timeTable) }}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        </div>
    </div>


    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-icon cleafix p-2">
{#                <div class="float-left order-2 order-sm-1">#}
{#                    <a href="{{ path('bci_cms_job_index') }}" class="btn ml-0 pr-1 pl-1 pr-sm-3">#}
{#                        <i class="fa fa-chevron-left" aria-hidden="true"></i>#}
{#                        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span>#}
{#                    </a>#}
{#                </div>#}
                <div class="float-right order-1 order-sm-2">
                    {% block btnBottom %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
