<div class="card">
    <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
        {% import '@BciCms/Layout/shared/macro.html.twig' as fct %}
        <div class="card-icon bg-main">
            <i class="fa fa-2x fa-square"></i>
        </div>
        <h4 class="card-title float-md-left white-space-normal">_custom-utilities.scss</h4>
        <div class="float-md-right d-none d-md-inline ">
            {% block btnTop %}
            {% endblock %}
        </div>
    </div>
</div>

<div id="codeMirror-style-editor" class="row">
    <div class="col-12 col-xl-10 postcss pl-0 loading-state" id="blockCode">
        <div class="card h-100">
            <div class="row col-12 pl-0 pr-0 shadow">
                <div class="codeMirror-border-radius-wrap col-12 pl-0 pr-0">
                    <textarea id="scss_content">{{ content }}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-2">
        <div class="card h-100 p-4">
            {% for file in files %}
                <p class="file" data-ice-click="postcss.getContent" data-name="{{ file.fileName }}"
                   data-path="{{ file.relativePathname }}">
                    <i class="fa fa-file"></i>{{ file.fileName }}</p>
            {% endfor %}
        </div>
    </div>
</div>




