{% extends '@BciCms/Layout/layout.html.twig' %}

{% block content %}

    {% embed '@BciCms/block/_partial/_form.html.twig' %}
        {% block _fields_entry_widget %}
            <div class="card">
                <div class="card-header" id="heading__name__">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse__name__"
                                aria-expanded="true" aria-controls="collapse__name__">
                            {{ form.vars.value.name }}
                        </button>
                    </h5>
                </div>
                <div id="collapse__name__" class="collapse" aria-labelledby="heading__name__" data-parent="#fields">
                    <div class="card-body">
                        {{ form_row(form.name) }}
                        {{ form_row(form.value) }}
                        <button type="button"
                                data-ice="app.removePrototype">{{ 'bci.cms.block.remove'|trans({}, 'cms_bundle') }}</button>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block btnTop %}

            <a href="{{ path('bci_cms_block_index') }}" class="btn ml-0 pr-1 pl-1 pr-sm-3">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span>
            </a>
            {#            <span class="btn" onclick="introJs().setOption('showProgress', true).start();">Voir l'intro</span>#}
            <button class="btn btn-rose d-inline-block" style="padding-left: .5rem; padding-right:.5rem" data-step="3"
                    data-intro="{{ 'bci.cms.helper.block.edit.step3'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
            <a class="btn btn-danger " style="padding-left: .5rem; padding-right:.5rem" data-ice="app.delete_submit"
               data-ice-params="#formDelete" data-step="4"
               data-intro="{{ 'bci.cms.helper.block.edit.step4'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-trash"></i>
                <span class="mr-2 d-none d-sm-inline"> {{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}</span>
            </a>
        {% endblock %}


        {% block btnBottom %}
            <button class="btn btn-rose" style="padding-left: .5rem; padding-right:.5rem">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2 d-none d-sm-inline"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
            <a class="btn btn-danger " style="padding-left: .5rem; padding-right:.5rem" data-ice="app.delete_submit"
               data-ice-params="#formDelete">
                <i class="fa fa-trash"></i>
                <span class="mr-2 d-none d-sm-inline"> {{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}</span>
            </a>
        {% endblock %}


    {% endembed %}
    {{ include('@BciCms/block/_partial/_delete_form.html.twig') }}
{% endblock %}
