{% extends '@BciCms/Layout/shared/index_table.html.twig' %}
{% set icon = 'square' %}

{% block headingCardAction %}
    <a href="{{ path('bci_cms_block_new')  }}" class="btn btn-rose ml-0 pl-3  pr-3">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
    </a>
{% endblock %}

{% block tableHead %}
    <th style="width: 5%">{{ 'bci.cms.block.id'|trans({}, 'cms_bundle') }}</th>
    <th style="width: 30%">{{ 'bci.cms.block.name'|trans({}, 'cms_bundle') }}</th>
    <th style="width: 45%">{{ 'bci.cms.block.description'|trans({}, 'cms_bundle') }}</th>
    <th style="width: 5%" class="text-center">{{ 'bci.cms.block.used_count'|trans({}, 'cms_bundle') }}</th>
    <th style="width: 15%" class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableFoot %}
    <th class="text-left">{{ 'bci.cms.block.id'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.block.name'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.block.description'|trans({}, 'cms_bundle') }}</th>
    <th class="text-center">{{ 'bci.cms.block.used_count'|trans({}, 'cms_bundle') }}</th>
    <th class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableBody %}
    {% for block in blocks %}
        <tr>
            <td>{{ block.id }}</td>
            <td><a href="{{ path('bci_cms_block_edit', {'id': block.id}) }}" class="btn-link">{{ block.name }}</a></td>
            <td class="text-truncate">{{ block.description }}</td>
            <td  class="text-center" {% if block.templates.count > 0 %}title="{{ 'bci.cms.block.used_by'|trans({}, 'cms_bundle') }}:{% for tpl in block.templates %}{{ "\n" ~ tpl.template.id ~ " - " ~ tpl.template.name}}{% endfor %}"{% endif %}>{{ block.templates.count }}</td>
            <td class="text-right">
                <a href="{{ path('bci_cms_block_edit', {'id': block.id}) }}" rel="tooltip" title="{{ 'bci.cms.general.action.edit'|trans({}, 'cms_bundle') }}" data-originial-title="{{ 'bci.cms.general.action.edit'|trans({}, 'cms_bundle') }}"class="btn btn-link btn-just-icon"><i class="material-icons">edit</i></a>
                {# <a href="#" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>#}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">{{ 'bci.cms.general.no_record'|trans({}, 'cms_bundle') }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block footingCardaction %}
    <a href="{{ path('bci_cms_block_new')  }}" class="btn btn-rose ml-0 pl-3  pr-3">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
    </a>
{% endblock %}