{% extends '@BciCms/Layout/layout.html.twig' %}

{% block content %}

    {% embed '@BciCms/block/_partial/_form.html.twig' %}

        {% block btnTop %}
            <button class="btn btn-rose ml-0 pr-1 pl-1 pr-sm-3" style="padding-left: .5rem; padding-right:.5rem" type="submit" data-step="3"
                    data-intro="{{ 'bci.cms.helper.block.edit.step3'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
        {% endblock %}


        {% block btnBottom %}
            <button class="btn btn-rose ml-0 pr-1 pl-1 pr-sm-3" style="padding-left: .5rem; padding-right:.5rem" type="submit">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
        {% endblock %}

    {% endembed %}

{% endblock %}

