{% extends '@BciCms/Layout/layout.html.twig' %}

{% block content %}
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
                {% include '@BciCms/Layout/_partial/_title.html.twig' with {
                    'icon': 'square'
                } %}
                <div class="float-md-right d-none d-md-inline ">
                    {% block btnTop %}
                        <a class="btn btn-rose" style="padding-left: .5rem; padding-right:.5rem"
                           href="{{ path('bci_cms_block_edit', {'id': block.id}) }}">
                            <i class="fa fa-edit"></i>
                            <span class="mr-2"> {{ 'bci.cms.general.action.edit'|trans({}, 'cms_bundle') }}</span>
                        </a>
                        <a class="btn btn-danger " style="padding-left: .5rem; padding-right:.5rem"
                           data-ice="app.delete_submit" data-ice-params="#formDelete">
                            <i class="fa fa-trash"></i>
                            <span class="mr-2 d-none d-sm-inline"> {{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}</span>
                        </a>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-xl-9">
        <div class="card">
                    <textarea name="content_block" id="block_content"
                              class="block_content">{{ block.content }}</textarea>
            <div class="input-group mb-3 col-12 col-xl-6 col-lg-6 mt-4">
                <div class="input-group-prepend">
                    <label class="input-group-text  bg-white"
                           style="border:1px solid #d2d2d2; border-radius:6px 0 0 6px; box-sizing: content-box "
                           for="inputGroupSelect01">Thème</label>
                </div>
                <select onchange="selectTheme()" id="select" class="custom-select">
                    <option selected="">default</option>
                    <option>3024-day</option>
                    <option>3024-night</option>
                    <option>abcdef</option>
                    <option>ambiance</option>
                    <option>base16-dark</option>
                    <option>paraiso-dark</option>
                    <option>paraiso-light</option>
                    <option>pastel-on-dark</option>
                    <option>railscasts</option>
                    <option>rubyblue</option>
                    <option>seti</option>
                    <option>shadowfox</option>
                    <option>solarized dark</option>
                    <option>solarized light</option>
                    <option>the-matrix</option>
                    <option>tomorrow-night-bright</option>
                    <option>tomorrow-night-eighties</option>
                    <option>ttcn</option>
                    <option>twilight</option>
                    <option>vibrant-ink</option>
                    <option>xq-dark</option>
                    <option>xq-light</option>
                    <option>yeti</option>
                    <option>zenburn</option>
                </select>
            </div>
        </div>
    </div>

        <div class="col-12 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <label class="bmd-label-floating ml-0 form-group text-capitalize mb-2">id</label>
                                <p class="text-capitalize">{{ block.id }}</p>
                            </div>
                            <div class="col-12">
                                <label class="bmd-label-floating ml-0 form-group text-capitalize mb-2">name</label>
                                <p class="text-capitalize">{{ block.name }}</p>
                            </div>
                            <div class="col-12">
                                <label class="bmd-label-floating ml-0 form-group text-capitalize mb-2">description</label>
                                <p class="text-capitalize">{{ block.description }}</p>
                            </div>
                            <div class="col-12">
                                <label class="bmd-label-floating ml-0 form-group text-capitalize mb-2">definition</label>
                                <p class="text-capitalize">{{ block.definition }}</p>
                            </div>

                            {#<th>Fields</th>#}
                            {#<td>{{ block.fields ? block.fields|join(', ') : '' }}</td>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-icon cleafix p-2">
                <div class="float-left order-2 order-sm-1">
                    <a href="{{ path('bci_cms_block_index') }}" class="btn btn-rose ml-0 pr-1 pl-1 pr-sm-3"><i
                                class="fa fa-chevron-left" aria-hidden="true"></i><span
                                class="d-none d-sm-inline"> {{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span></a>
                </div>
                <div class="float-right order-1 order-sm-2">
                    {% block btnBottom %}
                        <a class="btn btn-rose" style="padding-left: .5rem; padding-right:.5rem"
                           href="{{ path('bci_cms_block_edit', {'id': block.id}) }}">
                            <i class="fa fa-edit"></i>
                            <span class="mr-2 d-none d-sm-inline"> {{ 'bci.cms.general.action.edit'|trans({}, 'cms_bundle') }}</span>
                        </a>
                        <button class="btn btn-danger " style="padding-left: .5rem; padding-right:.5rem"
                                data-ice="$('#formDelete').submit()">
                            <i class="fa fa-trash"></i>
                            <span class="mr-2 d-none d-sm-inline"> {{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}</span>
                        </button>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <script>


        //////////////////////////////// CRÉATION DE L'ÉDITEUR \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
        var editor = CodeMirror.fromTextArea(document.getElementById('block_content'), {
            mode: "javascript",
            theme: "default",
            indentUnit: 4,
            lineNumbers: true,
            autoCloseBrackets: true,
            matchBrackets: true,
            lineWrapping: true,
            autoCloseTags: true,
            matchTags: true,
            styleActiveLine: true,
            scrollbarStyle: "simple",
            height: 'auto',
            readOnly: 'nocursor',
            viewportMargin: 20,
            extraKeys: {
                "F5": function (cm) {
                    cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                },
                "Esc": function (cm) {
                    if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                },

            }
        });
        var input = document.getElementById("select");

        function selectTheme() {
            var theme = input.options[input.selectedIndex].textContent;
            editor.setOption("theme", theme);
            location.hash = "#" + theme;
        }

        var choice = (location.hash && location.hash.slice(1)) ||
            (document.location.search &&
                decodeURIComponent(document.location.search.slice(1)));
        if (choice) {
            input.value = choice;
            editor.setOption("theme", choice);
        }
        CodeMirror.on(window, "hashchange", function () {
            var theme = location.hash.slice(1);
            if (theme) {
                input.value = theme;
                selectTheme();
            }
        });
    </script>
    {{ include('@BciCms/block/_partial/_delete_form.html.twig') }}
{% endblock %}
