@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons);

[data-editable] {
  //border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
  min-width: 100px;
}

.tiny-actions {
  position: fixed;
  z-index: 9990;
}

.tiny-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url('/bundles/bcicms/assets/img/loading.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #15191f;
  opacity: 0.5;
  z-index: 10000;
}

.btn-tiny {
  border-radius: 3px;
  content: "";
  cursor: pointer;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  opacity: .9;
  text-align: center;
  font-family: icon;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 48px;
  margin: 5px;

  &.btn-tiny-save {
    background: rgba(23, 46, 67, 0.9);

    &:hover {
      background: rgba(23, 46, 67, 1);
    }
  }

  &.btn-tiny-cancel {
    background: rgba(244, 67, 54, 0.9);

    &:hover {
      background: rgba(244, 67, 54, 1);
    }
  }

  &.btn-tiny-disabled {
    background: rgba(170, 170, 170, 0.15);

    &:hover {
      background: rgba(170, 170, 170, 1);
    }
  }
}

.tox-tinymce-inline {
  z-index: 2;
}

.tox .tox-menu {
  z-index: 1;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.jc-space-between {
  justify-content: space-between;
}

.clearfix {
 // display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0;
}

.d-none {
  display: none;
}

.tox-tinymce {
  //z-index: 99999 !important;
  //top: 0 !important;
}


//
// sidebar-edit
//

$sidebar_main_color: #000;
$primary_state: #172e43;
$secondary_state: #6e6e6e;
$delete_state: #f44336;
$sidebar_width: 350px;
$topbar_width: 56px;

a {
  color: #212b36;
  text-decoration: none;
  cursor: pointer;
}

#sidebar-edit {
  overflow: hidden;
  height: 100%;
  z-index: 9999;
  display: flex;
  flex-direction: row-reverse;

  p {
    margin: 0;
    line-height: 1.1;
    color: #212b36;
  }

  p, a, span, label, input, textarea, h2, .div {
    font-family: Roboto, Helvetica, Arial, sans-serif;
  }

  span {
    //font-size: 1rem;
    //font-weight: 400;
    //line-height: 1.42857;
    //text-decoration: none
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  .top {
    height: $topbar_width;
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
    background-color: #f9fafb;
    z-index: 1;
    position: relative;
  }


  .wrapper {
    flex-grow: 1;
    height: 100vh;
    max-height: 100%;
    flex-direction: column;
    z-index: 3;
    position: relative;

    header {
      z-index: 2;
      width: 100%;
      height: $topbar_width;
      position: absolute;
      box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
      display: flex;
      margin-bottom: 1px;
      justify-content: center;
      background: white;

      .header-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1440px;
        align-items: center;
      }

      .responsive-selector {
        width: 160px;
        display: flex;
        justify-content: space-between;
        height: 100%;

        > div {
          cursor: pointer;
          position: relative;
          height: 100%;
          display: flex;
          align-items: center;

          &.active::after, &:hover::after {
            display: block;
            position: absolute;
            bottom: 0;
            content: '';
            width: 100%;
            height: 3px;
            background: $primary_state;
          }
        }

        .fa {
          color: #637381;
        }

        .fa-mobile {
          font-size: 40px;
        }

        .fa-desktop {
          font-size: 31px;
        }

        .fa-expand {
          font-size: 30px;
        }
        .fa-tablet {
          font-size: 39px;
        }
      }

      .select-page {
        margin-left: 17px;
        position: relative;

        i {
          padding-left: 5px;
          font-size: 15px;
        }

        .toggle-page {
          cursor: pointer;
        }

        .page-list {
          background: #fff;
          width: 375px;
          position: absolute;
          z-index: 1;
          top: 42px;
          transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
          box-shadow: rgba(39, 44, 48, 0.05) 0px 0px 0px 1px, rgba(39, 44, 48, 0.16) 0px 2px 7px 1px;
          justify-content: space-evenly;
          align-items: center;
          display: none;
          &.d-block {
            display: flex !important;
            animation: showPage 300ms forwards;
          }

          > li {
            width: 50%;
            text-align: center;

            > ul {
              width: 100%;
              left: 0;

              > li {
                p {
                  display: flex;
                  align-items: center;
                  text-align: left;
                }

                span {
                  padding: 15px;
                  line-height: 1;
                  margin-right: auto;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }

                a {
                  padding: 15px;
                  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
                  &:hover {
                    background: #172e43;
                    color: white;
                  }
                  &.active {
                    background: #172e43;
                    color: white;
                  }
                }

                &.active {
                  background: #f3f6f8;
                }
              }
            }

            > .locale {
              display: block;
              text-transform: uppercase;
              font-weight: 500;
              color: #212b36;
              padding: 1rem;
              cursor: pointer;

              &.active {
                border-bottom: 4px solid #172e43;
              }
            }

            .language {
              position: absolute;
              left: 0;
              background: #fff;
              border: 1px solid #dfe3e8;
              box-shadow: rgba(39, 44, 48, 0.05) 0px 0px 0px 0px, rgba(39, 44, 48, 0.16) 0px 2px 7px 0px;
            }
          }

          > li:first-child {
            border-top: none;
          }
        }
      }

      .live-actions {
        display: flex;

        //.btn-tiny {
        //  width: auto;
        //  height: initial;
        //  line-height: initial;
        //  display: flex;
        //  align-items: center;
        //  height: 40px;
        //
        //  i {
        //    display: flex;
        //    align-items: center;
        //
        //    &:before {
        //      padding-left: .7rem;
        //    }
        //
        //    span {
        //      padding: 0 1rem;
        //    }
        //  }
        //}
      }
    }

    .iframe-wrapper {
      display: flex;
      height: 100vh;
      align-items: center;
      background: #f4f6f8;
      margin-top: 56px;
      padding-left: 20px;
      padding-right: 20px;

      .iframe {
        overflow: auto;
        max-width: 1440px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 0 12px rgba(0, 0, 0, 0.1);
        max-height: 900px;
        transition: all 150ms cubic-bezier(0.19, 1, 0.22, 1);
        position: relative;
        width: 100%;
        height: calc(100vh - 85px);
        background: #f9fafb;
        margin: 0 auto;

        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  aside {
    z-index: 4;
    position: relative;
    width: $sidebar_width;
    height: 100vh;
    border-right: 1px solid #dfe3e8;

    > .top {
      display: flex;
      background: #fff;

      .logo {
        height: 100%;
        align-items: center;
        display: flex;

        a {
          display: inline-block;
        }

        .logo-icon img {
          padding-left: 5px;
          padding-bottom: 2px;
          max-width: 45px;
        }

        .logo-text img {
          max-width: 125px;
        }
      }
    }

    .header {
      display: flex;
      margin-top: 1px;

      > div {
        display: flex;
        height: 67px;
        justify-content: center;
        align-items: center;
        flex: 1 0 50%;
        text-align: center;
        background: #f4f6f8;
        border-bottom: 1px solid #dfe3e8;
        cursor: pointer;

        &.active {
          > p {
            border-bottom: 4px solid $primary_state;
          }
        }

        > p {
          flex-grow: 1;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 6px;
        }
      }
    }

    .main-edit {
      margin-top: 10px;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
      display: none;
      left: -100%;

      &.showTab {
        display: block;
      }

      &.show {
        left: 0;
        overflow-y: auto;
        overflow-x: hidden;
        border-right: 1px solid #dfe3e8;
        display: block;
      }

      .tabs {
        transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
        background: #f4f6f8;

        &:hover, &.active {
          box-shadow: inset -4px 0 0 0 $primary_state;
        }


        .addBlock {
          display: none;
        }

        &.active {

          position: relative;

          .addBlock {
            display: flex;
            position: absolute;
            top: 0;
            height: 100%;
            right: 10px;
          }
        }


        .tabs-title {
          box-shadow: rgba(63, 63, 68, 0.05) 0px 0px 0px 1px, rgba(63, 63, 68, 0.15) 0px 1px 3px 0px;
          height: 60px;
          cursor: pointer;
          display: flex;
          align-items: center;
          padding: 0 50px 0;
          position: relative;
        }

        .tabs-content {
          width: $sidebar_width;
          position: absolute;
          top: 0;
          left: -100%;
          z-index: 2;
          background: #f9fafb;
          transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
          height: 100%;

          &.show {
            left: 0;
            overflow-y: auto;
            overflow-x: hidden;
            border-right: 1px solid #dfe3e8;
          }

          .back {
            transform: rotate(90deg);
            padding: 20px;
            cursor: pointer;
          }

          .back-title-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .back-title {
            margin-right: 55px;
            font-weight: 500;
          }

          .top {
            z-index: 2;
            display: flex;
          }

          .form-container {
            height: 90vh;
            max-width: 100%;

            form {
              padding: 2rem 1.5rem;
            }


            label {
              display: block;
              color: #212b36;
            }

            .publishedAt {
              input {
                margin-right: 5px !important;
              }
            }

            input, select, textarea {
              width: 100%;
              padding: .5rem;
              margin: 7px 0;
              border: 1px solid #c4cdd5;
              border-radius: 3px;
            }

            input[type="checkbox"] {
              width: auto;
            }

            .form-group {
              margin-bottom: 10px;
            }

            .footer {
              margin-top: 40px;
            }
          }
        }
      }
    }
  }
}

#mobile {
  width: 375px !important;
  top: 0;
  max-height: 667px !important;
}

#tablet {
  width: 768px !important;
  max-height: 1024px !important;
}

#desktop {
  width: 1440px !important;
  max-height: 900px !important;
}

#full {
  max-width: 100% !important;
  max-height: 100% !important;
}

@keyframes showPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showTab {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;

  }
}

hr {
  border-top: 1px solid #c4cdd5;
}

.form-control, .is-focused .form-control {
  background: none;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
  background: #172e43;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.search {
  box-shadow: rgba(63, 63, 68, 0.05) 0px 0px 0px 1px, rgba(63, 63, 68, 0.15) 0px 1px 3px 0px;
  border-radius: 0;
  margin-top: 0px;
  padding-left: 15px;
}

.showTab[data-value="section"] {
  display: flex !important;
  flex-wrap: wrap;
}

#block-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #f4f6f8 !important;

  .form-container {
    padding-top: 2rem;
  }

  .tabs {
    width: 100%;
    cursor: grab !important;
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:hover {
      box-shadow: none !important;

      .card-header {
        display: block;
      }
    }
    .card-header {
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
      //display: none;
    }

    iframe {
      pointer-events: none;
    }
    .tabs-title {
      align-items: start !important;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
  }
}

.drop {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
}

.editBlock {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  //display: none;
}

.editArea {
  background: #f4f6f8;
  width: 100%;
  max-width: 600px;
  height: 750px;
  padding: 4rem;
  overflow-x: hidden;
  position: relative;

  .close {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 2rem !important;
  }

  button {
    margin-top: 3rem;
  }

  .content {
    .item {
      box-shadow: rgba(63, 63, 68, 0.05) 0px 0px 0px 1px, rgba(63, 63, 68, 0.15) 0px 1px 3px 0px;
      margin-bottom: 10px;
      background: white;

      .item-title {
        .fa-chevron-down {
          padding: 15px;
          margin-bottom: 3px;
        }

        .drag-handle {
          padding: 15px;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
          margin-bottom: 0;
        }
      }

      .form-area {
        display: none;
        padding: 10px 15px 15px 15px;


      }
    }
  }

  input, select, textarea {
    border: 1px solid #c4cdd5;
    border-radius: 3px;
    margin: 0 5px;
    padding: 4px 10px;
  }

  .add_column {
    margin-top: 20px;
    box-shadow: rgba(63, 63, 68, 0.05) 0px 0px 0px 1px, rgba(63, 63, 68, 0.15) 0px 1px 3px 0px;
    background: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa {
      font-size: 1.25rem;
      margin-right: 10px;
    }
  }
}

.add_page{
  color: #cccccc;
  &:after {
    content: '+';
    position: absolute;
    right: 4px;
    color: #db0811;
  }
}

.overBox {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.btn {
  i {
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 33px;
  }
}

//.tabs{
//  &:hover {
//    .preview {
//      display: flex !important;
//    }
//  }
//}
//.preview {
//  display: none !important;
//  &:hover {
//
//  }
//}

.ui-droppable-active {
  border: 1px solid #172e43;
}

[data-block] {
  position: relative;
}

[data-type="row"] {
  outline: 1px dashed rgba(170, 170, 170, 0.7);
  outline-offset: -2px;
  height: 200px;
}

[data-type="column"] {
  outline: 1px dashed rgba(170, 170, 170, 0.7);
  outline-offset: -2px;
  height: 200px;
}

[data-type="column"] {
  border: 1px solid #3b97e3;
  outline-offset: unset;
}

[data-type="section"]:hover::before {
  position: absolute;
  top: 0;
  left: 0;
  background: #3b97e3;
  padding: 0 5px;
  color: white;
  font-size: 14px;
  z-index: 1299;
  box-shadow: 1px 1px 3px #0000003d;
}

[data-block].active {
  box-shadow: inset 0px 0px 0px 3px #3b97e3;
}

[data-type="column"].active {
  box-shadow: inset 0px 0px 0px 3px #3b97e3;
}

main.ui-droppable {
  border: none;
}

.ui-droppable-hover {
  background-color: #5eba7d;
}

.actions {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: inset 0px 0px 0px 3px #3b97e3;
  height: 100%;
  width: 100%;
  z-index: 1299;
  pointer-events: none
}

.actions ul {
  background: #3b97e3;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  position: absolute;
  right: 0;
  pointer-events: initial;
}

.actions a {
  color: white !important;
  font-size: 14px;
  padding: 0 5px;
}

[data-block]:hover .actions {
  display: block;
}

.sf-toolbar {
  display: none !important;
}

.droppable::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.droppable {
  position: relative;
  min-height: 20vh;
  margin-bottom: 2rem;
  background: #63ace9
}

.droppable:hover {
  background: #3b97e3;
}
