{% extends '@BciCms/Layout/layout.html.twig' %}

{% block content %}

    {% embed '@BciCms/page/_partial/_form.html.twig' %}

        {% block btnTop %}

            <a href="{{ path('bci_cms_page_index') }}" class="btn ml-0 pr-1 pl-1 pr-sm-3">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span>
            </a>

            <a class="btn ml-0 pr-1 pl-1 pr-sm-3" data-step="5"
               data-intro="{{ 'bci.cms.helper.page.edit.step5'|trans({}, 'cms_bundle') }}"
               href="{{ path('bci_cms_page_show_edit', {id: page.id, '_locale': headingLocale}) }}" target="_blank">
                <i class="fa fa-edit"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.editor'|trans({}, 'cms_bundle') }}</span>
            </a>
            <button class="btn btn-rose" style="padding-left: .5rem; padding-right:.5rem" type="submit"
                    data-step="6"
                    data-intro="{{ 'bci.cms.helper.page.edit.step6'|trans({}, 'cms_bundle') }}"
            >
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
            <a class="btn btn-danger " style="padding-left: .5rem; padding-right:.5rem" data-ice="app.delete_submit"
               data-ice-params="#formDelete" title="{{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}"
               data-step="7"
               data-intro="{{ 'bci.cms.helper.page.edit.step7'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-trash"></i>
            </a>
        {% endblock %}

        {% block btnLocales %}
            <div class="card-header card-header-primary" data-step="1" data-intro="{{ 'bci.cms.helper.page.edit.step1'|trans({}, 'cms_bundle') }}">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            {% for availLocale in availLocales %}
                                <li class="nav-item ">
                                    <a class="nav-link {{ availLocale == headingLocale ? ' active' : '' }}"
                                       href="{{ availLocale == headingLocale ? '#' :  path('bci_cms_page_edit_locale', {id: page.id, locale: availLocale}) }}">
                                        {{ ('bci.cms.page.availlocales.' ~ availLocale) | trans({}, 'cms_bundle') }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block btnBottom %}
            <a class="btn ml-0 pr-1 pl-1 pr-sm-3"
               href="{{ path('bci_cms_page_show_edit', {id: page.id, '_locale': headingLocale}) }}" target="_blank">
                <i class="fa fa-edit"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.editor'|trans({}, 'cms_bundle') }}</span>
            </a>
            <button class="btn btn-rose" style="padding-left: .5rem; padding-right:.5rem" type="submit">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
            <a class="btn btn-danger " style="padding-left: .5rem; padding-right:.5rem" data-ice="app.delete_submit"
               data-ice-params="#formDelete" title="{{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-trash"></i>
            </a>
        {% endblock %}
    {% endembed %}

    {{ include('@BciCms/page/_partial/_delete_form.html.twig') }}
{% endblock %}
