{% extends '@BciCms/Layout/shared/index_table.html.twig' %}
{% set icon = 'sitemap' %}

{% block headingCardAction %}
    {% if availLocales | length == 1 %}
        <a href="{{ path('bci_cms_page_new_locale', {locale: availLocales[0]})  }}" class="btn btn-rose ml-0 pl-3  pr-3">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
        </a>
    {% elseif availLocales | length > 1 %}
            <div class="dropdown">
                <button class="dropdown-toggle btn btn-rose" type="button" id="page_drop_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    {{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}
                </button>
                <div class="dropdown-menu" aria-labelledby="page_drop_down" >
                    {% for availLocale in availLocales %}
                        <a class="dropdown-item" href="{{ path('bci_cms_page_new_locale', {locale: availLocale}) }}">{{ 'bci.cms.page.action.new'|trans({'%locale%': availLocale | capitalize}, 'cms_bundle') }}</a>
                    {% endfor %}
                </div>
            </div>
    {% endif %}
{% endblock %}

{% block tableHead %}
    <th class="w-5">{{ 'bci.cms.page.id'|trans({}, 'cms_bundle') }}</th>
    <th class="w-25">{{ 'bci.cms.page.name'|trans({}, 'cms_bundle') }}</th>
    <th class="w-25">{{ 'bci.cms.page.slug'|trans({}, 'cms_bundle') }}</th>
    <th class="w-15">{{ 'bci.cms.page.template'|trans({}, 'cms_bundle') }}</th>
    <th class="w-15 text-center">{{ 'bci.cms.page.locales'|trans({}, 'cms_bundle') }}</th>
    <th class="w-15 text-center">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableFoot %}
    <th>{{ 'bci.cms.page.id'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.page.name'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.page.slug'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.page.template'|trans({}, 'cms_bundle') }}</th>
    <th class="text-center">{{ 'bci.cms.page.locales'|trans({}, 'cms_bundle') }}</th>
    <th class="text-centert">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableBody %}
    {% for page in pages %}
        <tr>
            <td>{{ page.id }}</td>
            <td title="{{ page.name }}" >
                    {{ page.name }}
            </td>
            <td>{{ page.headings.first.slug }}</td>
            <td title="id : {{ page.template.id }}">{{ page.template.name }}</td>
            <td class="text-center">
                {% set plocales = [] %}
                {% for availLocale in availLocales %}
                    {% if page.hasHeadingLocale(availLocale) %}
                        {% set plocales = plocales | merge(['<a href="'~ path('bci_cms_page_edit_locale', {id: page.id, locale: availLocale})~'">'~(availLocale | capitalize)~'</a>']) %}
                    {% else %}
                        {% set plocales = plocales | merge([ '<span class="disabled" style="color: #cccccc">' ~ (availLocale | capitalize) ~ '</span> <a href="'~ path('bci_cms_page_edit_locale', {id: page.id, locale: availLocale})~'">+</a>']) %}
                    {% endif %}
                {% endfor %}
                {{ plocales | join(' / ') | raw }}
            </td>
            <td  class="text-right">
                {% if page.headings | length > 0 %}
                    {#          Voir la page          #}
                    <a href="{{ path('bci_cms_page_show', {'slug': page.headings.first.slug}) }}" target="_blank" data-toggle="tooltip" data-placement="top" title="{{ 'bci.cms.general.action.show'|trans({}, 'cms_bundle') }}" class="btn btn-link btn-just-icon"><i class="material-icons">visibility</i></a>

                    <a href="" class="btn btn-link btn-just-icon dropdown-toggle item-edit" type="button" id="page_drop_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">edit</i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="page_drop_down" >
                        {% set plocales = [] %}
                        {% for availLocale in availLocales %}
                            {% if page.hasHeadingLocale(availLocale) %}
                                {% set plocales = plocales | merge(['<a class="dropdown-item" href="'~ path('bci_cms_page_edit_locale', {id: page.id, locale: availLocale})~'">'~(availLocale | capitalize)~'</a>']) %}
                            {% else %}
                                {% set plocales = plocales | merge([ '<span class="disabled" style="color: #cccccc">' ~ (availLocale | capitalize) ~ '</span> <a href="'~ path('bci_cms_page_edit_locale', {id: page.id, locale: availLocale})~'">+</a>']) %}
                            {% endif %}
                        {% endfor %}
                        {{ plocales | join('') | raw }}

                    </div>
{#                        <a href="" class="btn btn-link btn-just-icon"><i class="fa fa-trash" aria-hidden="true"></i></a>#}
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">{{ 'bci.cms.general.no_record'|trans({}, 'cms_bundle') }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block footingCardaction %}
    {% if availLocales | length == 1 %}
        <a href="{{ path('bci_cms_page_new_locale', {locale: availLocales[0]})  }}" class="btn btn-rose pl-3 ml-0 pr-3">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
        </a>
    {% elseif availLocales | length > 1 %}
        <div class="dropdown">
            <button class="dropdown-toggle btn btn-rose" type="button" id="page_drop_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus" aria-hidden="true"></i>
                {{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}
            </button>
            <div class="dropdown-menu" aria-labelledby="page_drop_down" >
                {% for availLocale in availLocales %}
                    <a class="dropdown-item" href="{{ path('bci_cms_page_new_locale', {locale: availLocale}) }}">{{ 'bci.cms.page.action.new'|trans({'%locale%': availLocale | capitalize}, 'cms_bundle') }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}