{% extends '@BciCms/Layout/layout.html.twig' %}

{% block content %}
    {% embed '@BciCms/page/_partial/_form.html.twig' %}
        {% block btnTop %}
            <button class="btn d-none d-md-inline btn-rose " style="padding-left: .5rem; padding-right:.5rem" type="submit"
                    data-step="5" data-intro="{{ 'bci.cms.helper.page.edit.step6'|trans({}, 'cms_bundle') }}"
            >
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
        {% endblock %}

        {% block btnLocales %}
            <div class="card-header card-header-primary" data-step="1" data-intro="{{ 'bci.cms.helper.page.edit.step1'|trans({}, 'cms_bundle') }}">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                             {% for availLocale in availLocales %}
                                <li class="nav-item ">
                                    <a class="nav-link {{ availLocale == headingLocale ? ' active' : '' }}" href="{{ availLocale == headingLocale ? '#' :  path('bci_cms_page_new_locale', {locale: availLocale}) }}">{{ ('bci.cms.page.availlocales.' ~ availLocale) | trans({}, 'cms_bundle') }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block btnBottom %}
            <button class="btn btn-rose" style="padding-left: .5rem; padding-right:.5rem" type="submit">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
        {% endblock %}

    {% endembed %}

{% endblock %}
