{% extends '@BciCms/Layout/layout.html.twig' %}

{% block content %}
    <h1>Page</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ page.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ page.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ page.slug }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ page.title }}</td>
            </tr>
            <tr>
                <th>Meto</th>
                <td>{{ page.meto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bci_cms_page_index') }}">back to list</a>

    <a href="{{ path('bci_cms_page_edit', {'id': page.id}) }}">edit</a>

    {{ include('page/_delete_form.html.twig') }}
{% endblock %}