@import "../core/forms";

.card {
  .card-body {
    .col-form-label,
    .label-on-right {
      padding: 16px 5px 0 0;
      text-align: right;
    }

    .label-on-right {
      text-align: left;
    }
  }

  .label-on-right {
    code {
      padding: 2px 4px;
      font-size: 90%;
      color: #c7254e;
      background-color: #f9f2f4;
      border-radius: 4px;
    }
  }
}

.card-wizard {
  .input-group .form-group {
    width: 80%
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 10px;

  &:hover {
    background: #000;
  }
}

#accordionFixed-Plugin {
  margin-right: 0px;
}

.shadow-none {
  box-shadow: none !important;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.div-drop-down {
  padding: 0.5em;
  &:hover {
    background-color: $cms-primary;
    color: white;
  }
  a {
    font-weight: 400;
    &:hover {
      background-color: inherit;
      box-shadow: inherit;
    }
  }
}

#fields {
  .btn {
    display: block;
    transform: scale(.75);
    font-size: 1rem;
  }
}

.is-filled .bmd-label-floating {
  font-size: 1rem;
}

.bmd-form-group {
  width: 100%;
}

#blockCode {
  height: calc(100% - 90px - 129px);
  .codeMirror-border-radius-wrap {
    height: 100%;
  }
}

.form-group {
  margin: 0 !important;
}

#datatables_filter {
  float: right;
}