{% if is_granted('ROLE_ADMIN')%}
    <script type="text/javascript">
        // Notice how this gets configured before we load Font Awesome
        window.FontAwesomeConfig = { autoReplaceSvg: false }
    </script>
    <div id="cms_user_panel">
        <div class="fab-wrapper">
            <input id="fabCheckbox" type="checkbox" class="fab-checkbox"/>
            <label class="fab" for="fabCheckbox">
                <span>
                    <i class="fa fa-cogs" data-toggle="tooltip" title="Options"></i>
                </span>
            </label>
            <div class="fab-wheel">
                <a class="fab-action fab-action-1" href="{{ path('bci_cms_page_index') }}">
                    <i class="fa fa-sitemap"></i>
                    <span>{{ 'cms_bundle.page.name'|trans({}, 'cms_bundle') }}</span>
                </a>
                <a class="fab-action fab-action-2" href="{{ path('bci_cms_block_index') }}">
                    <i class="fa fa-square"></i>
                    <span>{{ 'cms_bundle.block.name'|trans({}, 'cms_bundle') }}</span>
                </a>
                <a class="fab-action fab-action-3" href="{{ path('bci_cms_template_index') }}">
                    <i class="fa fa-object-group"></i>
                    <span class="long">{{ 'cms_bundle.template.name'|trans({}, 'cms_bundle') }}</span>
                </a>
                {# If the user is using internal bci_cms_show_edit dont allow non edition mode #}
                {% if app.request.get('_route') is not same as('bci_cms_page_show_edit')  %}
                    <a class="fab-action fab-action-4" data-ice="cms_overlay.updatePreferedView">
                        {% if app.user.config['prefered_view'] is defined and app.user.config['prefered_view'] == '1'  %}
                            <i class="fa fa-image"></i>
                            <span class="long">{{ 'cms_bundle.mode.0'|trans({}, 'cms_bundle') }}</span>
                        {% else %}
                            <i class="fa fa-edit"></i>
                            <span class="long">{{ 'cms_bundle.mode.1'|trans({}, 'cms_bundle') }}</span>
                        {% endif %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}