{################# Stylesheet de base #################}
<link rel="stylesheet" href="{{ asset("/bundles/bcicms/assets/assets/codemirror/lib/codemirror.css") }}">

{################# Tous les thèmes #################}
<link rel="stylesheet" href="{{ asset("/bundles/bcicms/assets/assets/codemirror/theme/3024-night.css") }}">
<link rel="stylesheet" href="{{ asset("/bundles/bcicms/assets/assets/codemirror/theme/ambiance.css") }}">
<link rel="stylesheet" href="{{ asset("/bundles/bcicms/assets/assets/codemirror/theme/dracula.css") }}">
<link rel="stylesheet" href="{{ asset("/bundles/bcicms/assets/assets/codemirror/theme/eclipse.css") }}">
<link rel="stylesheet" href="{{ asset("/bundles/bcicms/assets/assets/codemirror/theme/icecoder.css") }}">
<link rel="stylesheet" href="{{ asset("/bundles/bcicms/assets/assets/codemirror/theme/material.css") }}">
<link rel="stylesheet" href="{{ asset("/bundles/bcicms/assets/assets/codemirror/theme/mdn-like.css") }}">
<link rel="stylesheet" href="{{ asset("/bundles/bcicms/assets/assets/codemirror/theme/seti.css") }}">
<link rel="stylesheet" href="{{ asset("/bundles/bcicms/assets/assets/codemirror/theme/tomorrow-night-bright.css") }}">
<link rel="stylesheet" href="{{ asset("/bundles/bcicms/assets/assets/codemirror/theme/xq-light.css") }}">

{################ JS de base #################}
<script src="{{ asset("bundles/bcicms/assets/assets/codemirror/lib/codemirror.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/assets/codemirror/addon/fold/xml-fold.js") }}"></script>


{################ Tous les modes (langages) #################}
<script src="{{ asset("bundles/bcicms/assets/assets/codemirror/mode/css/css.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/assets/codemirror/mode/htmlmixed/htmlmixed.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/assets/codemirror/mode/xml/xml.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/assets/codemirror/mode/javascript/javascript.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/assets/codemirror/mode/twig/twig.js") }}"></script>


{################# Addons #################}
{# fullscreen #}
<link rel="stylesheet" href="{{ asset("bundles/bcicms/assets/assets/codemirror/addon/display/fullscreen.css") }}">
<script src="{{ asset("bundles/bcicms/assets/assets/codemirror/addon/display/fullscreen.js") }}"></script>

{# matchBrackets #}
<script src="{{ asset("bundles/bcicms/assets/assets/codemirror/addon/edit/matchbrackets.js") }}"></script>

{# closeBrackets #}
<script src="{{ asset("bundles/bcicms/assets/assets/codemirror/addon/edit/closebrackets.js") }}"></script>

{# matchTags #}
<script src="{{ asset("bundles/bcicms/assets/assets/codemirror/addon/edit/matchtags.js") }}"></script>

{# closeTags #}
<script src="{{ asset("bundles/bcicms/assets/assets/codemirror/addon/edit/closetag.js") }}"></script>

{# show-hint #}
<link rel="stylesheet" href="{{ asset("/bundles/bcicms/assets/assets/codemirror/addon/hint/show-hint.css") }}">
<script src="{{ asset("bundles/bcicms/assets/assets/codemirror/addon/hint/show-hint.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/assets/codemirror/addon/hint/javascript-hint.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/assets/codemirror/addon/hint/css-hint.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/assets/codemirror/addon/hint/html-hint.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/assets/codemirror/addon/hint/xml-hint.js") }}"></script>

{# active-line #}
<script src="{{ asset("bundles/bcicms/assets/assets/codemirror/addon/selection/active-line.js") }}"></script>

{# scrollbarStyle #}
<script src="{{ asset("bundles/bcicms/assets/assets/codemirror/addon/scroll/simplescrollbars.js") }}"></script>
<link rel="stylesheet" href="{{ asset("/bundles/bcicms/assets/assets/codemirror/addon/scroll/simplescrollbars.css") }}">
