<div class="copyright row align-items-center justify-content-center no-gutters" style="margin-top: 40px;">
    <div class="col-auto" style="padding-top: 2px; margin-left: 6px;">
        <a href="http://www.bisscomm.com" target="_blank">
            <img style="max-height: 16px;"src="{{ asset('/bundles/bcicms/assets/img/logo-bci.png') }}" alt="">
        </a> &copy; {{ "now"|date("Y")  }}
    </div>
</div>