<div class="col-12">
    <div class="card">
        <div class="card-header card-header-icon cleafix p-2">
            <div class="float-right order-1 order-sm-2">
                {% block footingCardaction %}
                    <a href="#" class="btn btn-rose ml-0 pl-3  pr-3">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
                    </a>
                {% endblock %}
            </div>
        </div>
    </div>
</div>