{% set owner = ownerService.getOwnerLocale(app.request.locale) %}
{% if job is defined and owner is not null and job.activated %}
    <script type="application/ld+json">
    {
        "@context": "https:\/\/schema.org",
        "@type": "JobPosting",
        "url": "{{ jobService.generateJobUrl(job, app.request) }}",
        "industry": "{{ job.industry }}",
        "salaryCurrency": "{{ job.salaryCurrency }}",
        "validThrough": "{{ job.endAt|date('Y-m-d') }}",
        "datePosted": "{{ job.createdAt|date('Y-m-d') }}"
        {% if owner.logo is not null %}
            ,"image": "{{ app.request.getSchemeAndHttpHost() }}{{ vich_uploader_asset(owner.logo, 'tempFile', 'Bci\\CmsBundle\\Entity\\UploadableFileCms') }}"
        {% endif %}
        ,"hiringOrganization": {
            "@type": "Organization",
            "url": "{{ app.request.getSchemeAndHttpHost() }}",
            "legalName": "{{ owner.legalName}}",
            "name": "{{ owner.name }}"
            {% if owner.logo is not null %}
                ,"logo": "{{ app.request.getSchemeAndHttpHost() }}{{ vich_uploader_asset(owner.logo, 'tempFile', 'Bci\\CmsBundle\\Entity\\UploadableFileCms') }}"
            {% endif %}
        },
        "jobLocation": {
            "@type": "Place",
            "address": {
                "type": "PostalAddress",
                "postalCode": "{{ job.postalCode }}",
                "streetAddress": "{{ job.civicNumber }}, {{ job.street }}",
                "addressLocality": "{{ job.city }}",
                "addressRegion": "{{ job.province }}",
                "addressCountry": "{{ job.country }}"
            }
{#            "geo": {#}
{#               "@type": "GeoCoordinates",#}
{#               "latitude": 46.831199645996094,#}
{#               "longitude": -71.25189971923828#}
{#            },#}
{#           "url": "https:\/\/www.google.ca\/maps\/search\/205%2C+boulevard+des+C%C3%A8dres%2C+Qu%C3%A9bec%2C+QC%2C+G1L+1N8"#}
{# TODO make request to : https://www.google.ca/maps/search/owner.civicNumber+owner.street+owner.city+owner.province+owner.postalCode #}
{# het geo cordinate from redirect url from google #}
        },
        "title": "{{ job.title }}",
        {% if job.jobLocationType %}
            "jobLocationType": "TELECOMMUTE",
        {% endif %}
        {% if job.employmentType %}
            "employmentType": [
            {% for type in job.employmentType %}
                "{{ type }}" {% if not loop.last %} ,{% endif %}
            {% endfor %}
        ],
        {% endif %}

        "jobBenefits": "{{ job.jobBenefits|raw|escape }}",
        "description": "{{ job.description|raw|escape }}",
        "skills": "{{ job.skills|raw|escape }}",
        "educationRequirements": "{{ job.educationRequirements|raw|escape }}",
        "experienceRequirements": "{{ job.experienceRequirements|raw|escape }}",
        "totalJobOpenings": "{{ job.totalJobOpenings|escape }}",
        "baseSalary": {
        "@type": "MonetaryAmount",
        "currency": "{{ job.salaryCurrency }}",
        "value": {
          "@type": "QuantitativeValue",
          "value": "{{ job.hoursSalary }}",
          "unitText": "HOUR"
        }
        }
    }

    </script>
{% endif %}