<div class="col-12">
    <div class="card">
        <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
            {% include '@BciCms/Layout/_partial/_title.html.twig' with {
                'icon': icon
            } %}
            <div class="float-md-right d-none d-md-inline">
                {% block headingCardAction %}
                    <a href="#" class="btn btn-rose ml-0 pl-3  pr-3">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
                    </a>
                {% endblock %}
            </div>
        </div>
    </div>
</div>