{% import '@BciCms/Layout/shared/macro.html.twig' as fct %}
<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent py-1">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="#">{{ fct.module_name(app.request) }}</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="help" class="nav-link" href="#" data-ice-click="app.getHelp" data-toggle="tooltip" data-placement="bottom" title="Aide">
                        <i class="fa fa-question-circle"></i>
                        <p>
                            <span class="d-lg-none d-md-block">{{ 'bci.cms.dashboard'|trans({}, 'cms_bundle') }}</span>
                        </p>
                    </a>
                </li>
                {% if get_form().hasForm|length > 0 %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('form_index') }}" data-toggle="tooltip"
                           data-placement="bottom" title="Accéder aux formulaires">
                            <i class="fa fa-2x fa-envelope"></i>
                            {% if get_form().getSubscriptions > 0 %}
                                <span class="notification">{{ get_form().getSubscriptions }}</span>
                            {% endif %}
                            <p>
                                <span class="d-lg-none d-md-block">{{ 'bci.cms.dashboard'|trans({}, 'cms_bundle') }}</span>
                            </p>
                        </a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-ice="sitemap.regenererSitemap"
                           data-ice-params='["{{ path('bci_cms_get_base_domain_url') }}","{{path('regenerate_sitemap')}}"]' data-toggle="tooltip" data-placement="bottom" title="Regénérer la sitemap">
                            <i class="fa fa-2x fa-map-signs"></i>
                            <p>
                                <span class="d-lg-none d-md-block">{{ 'bci.cms.dashboard'|trans({}, 'cms_bundle') }}</span>
                            </p>
                        </a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('bci_cms_page_index') }}" data-toggle="tooltip"
                           data-placement="bottom" title="Liste des pages">
                            <i class="fa fa-sitemap"></i>
                            <p>
                                <span class="d-lg-none d-md-block">{{ 'bci.cms.dashboard'|trans({}, 'cms_bundle') }}</span>
                            </p>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('bci_cms_page_show') }}" target="_blank" data-toggle="tooltip"
                       data-placement="bottom" title="Accéder au site en ligne">
                        <i class="fa fa-globe"></i>
                        <p>
                            <span class="d-lg-none d-md-block">{{ 'bci.cms.dashboard'|trans({}, 'cms_bundle') }}</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#account" id="navbarDropDownMenuUser" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">brightness_6</i>
                        <p>
                            <span class="d-lg-none d-md-block">
                                Account
                                <b class="caret"></b>
                            </span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropDownMenuUser">
                        <a href="#" class="dropdown-item" id="dark-colors">
                            <i class="material-icons pr-2">{{ app.request.cookies.get('admin-color') == 'dark'?'brightness_5':'brightness_2' }}</i>
                            {{ app.request.cookies.get('admin-color') == 'dark'?'Light Mode':'Dark Mode' }}
                        </a>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a href="{{ path('bci_cms_phpinfo') }}" class="dropdown-item" id="dark-colors">
                                <i class="material-icons pr-2">settings</i>
                                {{ ('bci.cms.general.action.phpinfo')|trans({}, 'cms_bundle') }}
                            </a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" data-toggle="dropdown">
                        <i class="fa fa-user-circle"></i>
                        <p>
                            {{ 'bci.cms.dashboard'|trans({}, 'cms_bundle') }}
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropDownMenuUser">
                        {% for locale in availLocales %}
                            {% if locale != app.session.get('_locale') %}
                                <a class="dropdown-item" href="?_locale={{ locale }}">
                                    {{ ('bci.cms.general.action.switchLocale.' ~ locale)|trans({}, 'cms_bundle') }}
                                </a>
                            {% endif %}
                        {% endfor %}
                        <a class="dropdown-item" href="{{ path('security_logout') }}">
                            <i class="fa fa-sign-out"></i>
                            {{ 'bci.cms.general.action.logout'|trans({}, 'cms_bundle') }}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>