{#{{ include('@BciCharts/_partials/scripts.html.twig') }}#}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
<script src="{{ asset('build/js/cms.js') }}"></script>
<script src="{{ asset("bundles/bcicms/assets/js/tinymce/js/tinymce/tinymce.min.js") }}"></script>
{#<script src="{{ asset("bundles/bcicms/assets/js/core/jquery.min.js") }}"></script>#}
{#<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>#}
<script src="{{ asset("bundles/bcicms/assets/js/core/popper.min.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/js/bootstrap-material-design.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/js/plugins/perfect-scrollbar.jquery.min.js") }}"></script>
<!--  Google Maps Plugin
<script type="text/javascript" src="https:/maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
-->
<!--  Plugin asd Date Time Picker and Full Calendar Plugin  -->
{#<script src="{{ asset("bundles/bcicms/assets/js/plugins/moment.min.js") }}"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous"></script>
<!--	Plugin for the Datepicker, full documentation here: https:/github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="{{ asset("bundles/bcicms/assets/js/plugins/bootstrap-datetimepicker.min.js") }}"></script>
<!--	Plugin for the Sliders, full documentation here: http:/refreshless.com/nouislider/ -->
<script src="{{ asset("bundles/bcicms/assets/js/plugins/nouislider.min.js") }}"></script>
<!--	Plugin for Select, full documentation here: http:/silviomoreto.github.io/bootstrap-select -->
<script src="{{ asset("bundles/bcicms/assets/js/plugins/bootstrap-selectpicker.js") }}"></script>
<!--	Plugin for Tags, full documentation here: http:/xoxco.com/projects/code/tagsinput/  -->
<script src="{{ asset("bundles/bcicms/assets/js/plugins/bootstrap-tagsinput.js") }}"></script>
<!--	Plugin for Fileupload, full documentation here: http:/www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{{ asset("bundles/bcicms/assets/js/plugins/jasny-bootstrap.min.js") }}"></script>
<!-- Plugins for presentation and navigation  -->
<script src="{{ asset("bundles/bcicms/assets/assets-for-demo/js/modernizr.js") }}"></script>
<!-- Material Dashboard Core initialisations of plugins and Bootstrap Material Design Library -->
<script src="{{ asset("bundles/bcicms/assets/js/material-dashboard.js") }}"></script>
<!-- Dashboard scripts -->
<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<!-- Library asd adding dinamically elements -->
<script src="{{ asset("bundles/bcicms/assets/js/plugins/arrive.min.js") }}"></script>
<!-- Forms Validations Plugin -->
<script src="{{ asset("bundles/bcicms/assets/js/plugins/jquery.validate.min.js") }}"></script>
<!--  Charts Plugin, full documentation here: https:/gionkunz.github.io/chartist-js/ -->
<script src="{{ asset("bundles/bcicms/assets/js/plugins/chartist.min.js") }}"></script>
<!--  Plugin for the Wizard, full documentation here: https:/github.com/VinceG/twitter-bootstrap-wizard -->
<script src="{{ asset("bundles/bcicms/assets/js/plugins/jquery.bootstrap-wizard.js") }}"></script>
<!--  Notifications Plugin, full documentation here: http:/bootstrap-notify.remabledesigns.com/    -->
<script src="{{ asset("bundles/bcicms/assets/js/plugins/bootstrap-notify.js") }}"></script>
<!-- Vector Map plugin, full documentation here: http:/jvectormap.com/documentation/ -->
    {#<script src="{{ asset("bundles/bcicms/assets/js/plugins/jquery-jvectormap.js") }}"></script>#}
<!-- Sliders Plugin, full documentation here: https:/refreshless.com/nouislider/ -->
<script src="{{ asset("bundles/bcicms/assets/js/plugins/nouislider.min.js") }}"></script>
<!--  Plugin for Select, full documentation here: http:/silviomoreto.github.io/bootstrap-select -->
{#<script src="{{ asset("bundles/bcicms/assets/js/plugins/jquery.select-bootstrap.js") }}"></script>#}
<!--  DataTables.net Plugin, full documentation here: https:/datatables.net/    -->
<script src="{{ asset("bundles/bcicms/assets/js/plugins/jquery.datatables.js") }}"></script>
<!-- Sweet Alert 2 plugin, full documentation here: https:/limonte.github.io/sweetalert2/ -->
<script src="{{ asset("bundles/bcicms/assets/js/plugins/sweetalert2.js") }}"></script>
<!-- Plugin for Fileupload, full documentation here: http:/www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{{ asset("bundles/bcicms/assets/js/plugins/jasny-bootstrap.min.js") }}"></script>
<!--  Full Calendar Plugin, full documentation here: https:/github.com/fullcalendar/fullcalendar    -->
<script src="{{ asset("bundles/bcicms/assets/js/plugins/fullcalendar.min.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/js/plugins/clipboard.js") }}"></script>
<!--  A plugin used to nest some divs among others - Used for the menu builder    -->
<script src="{{ asset("bundles/bcicms/assets/js/plugins/jquery-nestable.js") }}"></script>
<!-- Cookie plugin management -->
<script src="{{ asset("bundles/bcicms/assets/js/plugins/jquery.cookie.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/js/plugins/demo.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/assets/jquery-ui/jquery-ui.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/assets/jquery-class/jquery.class.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/assets/jquery-ice/jquery-ice.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/js/app.class.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/js/modal.class.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/js/block.class.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/js/job.class.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/js/template.class.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/js/page.class.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/js/blog.class.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/js/carousel.class.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/js/sitemap.class.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/js/cms.form.class.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/js/postcss.class.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/js/cookie.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/js/main.js") }}"></script>

<!-- Extend of jquery-nestable.js -->
<script src="{{ asset("bundles/bcicms/assets/js/menu-builder.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/js/menu-builder.class.js") }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.js"></script>


{#CHECK IF FORM VALIDATION BUNDLE IS THERE OR NOT #}
{#{% if file_exist() %}#}
{#    {% include '@BciCms/Layout/_partial/_js_validation.html.twig' %}#}
{#{% else %}#}
{#    <script> alert("JS VALIDATION NOT ENABLE \n" +#}
{#            "=================PLEASE RUN=================\n"+#}
{#            'composer require "fp/jsformvalidator-bundle":"dev-master"\n'+#}
{#            "============================================\n"+#}
{#            "After run : yarn encore dev\n"+#}
{#            "============================================\n"+#}
{#            "This will enable form validation and get rid of this alert")#}
{#    </script>#}
{#{% endif %}#}