{#Display Macro#}
{% macro generateMetas(meta, currentEntity) %}
    {% if 'image' in meta.displayName and meta.type == 'OPENGRAPH' and meta.image %}
        <meta property="{{ meta.property }}" content="{{ metaService.imagesPathGenerator(meta, app.request) }}"/>
    {% elseif 'image' in meta.displayName and meta.type == 'TWITTER' and meta.image %}
        <meta name="{{ meta.name }}" content="{{ metaService.imagesPathGenerator(meta, app.request) }}"/>
    {% elseif 'image' in meta.displayName and meta.type == 'OPENGRAPH' and not meta.image %}
        {% set displayGenericMeta = true %}
        {% set displayGenericMetaImage = true %}
    {% elseif 'image' in meta.displayName and meta.type == 'TWITTER' and not meta.image %}
        {% set displayGenericMeta = true %}
        {% set displayGenericMetaImage = true %}
    {% elseif meta.type == 'OPENGRAPH' %}
        <meta property="{{ meta.property }}" content="{{ metaService.searchToReplace(meta.content, app.request, currentEntity) }}"/>
    {% elseif meta.type == 'CUSTOM' %}
        <meta {{ meta.property }}="{{ meta.name }}" content="{{ metaService.searchToReplace(meta.content, app.request, currentEntity) }}"/>
    {% else %}
        <meta name="{{ meta.name }}" content="{{ metaService.searchToReplace(meta.content, app.request, currentEntity) }}"/>
    {% endif %}
{% endmacro %}

{# Page Metas#}
{% set displayGenericMeta = true %}
{% if page is defined and article is not defined and job is not defined  %}
    {% for meta in page.getHeadingLocale(app.request.locale).metas %}
        {% if 'image' in meta.displayName %}
            {% set displayGenericMeta = false %}
        {% endif %}
        {{ _self.generateMetas(meta, page) }}
    {% endfor %}
    {% if displayGenericMeta %}
        {% set img = metaService.genericMetaImage(app.request) %}
        <meta name="twitter:image" content="{{ img }}" />
        <meta property="og:image" content="{{ img }}"/>
    {% endif %}
{% endif %}

{#Article Metas#}
{% set displayGenericMetaImage = true %}
{% if article is defined %}
    {% for meta in article.metas %}
        {% if 'image' in meta.displayName %}
            {% set displayGenericMetaImage = false %}
        {% endif %}
        {{ _self.generateMetas(meta, article) }}
    {% endfor %}
    {% if displayGenericMetaImage %}
        {% set articleImg = metaService.imagesPathGenerator(article, app.request) %}
        {% set img = metaService.genericMetaImage(app.request) %}
        <meta name="twitter:image" content="{{ articleImg ? articleImg : img }}" />
        <meta property="og:image" content="{{ articleImg ? articleImg : img }}"/>
    {% endif %}
{% endif %}

{#Job Metas#}
{% set displayGenericMeta = true %}
{% if job is defined %}
    {% for meta in job.metas %}
        {% if 'image' in meta.displayName %}
            {% set displayGenericMeta = false %}
        {% endif %}
        {{ _self.generateMetas(meta, job) }}
    {% endfor %}
    {% if displayGenericMeta %}
        {% set img = metaService.genericMetaImage(app.request) %}
        <meta name="twitter:image" content="{{ img }}" />
        <meta property="og:image" content="{{ img }}"/>
    {% endif %}
{% endif %}

{% block projectSpecificMetas %}
{% endblock %}