<div class="card card-nav-tabs card-plain">
    <div class="card-header card-header-primary">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                    {% for var in vars %}
                        <li class="nav-item ">
                            <a class="nav-link {{ var.slug == app.request.pathInfo ? 'active' : '' }}" href="{{ var.slug }}">
                              {{ var.trans }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

