<input type="hidden" name="recaptcha_response" id="recaptchaResponse">
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let form = $('form'),
            textRecaptcha = '{{ 'cms_bundle.form.recaptchaText'|trans({}, 'cms_bundle')|raw }}',
            formToken = '{{ formToken|trim }}'

        formToken = formToken.replace(/(-)|([0-9])/g, function (x) {
            return x === '-' ? x = '_' : x = '';
        });

        $('head').append('<style>.grecaptcha-badge { visibility:hidden;opacity:0;}</style>')
        $('head').append('<script src="https://www.google.com/recaptcha/api.js?render={{ siteKey }}"><\/script>')
        form.append(`<p class="recaptcha-txt" style="font-style: italic;">${textRecaptcha}</p>`)
        form.submit(function (e) {
            e.preventDefault()
            grecaptcha.execute('{{ siteKey }}', {action: formToken})
                .then(function (token) {
                    form.find('#recaptchaResponse').val(token)
                }).then(function () {
                if (form.hasClass('ajax')) {
                    $.ajax({
                        type: 'POST',
                        url: form.attr("action"),
                        data: new FormData(form.get(0)),
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function (response, textStatus, jqXHR) {
                            form.find('.result').removeClass('d-none');
                            form.trigger("reset");
                        }
                    });
                } else {
                    e.currentTarget.submit();
                }
            })
        })

    });

</script>


