{% if isEnvLive() %}
    {% for scriptTag in scriptTags %}
{#        <script id="{{ scriptTag.title }}">#}
            {{ scriptTag.script|raw }}
{#        </script>#}
    {% endfor %}
{% else %}
    {% for scriptTag in scriptTags %}
        {% if scriptTag.presentInStaging %}
{#            <script id="{{ scriptTag.title }}">#}
                {{ scriptTag.script|raw }}
{#            </script>#}
        {% endif %}
    {% endfor %}
{% endif %}