<div class="sidebar" data-color="rose"
     data-background-color="{{ app.request.cookies.get('admin-color') == 'dark'?'black':'' }}">

    <div class="logo">
        <a href="{{ app_home is defined ? app_home : path('bci_cms_index') }}" class="simple-text logo-icon">
            <img src="{{ app.request.cookies.get('admin-color') == 'dark'?'/bundles/bcicms/assets/img/bissCommLogo-white.png':'/bundles/bcicms/assets/img/bissCommLogo.png' }}"
                 alt="{{ 'bci.cms.name'|trans({}, 'cms_bundle') }}" title="{{ 'bci.cms.name'|trans({}, 'cms_bundle') }}"
                 width="100%"/>
        </a>
        <a href="{{ app_home is defined ? app_home : path('bci_cms_index') }}" class="simple-text logo-text">
            <img src="{{ app.request.cookies.get('admin-color') == 'dark'?'/bundles/bcicms/assets/img/bissCommText-white.png':'/bundles/bcicms/assets/img/bissCommText.png' }}{{ '' }}"
                 alt="{{ 'bci.cms.name'|trans({}, 'cms_bundle') }}" title="{{ 'bci.cms.name'|trans({}, 'cms_bundle') }}"
                 width="80%"/>
        </a>
    </div>
    <div class="accordion">
        <div class="sidebar-wrapper">

            {{ knp_menu_render('sidebar', {
                'template': '@BciCms/Knp/knp_menu.html.twig',
                'currentClass': 'active-nav',
                'ancestorClass': 'active-nav'
            }) }}

        </div>
        <div class="navbar-minimize d-flex justify-content-center align-items-end">
            <button id="minimizeSidebar" class="btn btn-just-icon btn-rose btn-fab btn-round">
                <i class="material-icons text_align-center visible-on-sidebar-regular">keyboard_arrow_left</i>
                <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">keyboard_arrow_right</i>
            </button>
        </div>
    </div>
</div>