<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="{{ asset("/bundles/bcicms/compiled/css/app.css") }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

{#<link href="{{ asset("bundles/bcicms/assets/assets-for-demo/demo.css") }}" rel="stylesheet" />#}
