<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="{{ asset("build/cms/app.css") }}">
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />#}
<script src="https://kit.fontawesome.com/6da887f8af.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.css">
<link rel="stylesheet" href="{{ asset("/bundles/bcicms/assets/assets/jquery-ui/jquery-ui.css") }}">

<link rel="stylesheet" href="{{ asset("/bundles/bcicms/assets/scss/plugins/sweetalert2.css") }}">

{% include '@BciCms/Layout/_partial/_codemirror.html.twig' %}

<script src="{{ asset("bundles/bcicms/assets/js/core/jquery.min.js") }}"></script>
<script src="{{ asset("bundles/bcicms/assets/assets/jquery-ui/jquery-ui.js") }}"></script>
<style>
    .form-errors {
        color: #e01a21;
        list-style-type: none;
        padding-inline-start: 7px;

    }
</style>