<div class="col-12 col-xl-12">
    <div class="card">
        <div class="card-body">
            <div class="material-datatables">
                <table id="datatables"
                       class="table table-striped table-no-bordered table-hover dataTable dtr-inline"
                       cellspacing="0" width="100%" style="width:100%">
                    <thead>
                    <tr>
                        {% block tableHead %}{% endblock %}
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        {% block tableFoot %}{% endblock %}
                    </tr>
                    </tfoot>
                    <tbody>
                        {% block tableBody %}{% endblock %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>