{% import '@BciCms/Layout/shared/macro.html.twig' as fct %}
{% if icon is defined %}
    <div class="card-icon bg-main">
        <i class="fa fa-2x fa-{{ icon }}"></i>
    </div>
{% endif %}
<h4 class="card-title float-md-left white-space-normal">{{ fct.module_action(app.request) }}</h4>
