{% extends '@BciCms/Layout/layout.html.twig' %}

{% block content %}
    {% embed '@BciCms/postcss/_partial/_form.html.twig' %}
        {% block btnTop %}
            <button id="save" data-ice-click="postcss.save" class="btn btn-rose d-inline-block load" style="padding-left: .5rem; padding-right:.5rem">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2 save-state">sauvegarder</span>
            </button>
        {% endblock %}
    {% endembed %}
{% endblock %}



