<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for siteMap in siteMaps %}
        <sitemap>
            <loc>{{ siteMap }}</loc>
        </sitemap>
    {% endfor %}
</sitemapindex>
