<form id="formDeleteTranslation" method="post" action="{{ path('bci_cms_slide_translation_delete', {'id': slide.id , 'locale': locale}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ slide.id) }}">
</form>