{% form_theme form '@BciCms/Layout/shared/builder_form_layout.html.twig' %}
{{ form_start(form, {"attr":{"class":"col-12"}}) }}
<style>
    .bootstrap-datetimepicker-widget{
        z-index: 9999999999999999;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
                {% include '@BciCms/Layout/_partial/_title.html.twig' with {
                    'icon': 'exchange'
                } %}
                <div class="float-md-right d-none d-md-inline ">
                    {% block btnTop %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card card-nav-tabs card-plain">
            {% block btnLocales %}
            {% endblock %}
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row" style="justify-content:space-evenly">
                <div class="form-group col-2">
                    {#                        Archive/Active#}
                    {{ form_label(form.status, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                    {{ form_widget(form.status, { 'attr': {'class': 'form-control selectpicker'} }) }}
                </div>
                {# StartAt #}
                <div class="form-group col-2">
                    <div class="form-group">
                        {{ form_label(form.startAt, null, { 'label_attr': {'class': 'form-group bmd-label-floating', 'style':'padding-bottom:27.5px;'} }) }}
                        {{ form_widget(form.startAt, { 'attr': {'class': 'form-control datetimepicker_from'} }) }}
                        {{ form_errors(form) }}
                    </div>
                </div>
                {# EndAt #}
                <div class="form-group col-2">
                    <div class="form-group">
                        {{ form_label(form.endAt, null, { 'label_attr': {'class': 'form-group bmd-label-floating', 'style':'padding-bottom:27.5px;' } }) }}
                        {{ form_widget(form.endAt, { 'attr': {'class': 'form-control datetimepicker_to'} }) }}
                        {{ form_errors(form) }}
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    {# IMAGE INFO #}
    <div class="col-6">
        <div class="card" style="height: 97.48%">
            <div class="card-body">
                <table align="center" style="float: left">
                    <tr>
                        <td width="25%">
                            <div style="display: inline-block;position: relative; top:75%; left: 15%">
                                {% if form.image.vars.data is not null %}
                                    {% if form.vars.data.image %}
                                        {% set imagePath = vich_uploader_asset(form.vars.data.image, 'tempFile', 'Bci\\CmsBundle\\Entity\\UploadableFileCms') %}
                                    {% else %}
                                        {% set imagePath = "" %}
                                    {% endif %}
                                {% else %}
                                    {% set imagePath = "" %}
                                {% endif %}
                                {{ form_widget(form.image.tempFile, { 'attr': {'class': '', 'filepath': imagePath} }) }}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        {{ form_label(form.imageTitle, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                        {{ form_errors(form) }}
                        {{ form_widget(form.imageTitle, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div>
                        {{ form_label(form.imageAlt, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                        {{ form_errors(form) }}
                        {{ form_widget(form.imageAlt, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="">
                    {{ form_label(form.url, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form.url, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="">
                    {{ form_label(form.buttonTitle, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form.buttonTitle, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
        </div>
    </div>
    {# CAROUSEL #}
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    {{ form_label(form.title, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form.title, { 'attr': {'class': 'form-control tinymce_flag', 'data-height': '250px'} }) }}
                </div>
                <div>
                    {{ form_label(form.text, null, { 'label_attr': {'class': ''} }) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form.text, { 'attr': {'class': 'form-control tinymce_flag', 'data-height': '500px'} }) }}
                </div>
            </div>
        </div>
    </div>
    {% do form.setRendered %}
    {{ form_end(form) }}
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-icon cleafix p-2">
                <div class="float-left order-2 order-sm-1">
                    <a href="{{ path('bci_cms_carousel_edit', {'id': carouselId, 'locale': locale}) }}" class="btn ml-0 pr-1 pl-1 pr-sm-3">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span>
                    </a>
                </div>
                <div class="float-right order-1 order-sm-2">
                    {% block btnBottom %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>