// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary:              $main-red !default;
$brand-info:                 $cyan-500 !default;
$brand-success:              $green-500 !default;
$brand-warning:              $orange-500 !default;
$brand-danger:               $red-500 !default;
$brand-rose:                 $main-blue !default;
$brand-inverse:              $black-color !default;


.bg-main{
  background-color: $main-red !important;
}

.bg-mainDark{
  background-color: $main-blue !important;
}
.bg-darkWhite{
  background-color: darken(#fff,5%) !important;
}

.text-darkWhite{
  color: darken(#fff,5%) !important;
}
