{% form_theme form '@BciCms/Layout/shared/builder_form_layout.html.twig' %}
{{ form_start(form, {"attr":{"class":"col-12"}}) }}

<style>
.centered-col{
    margin-top: 20px;

}
html, body {
    height: 100%;
}
.card{
    margin-top: 50px;
}
.CodeMirror {
    border: 1px solid #eee;
    max-height: 300px!important;
    height: 300px;
}
</style>
<div class="row" style="min-height: 100%!important;">
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
                {% include '@BciCms/Layout/_partial/_title.html.twig' with {
                    'icon': 'cogs'
                } %}
                <div class="float-md-right d-none d-md-inline ">
                    {% block btnTop %}
                    {% endblock %}
                </div>
            </div>
            <div class="card-body">
                <div class="row justify-content-left">
                    <ul class="nav nav-pills">
                        <li class="nav-item active"><a class="nav-link active show" data-toggle="pill" href="#scriptTags">Gestionnaire de scripts</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#database">Base de données</a></li>
{#                        <li><a data-toggle="pill" href="#menu2">Menu 2</a></li>#}
                    </ul>


{#                     SCRIPT TAGS CONFIGURATION#}
                    <div class="col-11 centered-col" id="scriptTags">
                        <div class="card">
                            <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
                                <div class="card-icon bg-rose">
                                    <i class="fa fa-2x fa-tags" aria-hidden="true"></i>
                                </div>
                                <h4 class="card-title float-md-left white-space-normal">{{ 'bci.cms.scriptTags'|trans({},'cms_bundle') }}</h4>
                                <button type="button"
                                        style="float: right; max-width: 200px"
                                        class="btn btn-rose float-right"
                                        data-list-selector="#tags"
                                        data-ice="app.addFromPrototypeScriptTags"
                                        data-container="#tags">{{ 'bci.cms.general.action.add_custom'|trans({},'cms_bundle') }}</button>
                            </div>
                            <div id="tags" class="card-body"

                                 data-prototype="{% filter escape %}{% include '@BciCms/configuration/_prototypes/scriptTag.html.twig' with { 'scriptTag': form.scriptTags.vars.prototype } %}{% endfilter %}"
                                 data-widget-tags="{{ '<div></div>'|e }}"
                                 data-widget-counter="{{ form.children.scriptTags|length }}">
                                <div class="col-12 centered-col">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row" style="max-height: 50px;">
                                                <div class="col-1"><h5>Voir</h5></div>
                                                <div class="col-2" style="margin-left: 33px"><h5>Titre du script</h5></div>
                                                <div class="col-2"></div>
                                                <div class="col-1" style="text-align: right"><h4>Appliquer au staging</h4></div>
                                                <div class="col-2" style="margin-left: 47px!important"><h5>Position</h5></div>
                                                <div class="col-2" style="margin-left: 97px!important"><h5>Supprimer</h5></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% for scriptTag in form.scriptTags %}
                                    {% include '@BciCms/configuration/_prototypes/scriptTag.html.twig' with { 'scriptTag': scriptTag } %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>

{#                     AUTRE CONFIGURATION#}
                    <div class="col-11 centered-col" id="database" style="display: none">
                        <div class="card">
                            <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
                                <div class="card-icon bg-rose">
                                    <i class="fa fa-2x fa-database" aria-hidden="true"></i>
                                </div>
                                <h4 class="card-title float-md-left white-space-normal">Base de données</h4>
                            </div>
                            <div class="card-body">
                                <a href="{{ path('bci_cms_configuration_dump_database') }}" class="btn ml-0 pl-3  pr-3">
                                    <i class="fa fa-download" aria-hidden="true"></i>
                                    <span class="d-none d-sm-inline">Exporter la base de données</span>
                                </a>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-icon cleafix p-2">
{#                <div class="float-left order-2 order-sm-1">#}
{#                    <a href="{{ path('bci_cms_profiles') }}" class="btn ml-0 pr-1 pl-1 pr-sm-3">#}
{#                        <i class="fa fa-chevron-left" aria-hidden="true"></i>#}
{#                        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span>#}
{#                    </a>#}
{#                </div>#}
                <div class="float-right order-1 order-sm-2">
                    {% block btnBottom %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% do form.scriptTags.setRendered %}
{{ form_end(form) }}