<form id="formDelete" method="post" action="{{ path('bci_cms_blog_delete', {'id': blog.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blog.id) }}">
{#    <button class="btn">Delete</button>#}
</form>
