{% form_theme form '@BciCms/Layout/shared/blog_builder_form_layout.html.twig' %}
{{ form_start(form, {"attr":{"class":"col-12"}}) }}
{% trans_default_domain 'cms_bundle' %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
                {% include '@BciCms/Layout/_partial/_title.html.twig' with {
                    'icon': 'newspaper-o'
                } %}
                <div class="float-md-right d-none d-md-inline ">
                    {% block btnTop %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card card-nav-tabs card-plain">
            {% block btnLocales %}{% endblock %}
        </div>
    </div>

    {# BLOG INFO #}
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 style="margin-top: 2%;margin-left: 10%;margin-bottom: 2%;">{{ 'bci.cms.blog.name'|trans }}</h2>
                <div class="row">
                    <div class="col-md-7 col-sm-12 ml-auto mr-auto">
                        <div class="form-group">
                            {{ form_label(form.title, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                            {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                </div>
{#       ARTICLES  #}
    {% if blog.id %}
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {% if blog.id %}
                        {% if availLocales | length == 1 %}
                            <a href="{{ path('bci_cms_article_new', {locale: locale})  }}" class="btn btn-rose ml-0 pl-3  pr-3" style="float: right">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
                            </a>
                        {% elseif availLocales | length > 1 %}
                            <div class="dropdown" style="float: right">
                                <button class="dropdown-toggle btn btn-rose" type="button" id="locale_drop_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    {{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="locale_drop_down">
                                    {% for availLocale in availLocales %}
                                        <a class="dropdown-item" href="{{ path('bci_cms_article_new', {'id': blog.id, 'locale': availLocale}) }}">{{ 'bci.cms.blog.article.action.new'|trans({'%locale%': availLocale | capitalize}, 'cms_bundle') }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="card-body">
                    <h2 style="margin-top: 2%;margin-left: 10%;margin-bottom: 2%;">{{ 'bci.cms.blog.articles'|trans }}</h2>
                    <div class="row">
                        <div class="col-12">
                                <div class="material-datatables">
                                    <table id="datatables"
                                           class="table table-striped table-no-bordered table-hover dataTable dtr-inline"
                                           cellspacing="0" width="100%" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>{{ 'bci.cms.blog.article.id'|trans({}, 'cms_bundle') }}</th>
                                            <th>{{ 'bci.cms.blog.article.title'|trans({}, 'cms_bundle') }}</th>
                                            <th>{{ 'bci.cms.blog.article.locales'|trans({}, 'cms_bundle') }}</th>
                                            <th>{{ 'bci.cms.blog.article.publishedAt'|trans({}, 'cms_bundle') }}</th>
                                            <th>{{ 'bci.cms.blog.article.updatedAt'|trans({}, 'cms_bundle') }}</th>
                                            <th class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th class="text-left">{{ 'bci.cms.blog.article.id'|trans({}, 'cms_bundle') }}</th>
                                            <th>{{ 'bci.cms.blog.article.title'|trans({}, 'cms_bundle') }}</th>
                                            <th>{{ 'bci.cms.blog.article.locales'|trans({}, 'cms_bundle') }}</th>
                                            <th>{{ 'bci.cms.blog.article.publishedAt'|trans({}, 'cms_bundle') }}</th>
                                            <th>{{ 'bci.cms.blog.article.updatedAt'|trans({}, 'cms_bundle') }}</th>
                                            <th class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                        {% for article in blog.articles %}
                                            <tr>
                                                <td>{{ article.id }}</td>
                                                <td><a href="{{ path('bci_cms_article_edit', {'id': article.id}) }}" class="btn-link">{{ article.title }}</a></td>
                                                <td>
                                                    {% set articleLocales = [] %}
                                                    {% for availLocale in availLocales %}
                                                        {% if translationService.entityTranslations(article)[availLocale] is defined %}
                                                            {% set articleLocales = articleLocales | merge(['<a href="'~ path('bci_cms_article_edit', {id: article.id, locale: availLocale})~'">'~(availLocale | capitalize)~'</a>']) %}
                                                        {% else %}
                                                            {% set articleLocales = articleLocales | merge([ '<span class="disabled" style="color: #cccccc">' ~ (availLocale | capitalize) ~ '</span> <a href="'~ path('bci_cms_article_edit', {id: article.id, locale: availLocale})~'">+</a>']) %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {{ articleLocales | join(' / ') | raw }}
                                                </td>
                                                <td class="text-truncate">{{ article.publishedAt | date("Y-m-d h:i:s") }}</td>
                                                <td class="text-truncate">{{ article.updatedAt | date("Y-m-d h:i:s")}}</td>
                                                <td class="text-right">
                                                    <a href="" class="btn btn-link btn-just-icon dropdown-toggle item-edit" type="button" id="page_drop_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">edit</i>
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="page_drop_down" >
                                                        {% set plocales = [] %}
                                                        {% for availLocale in availLocales %}
                                                            {% set plocales = plocales | merge(['<a class="dropdown-item" href="'~ path('bci_cms_article_edit', {'id': article.id, 'locale': availLocale})~'">'~(availLocale | capitalize)~'</a>']) %}
                                                        {% endfor %}
                                                        {{ plocales | join('') | raw }}
                                                    </div>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="6">{{ 'bci.cms.general.no_record'|trans({}, 'cms_bundle') }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                        <style>
                            .dataTables_length{
                                max-width: 100px!important;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
    {% else %}
            </div>
        </div>
    </div>
    {% endif %}



<div class="col-12">
    <div class="card">
        <div class="card-header card-header-icon cleafix p-2">
            <div class="float-left order-2 order-sm-1">
                <a href="{{ path('bci_cms_blog_index') }}" class="btn ml-0 pr-1 pl-1 pr-sm-3">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span>
                </a>
            </div>
            <div class="float-right order-1 order-sm-2">
                {% block btnBottom %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
</div>
{{ form_end(form) }}
