
.form-page {

  .card-body > #items > .row {
    border-bottom: 1px solid #ddd;
  }

  .card-body > #items > .row {

    label {
      color: #333333
    }

    input, textarea, select {
      background: white;
    }

    select {
      height: 36px;
    }

    .btn.btn-just-icon {
      margin-top: 45px;
    }
  }

  .card-body > #items > .row:nth-child(even) {
    background: #f9f9f9;
  }
}

