#blockCode {
  &.postcss {
    > .card {
      background: #263238;
      padding: 16px 10px !important;
      margin-bottom: 0;
    }

    .CodeMirror-sizer {
      font-size: 14px;
      line-height: 1.4;
    }
  }

  &.loading-state {

    &.awaiting {
      opacity: 0.7;

      &:before {
        opacity: 1;
        z-index: 999;
      }

    }

    &:before {
      width: 40px;
      height: 40px;
    }

  }
}

textarea#scss_content {
  display: none;
}

#codeMirror-style-editor {
  border-radius: 6px;
  margin-left: 0 !important;
  margin-right: 0 !important;

  .fa-file {
    font-size: 1.1rem;
    padding-right: 10px;
  }

  .file {
    cursor: pointer;
    &.active {
      font-weight: 600;
    }
  }
}

