{% extends '@BciCms/Layout/shared/index_table.html.twig' %}
{% set icon = 'compass' %}

{% block headingCardAction %}
    <a href="{{ path('bci_cms_redirection_new')  }}" class="btn btn-rose ml-0 pl-3  pr-3">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
    </a>
{% endblock %}

{% block tableHead %}
    <th>{{ 'bci.cms.redirection.id'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.redirection.type'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.redirection.fromUrl.title'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.redirection.toUrl'|trans({}, 'cms_bundle') }}</th>
    <th class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableFoot %}
    <th class="text-left">{{ 'bci.cms.block.id'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.redirection.type'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.redirection.fromUrl.title'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.redirection.toUrl'|trans({}, 'cms_bundle') }}</th>
    <th class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableBody %}
    {% for redirection in redirections %}
        <tr>
            <td>{{ redirection.id }}</td>
            {% set redirectTrans = 'bci.cms.redirection.types.'~redirection.type %}
            <td>{{ redirectTrans|trans({}, 'cms_bundle') }}</td>
            <td class="text-truncate">{{ redirection.fromUrl }}</td>
            <td class="text-truncate">{{ redirection.toUrl }}</td>
            <td class="text-right">
                <a href="{{ path('bci_cms_redirection_edit', {'id': redirection.id}) }}" rel="tooltip" title="{{ 'bci.cms.general.action.edit'|trans({}, 'cms_bundle') }}" data-originial-title="{{ 'bci.cms.general.action.edit'|trans({}, 'cms_bundle') }}"class="btn btn-link btn-just-icon"><i class="material-icons">edit</i></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">{{ 'bci.cms.general.no_record'|trans({}, 'cms_bundle') }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block footingCardaction %}
    <a href="{{ path('bci_cms_redirection_new')  }}" class="btn btn-rose ml-0 pl-3  pr-3">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
    </a>
{% endblock %}