<!DOCTYPE html>

<title>Redirection</title>

{% block body %}
    <h1>Redirection</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>FromUrl</th>
                <td>{{ redirection.fromUrl }}</td>
            </tr>
            <tr>
                <th>ToUrl</th>
                <td>{{ redirection.toUrl }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ redirection.type }}</td>
            </tr>
            <tr>
                <th>Browser</th>
                <td>{{ redirection.browser ? redirection.browser|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Cookie</th>
                <td>{{ redirection.cookie ? redirection.cookie|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>IpAddress</th>
                <td>{{ redirection.ipAddress }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ redirection.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ redirection.createdAt ? redirection.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ redirection.updatedAt ? redirection.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ redirection.deletedAt ? redirection.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('redirection_index') }}">back to list</a>

    <a href="{{ path('redirection_edit', {'id': redirection.id}) }}">edit</a>

    {{ include('redirection/_delete_form.html.twig') }}
{% endblock %}
