{% form_theme form '@BciCms/Layout/shared/builder_form_layout.html.twig' %}
{{ form_start(form, {"attr":{"class":"col-12"}}) }}
{% form_theme form.preview '@BciCms/Layout/shared/costom_fontawsome_submit.html.twig' %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
                {% include '@BciCms/Layout/_partial/_title.html.twig' with {
                    'icon': 'newspaper-o'
                } %}
                <div class="float-md-right d-none d-md-inline ">
                    {% block btnTop %}
                        {# Button to preview before save #}
                        {{ form_widget(form.preview) }}
                        {# Button to preview before save #}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" data-step="1" data-intro="{{ 'bci.cms.helper.blog.edit.step1'|trans({}, 'cms_bundle') }}">
        <div class="card card-nav-tabs card-plain">
            {% block btnLocales %}
            {% endblock %}
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table align="center">
                    <tr>
                        <td width="25%" data-step="2"
                            data-intro="{{ 'bci.cms.helper.blog.edit.step2'|trans({}, 'cms_bundle') }}">
                            <div style="display: inline-block;margin: 15px;">
                                {{ form_label(form.image, null, { 'label_attr': {'class': 'bmd-label-floating'} }) }}

                                {% if form.image.vars.data is not null %}
                                    {% if form.vars.data.image %}
                                        {% set imagePath = vich_uploader_asset(form.vars.data.image, 'tempFile', 'Bci\\CmsBundle\\Entity\\UploadableFileCms') %}
                                    {% else %}
                                        {% set imagePath = "" %}
                                    {% endif %}
                                {% else %}
                                    {% set imagePath = "" %}
                                {% endif %}
                                {{ form_widget(form.image.tempFile, { 'attr': {'class': '', 'filepath': imagePath} }) }}
                            </div>
                        </td>
                        <td width="25%" style="padding-top:20px;" data-step="3"
                            data-intro="{{ 'bci.cms.helper.blog.edit.step3'|trans({}, 'cms_bundle') }}">
                            <div class="form-group">
                                {{ form_label(form.publishedAt, null, { 'label_attr': {'class': 'form-group bmd-label-floating', 'style':'padding-bottom:27.5px;'} }) }}
                                {{ form_widget(form.publishedAt, { 'attr': {'class': 'form-control datetimepicker'} }) }}
                                {{ form_errors(form) }}
                            </div>
                        </td>
                        <td width="25%" data-step="4"
                            data-intro="{{ 'bci.cms.helper.blog.edit.step4'|trans({}, 'cms_bundle') }}">
                            <div id="categoriesDiv" class="form-group" style="padding-left: 35%;">
                                {{ form_label(form.categories, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                                {{ form_errors(form) }}
                                {{ form_widget(form.categories, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <button type="button" class="btn btn-primary" style="margin-left: 35%;" data-toggle="modal"
                                    data-target="#categoryFormModal">
                                Nouvelle Catégorie
                            </button>
                            {% include '@BciCms/category/_partial/_form_modal.html.twig' with {'blogId': blogId} %}
                        </td>
                        <td width="25%" style="text-align: center">
                            <div class="form-group" data-step="5"
                                 data-intro="{{ 'bci.cms.helper.blog.edit.step5'|trans({}, 'cms_bundle') }}">
                                {{ form_label(form.disabled, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                                {{ form_errors(form) }}
                                {{ form_widget(form.disabled, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="form-group" data-step="6"
                                 data-intro="{{ 'bci.cms.helper.blog.edit.step6'|trans({}, 'cms_bundle') }}">
                                {{ form_label(form.siteMapable, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                                {{ form_errors(form) }}
                                <div style="max-width: 100px; margin-left: 45%">
                                    {{ form_widget(form.siteMapable, { 'attr': {'class': 'form-control selectpicker'} }) }}
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="form-group" data-step="7"
                     data-intro="{{ 'bci.cms.helper.blog.edit.step7'|trans({}, 'cms_bundle') }}">
                    {{ form_label(form.title, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group" data-step="8"
                     data-intro="{{ 'bci.cms.helper.blog.edit.step8'|trans({}, 'cms_bundle') }}">
                    {{ form_label(form.subtitle, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form.subtitle, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div data-step="9" data-intro="{{ 'bci.cms.helper.blog.edit.step9'|trans({}, 'cms_bundle') }}">
                    {{ form_label(form.contentSummary, null, { 'label_attr': {'class': ''} }) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form.contentSummary, { 'attr': {'class': 'form-control tinymce_flag', 'data-height': '250px'} }) }}
                </div>
                <div data-step="10" data-intro="{{ 'bci.cms.helper.blog.edit.step10'|trans({}, 'cms_bundle') }}">
                    {{ form_label(form.content, null, { 'label_attr': {'class': ''} }) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form.content, { 'attr': {'class': 'form-control tinymce_flag', 'data-height': '500px'} }) }}
                </div>
                <style>
                    .datetime-input input {
                        width: 150px;
                        margin-right: 20px;
                    }
                </style>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body" data-step="11"
                 data-intro="{{ 'bci.cms.helper.blog.edit.step11'|trans({}, 'cms_bundle') }}">
                <div class="col-md-9 col-sm-12 ml-auto mr-auto">
                    <div class="clearfix">
                        <h2 class="float-left">{{ 'bci.cms.meta.meta'|trans({}, 'cms_bundle') }}</h2>
                        <button type="button"
                                class="btn btn-rose float-right"
                                data-list-selector="#metas" data-ice="app.addFromPrototypeMeta"
                                data-container="#metas">{{ 'bci.cms.meta.add'|trans({},'cms_bundle') }}</button>
                    </div>
                    <div id="metas"
                         data-prototype="{% filter escape %}{% include '@BciCms/meta/_partial/_meta_prototype.html.twig' with { 'meta': form.metas.vars.prototype } %}{% endfilter %}"
                         data-widget-tags="{{ '<div></div>'|e }}"
                         data-widget-counter="{{ form.children.metas|length }}"
                         class="col-12">

                        <div class="col-8 ml-auto mr-auto text-center empty" {{ form.children.metas | length > 0 ? 'style="display:none;"' : '' }}>
                            {{ 'bci.cms.meta.empty'|trans({}, 'cms_bundle') }}
                        </div>
                        {% for meta in form.metas %}
                            {% include '@BciCms/meta/_partial/_meta_prototype.html.twig' with { 'meta': meta } %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% do form.metas.setRendered %}
    {% do form.setRendered %}
    {{ form_end(form) }}
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-icon cleafix p-2">
                <div class="float-left order-2 order-sm-1"
                     data-intro="{{ 'bci.cms.helper.blog.edit.step14'|trans({}, 'cms_bundle') }}">
                    <a href="{{ path('bci_cms_article_index', {'id': blogId}) }}" class="btn ml-0 pr-1 pl-1 pr-sm-3">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span>
                    </a>
                </div>
                <div class="float-right order-1 order-sm-2">
                    {% block btnBottom %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>