{% if type == 'col' %}
    <div class="{% block colClass %}{% endblock %}">
{% endif %}
<div class="card bg-white{{ type == 'col' ? ' mr-2' : '' }}" data-card-type="{{ type }}" {% block data %}{% endblock %}{% block name %}{% endblock %}>
        <div class="card-header card-header-primary card-header-icon clearfix">
            <i class="material-icons float-left mt-2 mr-2 drag-handle">drag_indicator</i>
            <h4 class="float-left card-title">
                {% block cardTitle %}
                    {{ ('bci.cms.template.emptyTitle')|trans({}, 'cms_bundle') }}
                {% endblock %}
            </h4>
            <a class="float-right dd-options" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">more_vert</i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                {% block cardActions %}
                    {{ ('bci.cms.template.emptyActions')|trans({}, 'cms_bundle') }}
                {% endblock %}
            </div>
        </div>
        {% if type != 'block' %}
            <div class="card-body row mr-2 ml-2 mb-2" data-container-type="{{ type }}" style="border: dashed 1px #ccc">
                {% block cardBody %}
                    {{ ('bci.cms.template.emptyBody')|trans({}, 'cms_bundle') }}
                {% endblock %}
            </div>
        {% endif %}
    </div>
{% if type == 'col' %}
</div>
{% endif %}
