<a data-ice="template.splitCol" class="dropdown-item">
    <i class="fa fa-columns fa-lg mr-1"></i>
    {{ ('bci.cms.template.action.splitCol')|trans({}, 'cms_bundle') }}
</a>
<!--<a data-ice="template.import" data-ice-params="col" class="dropdown-item">
    <i class="fa fa-download fa-lg mr-1"></i>
    {{ ('bci.cms.template.action.importCol')|trans({}, 'cms_bundle') }}
</a>
<a data-ice="template.export" data-ice-params="col" class="dropdown-item">
    <i class="fa fa-upload fa-lg mr-1"></i>
    {{ ('bci.cms.template.action.exportCol')|trans({}, 'cms_bundle') }}
</a> -->
<a data-ice="template.configCol" data-ice-params='{ "title": "{{ ('bci.cms.template.col.configure')|trans({}, 'cms_bundle') }}" }' class="dropdown-item">
    <i class="fa fa-cog fa-lg mr-1"></i>
    {{ ('bci.cms.template.action.configCol')|trans({}, 'cms_bundle') }}
</a>
<a data-ice="template.removeCol" class="dropdown-item danger">
    <i class="fa fa-close fa-lg mr-1"></i>
    {{ ('bci.cms.template.action.removeCol')|trans({}, 'cms_bundle') }}
</a>

