<div class="row">
    <div class="col-12">
        <div class="row form-group label-floating is-empty bmd-form-group">
            <label class="bmd-label-floating col-sm-12 text-left" for="col_len">{{ 'bci.cms.template.config.col.len'|trans({}, 'cms_bundle') }}</label>
            <input type="text" id="col_len" name="col[len]" required="required" class="form-control form-control" col="col-12" labelin="labelIn" value="__col_len__">
            <span class="material-input"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row form-group label-floating is-empty bmd-form-group">
            <label class="bmd-label-floating col-sm-12 text-left" for="col_class">{{ 'bci.cms.template.config.col.class'|trans({}, 'cms_bundle') }}</label>
            <input type="text" id="col_class" name="col[class]" required="required" class="form-control form-control" col="col-12" labelin="labelIn" value="__col_class__">
            <span class="material-input"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row form-group label-floating is-empty bmd-form-group">
            <label class="bmd-label-floating col-sm-12 text-left" for="col_attr">{{ 'bci.cms.template.config.col.attr'|trans({}, 'cms_bundle') }}</label>
            <input type="text" id="col_attr" name="col[attr]" required="required" class="form-control form-control" col="col-12" labelin="labelIn" value="__col_attr__">
            <span class="material-input"></span>
        </div>
    </div>
</div>