{% set col = child %}
{% for child in col.children %}
    {% embed '@BciCms/template/_partial/_card.html.twig' with {type: 'block'}%}
        {% block data %}
            data-name="{{ child.params.name }}"
            data-id="{{ child.params.id }}"
            data-link="{{ child.params.link }}"
        {% endblock %}
        {% block cardTitle %}
            {{ child.params.name is defined and child.params.name != '' ? child.params.name : 'error block not found'}}
        {% endblock %}
        {% block cardActions %}
            {% include '@BciCms/template/_partial/_block_actions.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endfor %}