{% form_theme form '@BciCms/Layout/shared/builder_form_layout.html.twig' %}
{{ form_start(form, {"attr":{"class":"col-12"}}) }}
    <div class="row">
        <div class="col-xl-9  block-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
                            {% include '@BciCms/Layout/_partial/_title.html.twig' with {'icon': 'object-group'} %}
                            <div class="float-md-right d-none d-md-inline ">
                                {% block btnTop %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="form col-12" >
                                        {% block field_row %}
                                            {% spaceless %}
                                                <div class="form-group mb-2" data-step="1" data-intro="{{ 'bci.cms.helper.template.edit.step1'|trans({}, 'cms_bundle') }}">
                                                    {{ form_label(form.name, null, { 'label_attr': {'class': 'bmd-label-floating'} }) }}
                                                    {{ form_errors(form) }}
                                                    {{ form_widget(form.name, { 'attr': {'class': 'form-control text-big'} }) }}
                                                </div>
                                                <div class="form-group template-code">
                                                    {{ form_errors(form) }}
                                                    {{ form_widget(form.structure, { 'attr': {'class': 'form-control'} }) }}
                                                </div>
                                            {% endspaceless %}
                                        {% endblock field_row %}
                                        <div class="col-12 bg-light template-dragger" >
                                            <div class="row">
                                                <div class="col-12" data-step="2" data-intro="{{ 'bci.cms.helper.template.edit.step2'|trans({}, 'cms_bundle') }}" data-position="left">
                                                    <div id="tpl-draft" data-ice-params='{"type":"section", "id": "header"}'>
                                                        {% for section in template.explodeStructure().sections %}
                                                            {% embed '@BciCms/template/_partial/_card.html.twig' with {type: 'section'} %}
                                                                {% block name %}data-name="{{ section.params.name }}"{% endblock %}
                                                                {% block data %}
                                                                    {% if section.params.class is defined and section.params.class != '' %}
                                                                        data-class="{{ section.params.class }}"
                                                                    {% endif %}
                                                                    {% if section.params.attributes is defined and section.params.attributes != '' %}
                                                                        {{ section.params.attributes }}
                                                                    {% endif %}
                                                                    {% if section.params.wrapper is defined and section.params.wrapper != '' %}
                                                                        data-wrapper={{ section.params.wrapper }}
                                                                    {% else %}
                                                                        data-wrapper=0
                                                                    {% endif %}
                                                                    {% if section.params.wrapperClass is defined and section.params.wrapperClass != '' %}
                                                                        data-wrapper-class="{{ section.params.wrapperClass }}"
                                                                    {% endif %}
                                                                {% endblock %}
                                                                {% block cardTitle %}
                                                                    {{  ('bci.cms.template.' ~ section.params.name )|trans({}, 'cms_bundle') }}
                                                                {% endblock %}
                                                                {% block cardActions %}
                                                                    {% include '@BciCms/template/_partial/_section_actions.html.twig' %}
                                                                {% endblock %}
                                                                {% block cardBody %}
                                                                    {% include '@BciCms/template/_partial/_section_body.html.twig' %}
                                                                {% endblock %}
                                                            {% endembed %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header card-header-icon clearfix p-2">
                            <div class="float-left order-2 order-sm-1" data-intro="{{ 'bci.cms.helper.template.edit.step6'|trans({}, 'cms_bundle') }}">
                                <a href="{{ path('bci_cms_template_index') }}" class="btn ml-0 pl-3  pr-3">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                    <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span>
                                </a>
                            </div>
                            <div class="float-right order-1 order-sm-2" >
                                {% block btnBottom %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-3 block-adder">
            <div class="card clone" data-step="3" data-intro="{{ 'bci.cms.helper.template.edit.step3'|trans({}, 'cms_bundle') }}" data-scrollTo="tooltip">
                <div class="card-header card-header-primary card-header-icon ">
                    {% include '@BciCms/Layout/_partial/_title.html.twig' with {'domain': 'cms_bundle','title': ''} %}
                </div>
                <div class="card-body availBlocks">
                    <div class="card-header card-header-primary card-header-icon  clearfix">
                        <h4 class="float-left card-title"> {{ 'bci.cms.template.blocks'|trans({}, 'cms_bundle') }}</h4>
                    </div>
                    <div class="row">
                        {% for block in availBlocks %}
                            <div class="bg-drag card m-0" data-card-type="block" data-id="{{ block.id }}" data-name="{{ block.name }}">
                                <div class="card-header card-header-primary card-header-icon text-dark clearfix">
                                    <i class="material-icons float-left mt-2 mr-2 drag-handle">drag_indicator</i>
                                    <h4 class="float-left card-title white-space-normal-sm"> {{ block.name }}</h4>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
<div class="d-none" id="templates_examples">
    <div id="row_actions">
        {% embed '@BciCms/template/_partial/_card.html.twig' with {type: 'row'} %}
            {% block cardTitle %}
                {{ ('bci.cms.template.row')|trans({}, 'cms_bundle') }}
            {% endblock %}
            {% block cardActions %}
                {% include '@BciCms/template/_partial/_row_actions.html.twig' %}
            {% endblock %}
            {% block cardBody %}
            {% endblock %}
        {% endembed %}
    </div>
    <div id="col_actions">
        {% embed '@BciCms/template/_partial/_card.html.twig' with {type: 'col'} %}
            {% block colClass %}col-__colLength__{% endblock %}
            {% block data %}data-col="__colLength__"{% endblock %}
            {% block cardTitle %}
                {{ ('bci.cms.template.col')|trans({}, 'cms_bundle') }}
            {% endblock %}
            {% block cardActions %}
                {% include '@BciCms/template/_partial/_col_actions.html.twig' %}
            {% endblock %}
            {% block cardBody %}
            {% endblock %}
        {% endembed %}
    </div>
    <div id="block_actions">
        <a class="float-right dd-options" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" >
            <i class="material-icons">more_vert</i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            {% block cardActions %}
                {% include '@BciCms/template/_partial/_block_actions.html.twig' %}
            {% endblock %}
        </div>
    </div>
    <div id="section_modal" data-title="{{ 'bci.cms.template.config.section.modalTitle'|trans({}, 'cms_bundle') }}">
        {% include "@BciCms/template/_partial/_section_config.html.twig" %}
    </div>
    <div id="col_modal" data-title="{{ 'bci.cms.template.config.col.modalTitle'|trans({}, 'cms_bundle') }}">
        {% include "@BciCms/template/_partial/_col_config.html.twig" %}
    </div>
    <div id="row_modal" data-title="{{ 'bci.cms.template.config.row.modalTitle'|trans({}, 'cms_bundle') }}">
        {% include "@BciCms/template/_partial/_row_config.html.twig" %}
    </div>
</div>
