{{ form_start(form, {"attr":{"class":"col-12"}}) }}
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-xl-9 block-wrapper">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
                            {% include '@BciCms/Layout/_partial/_title.html.twig' with {'icon': 'object-group'} %}
                            <div class="float-md-right d-none d-md-inline ">
                                {% block btnTop %}
                                {% endblock %}
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="form col-12">
                                        {% block field_row %}
                                            {% spaceless %}
                                                <div class="form-group mb-2'">
                                                    {{ form_label(form.name, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                                                    {{ form_errors(form) }}
                                                    {{ form_widget(form.name, { 'attr': {'class': 'form-control text-big'} }) }}
                                                </div>
                                                <div class="form-group template-code">
                                                    {{ form_errors(form) }}
                                                    {{ form_widget(form.structure, { 'attr': {'class': 'form-control'} }) }}
                                                </div>
                                            {% endspaceless %}
                                        {% endblock field_row %}
                                        <div class="col-12 bg-light template-dragger">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div id="tpl-draft" data-ice-params='{"type":"section", "id": "header"}'>
                                                        {% for section in template.explodeStructure() %}
                                                            <div id="ctn-{{ section.section }}" class="row">
                                                                <div class="card m-0 mt-2 pl-1 pr-1 bg-darkWhite">
                                                                    <div class="card-header card-header-primary card-header-icon clearfix">
                                                                        <h4 class="float-left card-title"> {{ ('bci.cms.template.' ~ section.section)|trans({}, 'cms_bundle') }}</h4>
                                                                        <a class="float-right mt-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            <i class="material-icons">more_vert</i>
                                                                        </a>
                                                                        <div class="dropdown-menu dropdown-menu-left">
                                                                            <a data-ice="template.addRow" class="dropdown-item">
                                                                                <i class="fa fa-plus fa-lg mr-1"></i>
                                                                                {{ ('bci.cms.template.action.addRow')|trans({}, 'cms_bundle') }}
                                                                            </a>
                                                                            <a data-ice="template.import" data-ice-params="section" class="dropdown-item">
                                                                                <i class="fa fa-upload fa-lg mr-1"></i>
                                                                                {{ ('bci.cms.template.action.importSection')|trans({}, 'cms_bundle') }}
                                                                            </a>
                                                                            <a data-ice="template.export" data-ice-params="section" class="dropdown-item">
                                                                                <i class="fa fa-download fa-lg mr-1"></i>
                                                                                {{ ('bci.cms.template.action.exportSection')|trans({}, 'cms_bundle') }}
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="templates_row">
                                                                        {# <a data-ice="template.addRow">Add Row</a> #}
                                                                        {% if section.content | length > 0 %}
                                                                            {% for row in section.content %}
                                                                                <div class="ctn-cols no-context-menu">
                                                                                    {% include '@BciCms/template/_partial/_row_actions.html.twig' %}
                                                                                    {% for col in row %}
                                                                                        <div class="col-block ml-auto mr-auto col-{{ col.colLength }}" data-col="{{ col.colLength }}">
                                                                                            {% include '@BciCms/template/_partial/_col_actions.html.twig' with col %}
                                                                                            <div class="block-ctn">
                                                                                                {% for block in col.blocks %}
                                                                                                    {% include '@BciCms/template/_partial/_block_actions.html.twig' with block %}
                                                                                                {% endfor %}
                                                                                            </div>
                                                                                        </div>
                                                                                    {% endfor %}
                                                                                </div>
                                                                            {% endfor %}
                                                                        {% else %}
                                                                            <div class="ctn-cols row no-context-menu">
                                                                                <a data-ice="template.addCol" style="display: block; width: 100%">Add Col</a>
                                                                            </div>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" cleafix p-2 mt-4">
                                            <div class="float-left order-2 order-sm-1">
                                                <a href="{{ path('bci_cms_block_index') }}" class="btn btn-rose ml-0 pl-3  pr-3">
                                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                                    <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span>
                                                </a>
                                            </div>
                                            <div class="float-right order-1 order-sm-2">
                                                {% block btnBottom %}
                                                {% endblock %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3 block-adder">
                    <div class="card clone">
                        <div class="card-header card-header-primary card-header-icon ">
                            {% include '@BciCms/Layout/_partial/_title.html.twig' with {'domain': 'cms_bundle','title': ''} %}
                        </div>
                        <div class="card-body availBlocks">
                            <div class="card-header card-header-primary card-header-icon  clearfix">
                                <h4 class="float-left card-title"> {{ 'bci.cms.template.blocks'|trans({}, 'cms_bundle') }}</h4>
                            </div>
                            {% for block in availBlocks %}
                                <div class="col-12 m-0 block mt-2 mb-2 p-0" data-id="{{ block.id }}">
                                    <div class="card m-0 bg-darkWhite">
                                        <div class="card-header card-header-primary card-header-icon text-dark clearfix">
                                            <i class="material-icons float-left mt-2 mr-2">drag_indicator</i>
                                            <h4 class="float-left card-title "> {{ block.name }}</h4>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
<div class="d-none" id="templates_examples">
    <div id="row_actions">
        <div class="ctn-cols no-context-menu">
            {% include '@BciCms/template/_partial/_row_actions.html.twig' %}
        </div>
    </div>
    <div id="col_actions">
        {% include '@BciCms/template/_partial/_col_actions.html.twig' with {col: {colLength: '__colLength__'}} %}
    </div>
    <div id="block_actions">
        {% include '@BciCms/template/_partial/_block_actions.html.twig' with {block: {id: '__blockID__', name: '__blockName__'}} %}
    </div>
</div>
