{% set row = child %}
{% for child in row.children %}
    {% embed '@BciCms/template/_partial/_card.html.twig' with {type: child.params.type} %}
        {% block data %}
            {% if child.params.class is defined and child.params.class != '' %}
                data-class="{{ child.params.class }}"
            {% endif %}
            {% if child.params.type == 'col' %}
                data-col="{{ child.params.len is defined and child.params.len != '' ? child.params.len : 12 }}"
            {% endif %}
            {% if child.params.attributes is defined and child.params.attributes != '' %}
               {{ child.params.attributes }}
            {% endif %}
        {% endblock %}
        {% block colClass %} col-{{ child.params.len }}{% endblock %}
        {% block cardTitle %}
            {{ child.params.type == 'block' ? child.params.name : ('bci.cms.template.'~child.params.type)|trans({}, 'cms_bundle') }}
        {% endblock %}
        {% block cardActions %}
            {% include '@BciCms/template/_partial/_' ~ child.params.type ~ '_actions.html.twig' %}
        {% endblock %}
        {% block cardBody %}
            {% include '@BciCms/template/_partial/_' ~ child.params.type ~ '_body.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endfor %}