<div class="row">
    <div class="col-12">
        <div class="row form-group label-floating is-empty bmd-form-group">
            <label class="bmd-label-floating col-sm-12 text-left" for="row_class">{{ 'bci.cms.template.config.row.class'|trans({}, 'cms_bundle') }}</label>
            <input type="text" id="row_class" name="row[class]" required="required" class="form-control form-control" col="col-12" labelin="labelIn" value="__row_class__">
            <span class="material-input"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row form-group label-floating is-empty bmd-form-group">
            <label class="bmd-label-floating col-sm-12 text-left" for="row_attr">{{ 'bci.cms.template.config.row.attr'|trans({}, 'cms_bundle') }}</label>
            <input type="text" id="row_attr" name="row[attr]" required="required" class="form-control form-control" col="col-12" labelin="labelIn" value="__row_attr__">
            <span class="material-input"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row form-check text-left pl-2 pt-3">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" id="row_wrapper" name="row[wrapper]" __row_wrapper__>{{ 'bci.cms.template.config.row.wrapper'|trans({}, 'cms_bundle') }}
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row form-group label-floating is-empty bmd-form-group">
            <label class="bmd-label-floating col-sm-12 text-left" for="row_wrapper_class">{{ 'bci.cms.template.config.row.wrapperClass'|trans({}, 'cms_bundle') }}</label>
            <input type="text" id="row_wrapper_class" name="row[wrapper_class]" required="required" class="form-control form-control" col="col-12" labelin="labelIn" value="__row_wrapper_class__">
            <span class="material-input"></span>
        </div>
    </div>
</div>