<a data-ice="template.addCol" class="dropdown-item">
    <i class="fa fa-plus fa-lg mr-1"></i>
    {{ ('bci.cms.template.action.addCol')|trans({}, 'cms_bundle') }}
</a>
<a data-ice="template.addRow" data-ice-params="before" class="dropdown-item">
    <i class="fa fa-level-up fa-lg mr-1"></i>
    {{ ('bci.cms.template.action.insertRowBefore')|trans({}, 'cms_bundle') }}
</a>
<a data-ice="template.addRow" data-ice-params="after" class="dropdown-item">
    <i class="fa fa-level-down fa-lg mr-1"></i>
    {{ ('bci.cms.template.action.insertRowAfter')|trans({}, 'cms_bundle') }}
</a>
<!--<a data-ice="template.import" data-ice-params="row" class="dropdown-item">
    <i class="fa fa-download fa-lg mr-1"></i>
    {{ ('bci.cms.template.action.importRow')|trans({}, 'cms_bundle') }}
</a>
<a data-ice="template.export" data-ice-params="row" class="dropdown-item">
    <i class="fa fa-upload fa-lg mr-1"></i>
    {{ ('bci.cms.template.action.exportRow')|trans({}, 'cms_bundle') }}
</a>-->
<a data-ice="template.configRow" data-ice-params='{ "title": "{{ ('bci.cms.template.row.configure')|trans({}, 'cms_bundle') }}" }' class="dropdown-item">
    <i class="fa fa-cog fa-lg mr-1"></i>
    {{ ('bci.cms.template.action.configRow')|trans({}, 'cms_bundle') }}
</a>
<a data-ice="template.removeRow" class="dropdown-item danger">
    <i class="fa fa-close fa-lg mr-1"></i>
    {{ ('bci.cms.template.action.removeRow')|trans({}, 'cms_bundle') }}
</a>
