{% for child in section.children %}
    {% embed '@BciCms/template/_partial/_card.html.twig' with {type: child.params.type} %}
        {% block data %}
            {% if child.params.class is defined and child.params.class != '' %}
                data-class="{{ child.params.class }}"
            {% endif %}
            {% if child.params.attributes is defined and child.params.attributes != '' %}
                {{ child.params.attributes }}
            {% endif %}
            {% if child.params.id is defined and child.params.id != '' %}
                data-id="{{ child.params.id }}"
            {% endif %}
            {% if child.params.link is defined and child.params.link != '' %}
                data-link="{{ child.params.link }}"
            {% endif %}
            {% if child.params.name is defined and child.params.name != '' %}
                data-name="{{ child.params.name }}"
            {% endif %}
            {% if child.params.wrapper is defined and child.params.wrapper != '' %}
                data-wrapper={{ child.params.wrapper }}
            {% else %}
                data-wrapper=0
            {% endif %}
            {% if child.params.wrapperClass is defined and child.params.wrapperClass != '' %}
                data-wrapper-class="{{ child.params.wrapperClass }}"
            {% endif %}
        {% endblock %}
        {% block cardTitle %}
            {{ child.params.type == 'block' ? child.params.name : ('bci.cms.template.'~child.params.type)|trans({}, 'cms_bundle') }}
        {% endblock %}
        {% block cardActions %}
            {% include '@BciCms/template/_partial/_' ~ child.params.type ~ '_actions.html.twig' %}
        {% endblock %}
        {% block cardBody %}
            {% include '@BciCms/template/_partial/_' ~ child.params.type ~ '_body.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endfor %}
