<div class="row">
    <div class="col-12">
        <div class="row form-group label-floating is-empty bmd-form-group">
            <label class="bmd-label-floating col-sm-12 text-left" for="section_class">{{ 'bci.cms.template.config.section.class'|trans({}, 'cms_bundle') }}</label>
            <input type="text" id="section_class" name="section[class]" required="required" class="form-control form-control" col="col-12" labelin="labelIn" value="__section_class__">
            <span class="material-input"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row form-group label-floating is-empty bmd-form-group">
            <label class="bmd-label-floating col-sm-12 text-left" for="section_attr">{{ 'bci.cms.template.config.section.attr'|trans({}, 'cms_bundle') }}</label>
            <input type="text" id="section_attr" name="section[attr]" required="required" class="form-control form-control" col="col-12" labelin="labelIn" value="__section_attr__">
            <span class="material-input"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row form-check text-left pl-2 pt-3">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" id="section_wrapper" name="section[wrapper]" __section_wrapper__>{{ 'bci.cms.template.config.section.wrapper'|trans({}, 'cms_bundle') }}
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row form-group label-floating is-empty bmd-form-group">
            <label class="bmd-label-floating col-sm-12 text-left" for="section_wrapper_class">{{ 'bci.cms.template.config.section.wrapperClass'|trans({}, 'cms_bundle') }}</label>
            <input type="text" id="section_wrapper_class" name="section[wrapper_class]" required="required" class="form-control form-control" col="col-12" labelin="labelIn" value="__section_wrapper_class__">
            <span class="material-input"></span>
        </div>
    </div>
</div>