<a data-ice="template.addRow" class="dropdown-item">
    <i class="fa fa-plus fa-lg mr-1"></i>
    {{ ('bci.cms.template.action.addRow')|trans({}, 'cms_bundle') }}
</a>
<a data-ice="template.configSection" data-ice-params='{ "title": "{{ ('bci.cms.template.config.section.modalTitle')|trans({}, 'cms_bundle') }}" }' class="dropdown-item">
    <i class="fa fa-cog fa-lg mr-1"></i>
    {{ ('bci.cms.template.action.configSection')|trans({}, 'cms_bundle') }}
</a>
<!--<a data-ice="template.import" data-ice-params="section" class="dropdown-item">
    <i class="fa fa-download fa-lg mr-1"></i>
    {{ ('bci.cms.template.action.importSection')|trans({}, 'cms_bundle') }}
</a>
<a data-ice="template.export" data-ice-params="section" class="dropdown-item">
    <i class="fa fa-upload fa-lg mr-1"></i>
    {{ ('bci.cms.template.action.exportSection')|trans({}, 'cms_bundle') }}
</a>-->