{% extends '@BciCms/Layout/shared/index_table.html.twig' %}
{% trans_default_domain 'cms_bundle' %}
{% set icon = 'link' %}

{% block headingCardAction %}
        <a href="{{ path('bci_cms_website_new') }}" class="btn btn-rose ml-0 pl-3  pr-3">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
        </a>
{% endblock %}


{% block tableHead %}
    <th class="w-5">{{ 'bci.cms.website.id'|trans }}</th>
    <th class="w-15">{{ 'bci.cms.website.name'|trans }}</th>
    <th class="w-15">{{ 'bci.cms.website.url'|trans }}</th>
    <th class="w-15">{{ 'bci.cms.website.key'|trans }}</th>
    <th class="w-15">{{ 'bci.cms.website.updatedAt'|trans }}</th>
    <th class="w-15 text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableFoot %}
    <th class="w-5">{{ 'bci.cms.website.id'|trans }}</th>
    <th class="w-15">{{ 'bci.cms.website.name'|trans }}</th>
    <th class="w-15">{{ 'bci.cms.website.url'|trans }}</th>
    <th class="w-15">{{ 'bci.cms.website.key'|trans }}</th>
    <th class="w-15">{{ 'bci.cms.website.updatedAt'|trans }}</th>
    <th class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableBody %}
    {% for website in websites %}
        <tr>
            <td>{{ website.id }}</td>
                <td title="{{ website.name }}" >
                    {{ website.name }}
                </td>
            <td><a href="{{ website.url }}">{{ website.url }}</a> </td>
       <td>{{ website.key }}</td>
            <td>{{ website.updatedAt|date('Y-m-d H:i:s') }}
            <td class="text-right">
                <a href="{{ path('bci_cms_website_edit', {'id': website.id}) }}" rel="tooltip" title="Modifier" data-originial-title="Modifier" class="btn btn-link btn-just-icon"><i class="material-icons">edit</i></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">{{ 'bci.cms.general.no_record'|trans({}, 'cms_bundle') }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block footingCardaction %}
    <a href="{{ path('bci_cms_website_new') }}" class="btn btn-rose ml-0 pl-3  pr-3">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
    </a>
{% endblock %}