{% if app.session.flashbag.peekAll|length > 0 %}
    {% for type, messages in app.session.flashbag.all %}
        {% for message in messages %}
            <script>
                $(document).ready(function (e) {
                    app.buildNotification('{{ type }}','{{ message }}','top','right');
                });
            </script>
        {% endfor %}
    {% endfor %}
{% endif %}