{% if app.session.flashbag.peekAll|length > 0 %}
    {% for type, messages in app.session.flashbag.all %}
        {% for message in messages %}
            <div id="banner-alert-page">
                <h2>{{ 'bci.cms.general.action.preview.flash.title'|trans([],'cms_bundle') }}</h2>
                <p>{{ message }}</p>
                <button onclick="document.getElementById('banner-alert-page').remove()">X</button>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
