{% extends '@BciCms/Layout/layout.html.twig' %}

{% block content %}

    <style>
        .table:hover{
            outline: dashed 1px #ccc;
        }
    </style>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
                    {% include '@BciCms/Layout/_partial/_title.html.twig' with {
                        'icon': 'cog'
                    } %}
                    <div class="float-md-right d-none d-md-inline ">
                        {% block btnTop %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card card-nav-tabs card-plain">
                {% block btnLocales %}{% endblock %}
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {{ phpinfo|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}