{% extends '@BciCms/Layout/layout.html.twig' %}

{% block content %}
    {% embed '@BciCms/menu/_partial/_form.html.twig' %}

        {% block btnTop %}
            <button class="btn btn-rose" style="padding-left: .5rem; padding-right:.5rem" type="submit" data-step="5"
                    data-intro="{{ 'bci.cms.helper.menu.edit.step5'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
            <a class="btn btn-danger " style="padding-left: .5rem; padding-right:.5rem" data-ice="app.delete_submit"
               data-ice-params="#formDelete" title="{{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}"
               data-step="6" data-intro="{{ 'bci.cms.helper.menu.edit.step6'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-trash"></i>
            </a>
        {% endblock %}

        {% block btnBottom %}
            <button class="btn btn-rose" style="padding-left: .5rem; padding-right:.5rem" type="submit">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
            <a  class="btn btn-danger " style="padding-left: .5rem; padding-right:.5rem" data-ice="app.delete_submit"
               data-ice-params="#formDelete" title="{{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-trash"></i>
            </a>
        {% endblock %}
    {% endembed %}

    {{ include('@BciCms/menu/_partial/_delete_form.html.twig') }}
{% endblock %}
