{% extends '@BciCms/Layout/shared/index_table.html.twig' %}
{% set icon = 'sitemap' %}

{% block headingCardAction %}
    <a href="{{ path('bci_cms_menu_new')  }}" class="btn btn-rose ml-0 pl-3  pr-3">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
    </a>
{% endblock %}

{% block tableHead %}
    <th style="width: 5%">{{ 'bci.cms.menu.id'|trans({}, 'cms_bundle') }}</th>
    <th style="width: 25%">{{ 'bci.cms.menu.title'|trans({}, 'cms_bundle') }}</th>
    <th style="width: 15%" class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableFoot %}
    <th>{{ 'bci.cms.menu.id'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.menu.title'|trans({}, 'cms_bundle') }}</th>
    <th class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableBody %}
    {% for menu in menus %}
        <tr>
            <td>{{ menu.id }}</td>
            <td>{{ menu.title }}</td>
            <td  class="text-right">
                <a href="{{ path('bci_cms_menu_edit', {'id': menu.id}) }}" data-toggle="tooltip" data-placement="top" title="{{ 'bci.cms.general.action.edit'|trans({}, 'cms_bundle') }}" class="btn btn-link btn-just-icon"><i class="material-icons">edit</i></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">{{ 'bci.cms.general.no_record'|trans({}, 'cms_bundle') }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block footingCardaction %}
    <a href="{{ path('bci_cms_menu_new')  }}" class="btn btn-rose ml-0 pl-3  pr-3">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
    </a>
{% endblock %}