{% extends '@BciCms/Layout/layout.html.twig' %}

{% block content %}
    {% embed '@BciCms/menu/_partial/_form.html.twig' %}
        {% block btnTop %}
            <button data-step="5"
                    data-intro="{{ 'bci.cms.helper.menu.edit.step5'|trans({}, 'cms_bundle') }}" class="btn d-none d-md-inline btn-rose " style="padding-left: .5rem; padding-right:.5rem" type="submit">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
        {% endblock %}

        {% block btnBottom %}
            <button class="btn btn-rose" style="padding-left: .5rem; padding-right:.5rem" type="submit">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
        {% endblock %}
    {% endembed %}
{% endblock %}
