{% extends '@BciCms/Layout/shared/index_table.html.twig' %}
{% set icon = 'sitemap' %}

{% block headingCardAction %}
    {% if availLocales | length == 1 %}
        <a href="{{ path('bci_cms_blog_new', {locale: availLocales[0]})  }}" class="btn btn-rose ml-0 pl-3  pr-3">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
        </a>
    {% elseif availLocales | length > 1 %}
        <div class="dropdown">
            <button class="dropdown-toggle btn btn-rose" type="button" id="job_drop_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus" aria-hidden="true"></i>
                {{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}
            </button>
            <div class="dropdown-menu" aria-labelledby="job_drop_down" >
                {% for availLocale in availLocales %}
                    <a class="dropdown-item" href="{{ path('bci_cms_blog_new', {'locale': availLocale}) }}">{{ 'bci.cms.blog.action.new'|trans({'%locale%': availLocale | capitalize}, 'cms_bundle') }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block tableHead %}
    <th class="w-5">{{ 'bci.cms.blog.id'|trans({}, 'cms_bundle') }}</th>
    <th class="w-15">{{ 'bci.cms.blog.title'|trans({}, 'cms_bundle') }}</th>
    <th class="w-15">{{ 'bci.cms.blog.article.locales'|trans({}, 'cms_bundle') }}</th>
    <th class="w-25">{{ 'bci.cms.blog.articles'|trans({}, 'cms_bundle') }}</th>
    <th class="w-15">{{ 'bci.cms.blog.updated_at'|trans({}, 'cms_bundle') }}</th>
    <th class="w-15">{{ 'bci.cms.blog.created_at'|trans({}, 'cms_bundle') }}</th>
    <th class="w-15 text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableFoot %}
    <th>{{ 'bci.cms.blog.id'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.blog.title'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.blog.article.locales'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.blog.articles'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.blog.updated_at'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.blog.created_at'|trans({}, 'cms_bundle') }}</th>
    <th class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableBody %}
    {% for blog in blogs %}
        <tr>
            <td>{{ blog.id }}</td>
            <td title="{{ blog.title }}" >
                <a href="{{ path('bci_cms_blog_edit', {'id': blog.id, locale: 'fr'}) }}">{{ blog.title }}</a>
            </td>
            <td>
                {% set blogLocales = [] %}
                {% for availLocale in availLocales %}
                    {% if translationService.entityTranslations(blog)[availLocale] is defined %}
                        {% set blogLocales = blogLocales | merge(['<a href="'~ path('bci_cms_blog_edit', {id: blog.id, locale: availLocale})~'">'~(availLocale | capitalize)~'</a>']) %}
                    {% else %}
                        {% set blogLocales = blogLocales | merge([ '<span class="disabled" style="color: #cccccc">' ~ (availLocale | capitalize) ~ '</span> <a href="'~ path('bci_cms_blog_edit', {id: blog.id, locale: availLocale})~'">+</a>']) %}
                    {% endif %}
                {% endfor %}
                {{ blogLocales | join(' / ') | raw }}
            </td>
            <td>
                <a href="{{ path('bci_cms_blog_edit', {'id': blog.id, locale: 'fr'}) }}">{{ blog.articles|length }}</a>
            </td>
            <td>{{ blog.updatedAt|date('Y/m/d H:i:s') }}</td>
            <td>{{ blog.createdAt|date('Y/m/d H:i:s')}}</td>
            <td class="text-right">
                <a href="" class="btn btn-link btn-just-icon dropdown-toggle item-edit" type="button" id="page_drop_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">edit</i>
                </a>
                <div class="dropdown-menu" aria-labelledby="page_drop_down" >
                    {% set plocales = [] %}
                    {% for availLocale in availLocales %}
                        {% set plocales = plocales | merge(['<a class="dropdown-item" href="'~ path('bci_cms_blog_edit', {'id': blog.id, 'locale': availLocale})~'">'~(availLocale | capitalize)~'</a>']) %}
                    {% endfor %}
                    {{ plocales | join('') | raw }}
                </div>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">{{ 'bci.cms.general.no_record'|trans({}, 'cms_bundle') }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block footingCardaction %}
    {% if availLocales | length == 1 %}
        <a href="{{ path('bci_cms_blog_new', {locale: availLocales[0]})  }}" class="btn btn-rose ml-0 pl-3  pr-3">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
        </a>
    {% elseif availLocales | length > 1 %}
        <div class="dropdown">
            <button class="dropdown-toggle btn btn-rose" type="button" id="job_drop_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus" aria-hidden="true"></i>
                {{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}
            </button>
            <div class="dropdown-menu" aria-labelledby="job_drop_down" >
                {% for availLocale in availLocales %}
                    <a class="dropdown-item" href="{{ path('bci_cms_blog_new', {'locale': availLocale}) }}">{{ 'bci.cms.blog.action.new'|trans({'%locale%': availLocale | capitalize}, 'cms_bundle') }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}