{% extends '@BciCms/Layout/layout.html.twig' %}

{% block content %}

    {% embed '@BciCms/blog/_partial/_form.html.twig' %}

        {% block btnTop %}
            <button class="btn btn-rose ml-0 pr-1 pl-1 pr-sm-3" style="padding-left: .5rem; padding-right:.5rem" type="submit">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
        {% endblock %}
        {% block btnLocales %}
            <div class="card-header card-header-primary">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            {% for availLocale in availLocales %}
                                <li class="nav-item ">
                                    <a class="nav-link {{ availLocale == locale ? ' active' : '' }}" href="{{ availLocale == locale ? '#' :  path('bci_cms_blog_new', {locale: availLocale}) }}">{{ ('bci.cms.page.availlocales.' ~ availLocale) | trans({}, 'cms_bundle') }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block btnBottom %}
            <button class="btn btn-rose ml-0 pr-1 pl-1 pr-sm-3" style="padding-left: .5rem; padding-right:.5rem" type="submit">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
        {% endblock %}

    {% endembed %}

{% endblock %}

