{% extends '@BciCms/Layout/shared/index_table.html.twig' %}
{% set icon = 'language' %}

{% block tableHead %}
<td>{{ 'cms_bundle.translation.domaine_name'|trans({}, 'cms_bundle') }}</td>
{% endblock %}
{% block tableFoot %}{% endblock %}
{% block tableBody %}{% endblock %}

