<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
                {% include '@BciCms/Layout/_partial/_title.html.twig' with {
                    'icon': 'list-alt'
                } %}
                <div class="float-md-right d-none d-md-inline ">
                    {% block btnTop %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="">
                    <div class="container-fluid dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-striped table-no-bordered table-hover dtr-inline"
                                       cellspacing="0" width="100%" style="width: 100%;" role="grid"
                                       aria-describedby="datatables_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatables" rowspan="1"
                                            colspan="1" style="width: 252px;" aria-sort="ascending"
                                            aria-label="IDactiver le trie de colonne en ordre décroissante">Champs
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1"
                                            colspan="1" style="width: 252px;"
                                            aria-label="Titre du formulaireactiver le trie de colonne en ordre croissante">
                                            Valeurs
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td tabindex="0" class="sorting_1"><b>{{ 'bci.cms.form.received'|trans({}, 'cms_bundle') }}</b></td>
                                        <td tabindex="0" class="sorting_1"> {{ subscription.createdAt|date('Y-m-d H:i:s') }}</td>
                                    </tr>
                                    {% for answer in subscription.answers %}
                                        <tr role="row">
                                            <td tabindex="0" class="sorting_1"><b>{{ answer.item.label }}</b></td>
                                            <td tabindex="0" class="sorting_1">
                                                {% if answer.item.type == 'file' %}
                                                    <a href="/upload/files/{{ answer.value }}"
                                                       target="_blank">{{ answer.value }}</a>
                                                {% elseif answer.item.type == 'checkbox' %}
                                                    {{ answer.value|replace({"[": '', "]": '', '"': ''}) }}
{#                                                {% elseif answer.item.type == 'radio' %}#}
{#                                                    {{  answer.item.config|split("\r\n")[answer.value] }}#}
                                                {% else %}
                                                    {{ answer.value }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td tabindex="0" class="sorting_1"><b>{{ 'bci.cms.job.formSender'|trans({}, 'cms_bundle') }}</b></td>
                                        <td tabindex="0" class="sorting_1" style="font-weight: bolder">
                                            {% if apiService is defined %}
                                                {{ apiService.belongTo(subscription.referer) }}
                                            {% else %}
                                                {{ subscription.referer }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-icon cleafix p-2">
                <div class="float-left order-2 order-sm-1">
                    <a href="{{ path('bci_cms_job_subscriptions', {'id': job.id}) }}" class="btn ml-0 pr-1 pl-1 pr-sm-3">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span>
                    </a>
                </div>
                <div class="float-right order-1 order-sm-2">
                    {% block btnBottom %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
