<div class="card">
    <div class="card-body">
        <div class="col-md-9 col-sm-12 ml-auto mr-auto" style="margin-top: 20px!important;">
            <div class="row mb-3" style="justify-content: left;">
                <div class="col-4">
                    <div class="form-group">
                        {{ form_label(form.googleJob.activated, null, { 'label_attr': {'class': ''} }) }}
                        {{ form_errors(form.googleJob.activated) }}
                        <div class="col-4">
                            {{ form_widget(form.googleJob.activated, { 'attr': {'class': 'form-control selectpicker'} }) }}
                        </div>
                    </div>
                </div>
            </div>
            {#  Address #}
            <h2 class="address">Adresse</h2>
            <div class="row mb-3 address" style="justify-content: left;">
                <div class="col-2">
                    <div class="form-group">
                        {{ form_label(form.address.civicNumber, null, { 'label_attr': {'class': ''} }) }}
                        {{ form_errors(form.address.civicNumber) }}
                        {{ form_widget(form.address.civicNumber, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        {{ form_label(form.address.street, null, { 'label_attr': {'class': ''} }) }}
                        {{ form_errors(form.address.street) }}
                        {{ form_widget(form.address.street, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        {{ form_label(form.address.postalCode, null, { 'label_attr': {'class': '' } }) }}
                        {{ form_widget(form.address.postalCode, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.address.postalCode) }}
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        {{ form_label(form.address.city, null, { 'label_attr': {'class': '' } }) }}
                        {{ form_widget(form.address.city, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.address.city) }}
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        {{ form_label(form.address.province, null, { 'label_attr': {'class': '' } }) }}
                        {{ form_widget(form.address.province, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.address.province) }}
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        {{ form_label(form.address.country, null, { 'label_attr': {'class': '' } }) }}
                        {{ form_widget(form.address.country, { 'attr': {'class': 'form-control '} }) }}
                        {{ form_errors(form.address.country) }}
                    </div>
                </div>
            </div>
            <h2 style="margin-bottom: 30px!important;">Spécification de l'emploi</h2>
            <div class="row mb-3" style="justify-content: left;">
                <div class="col-3">
                    <div class="form-group">
                        {{ form_label(form.googleJob.totalJobOpenings, null, { 'label_attr': {'class': '', 'style': 'margin-bottom: 8.5px;margin-top: 0px;'} }) }}
                        {{ form_errors(form.googleJob.totalJobOpenings) }}
                        {{ form_widget(form.googleJob.totalJobOpenings, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        {{ form_label(form.googleJob.jobLocationType, null, { 'label_attr': {'class': '', 'style':'margin-bottom: 0px;margin-top: 0px;'} }) }}
                        {{ form_errors(form.googleJob.jobLocationType) }}
                        {{ form_widget(form.googleJob.jobLocationType, { 'attr': {'class': 'form-control selectpicker'} }) }}
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        {{ form_label(form.googleJob.employmentType, null, { 'label_attr': {'class': '', 'style':'margin-bottom: 0px;margin-top: 0px;'} }) }}
                        {{ form_errors(form.googleJob.employmentType) }}
                        {{ form_widget(form.googleJob.employmentType, { 'attr': {'class': 'form-control selectpicker'} }) }}
                    </div>
                </div>
            </div>
            {#    Salary Info & Hours#}
            <div class="row mb-3" style="justify-content: left;">
                <div class="col-3 col-md-3">
                    <div class="form-group">
                        {{ form_label(form.googleJob.hoursSalary, null, { 'label_attr': {'class': '', 'style': 'margin-bottom: 8.5px;margin-top: 0px;'} }) }}
                        {{ form_errors(form.googleJob.hoursSalary) }}
                        {{ form_widget(form.googleJob.hoursSalary, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="col-2 col-md-2">
                    <div class="form-group">
                        {{ form_label(form.googleJob.salaryCurrency, null, { 'label_attr': {'class': '', 'style':'margin-bottom: 0px;margin-top: 0px;'} }) }}
                        {{ form_errors(form.googleJob.salaryCurrency) }}
                        {{ form_widget(form.googleJob.salaryCurrency, { 'attr': {'class': 'form-control selectpicker'} }) }}
                    </div>
                </div>
            </div>
            {#   Description & Requirements#}
            <div class="row mb-3">
                <div class="col-12 col-md-12">
                    <div class="form-group">
                        {{ form_label(form.googleJob.industry, null, { 'label_attr': {'class': ''} }) }}
                        {{ form_errors(form.googleJob.industry) }}
                        {{ form_widget(form.googleJob.industry, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-md-12 form-group">
                    {{ form_label(form.googleJob.jobBenefits, null, { 'label_attr': {'class': ''} }) }}
                    {{ form_errors(form.googleJob.jobBenefits) }}
                    {{ form_widget(form.googleJob.jobBenefits, { 'attr': {'class': 'form-control tinymce_flag', 'data-height': '250px'} }) }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-md-12">
                    {{ form_label(form.googleJob.skills, null, { 'label_attr': {'class': ''} }) }}
                    {{ form_errors(form.googleJob.skills) }}
                    {{ form_widget(form.googleJob.skills, { 'attr': {'class': 'form-control tinymce_flag', 'data-height': '250px'} }) }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-md-12">
                    {{ form_label(form.googleJob.experienceRequirements, null, { 'label_attr': {'class': ''} }) }}
                    {{ form_errors(form.googleJob.experienceRequirements) }}
                    {{ form_widget(form.googleJob.experienceRequirements, { 'attr': {'class': 'form-control tinymce_flag', 'data-height': '250px'} }) }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-md-12">
                    {{ form_label(form.googleJob.educationRequirements, null, { 'label_attr': {'class': ''} }) }}
                    {{ form_errors(form.googleJob.educationRequirements) }}
                    {{ form_widget(form.googleJob.educationRequirements, { 'attr': {'class': 'form-control tinymce_flag', 'data-height': '250px'} }) }}
                </div>
            </div>
        </div>
    </div>
</div>
