<div class="card">
    <div class="card-body">
        <div class="col-md-9 col-sm-12 ml-auto mr-auto" style="margin-top: 20px!important;">
            <div class="row mb-3">
                <div class="col-12 col-md-6 form-group">
                    {# OnlyShow in form #}
                    <i class="fa fa-2x fa-question-circle" style="color:#a9afbb;" aria-hidden="true" rel="tooltip"
                       title="{{ "bci.cms.job.onlyInForm.help"|trans({}, "cms_bundle") }}"></i>
                    {{ form_label(form.onlyShowInForm, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                    {{ form_errors(form.onlyShowInForm) }}
                    {{ form_widget(form.onlyShowInForm, { 'attr': {'class': 'form-control '} }) }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group">
                    {{ form_label(form.siteMapable, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                    {{ form_errors(form) }}
                    <div style="max-width: 100px; margin-left: 5px;">
                        {{ form_widget(form.siteMapable, { 'attr': {'class': 'form-control selectpicker'} }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{#<div class="col-12">#}
    <div class="card">
        <div class="card-body">
            <div class="col-md-9 col-sm-12 ml-auto mr-auto">
                <div class="clearfix">
                    <h2 class="float-left">{{ 'bci.cms.meta.meta'|trans({}, 'cms_bundle') }}</h2>
                    <button type="button"
                            class="btn btn-rose float-right"
                            data-list-selector="#metas" data-ice="app.addFromPrototypeMeta"
                            data-container="#metas">{{ 'bci.cms.meta.add'|trans({},'cms_bundle') }}</button>
                </div>
                <div id="metas"
                     data-prototype="{% filter escape %}{% include '@BciCms/meta/_partial/_meta_prototype.html.twig' with { 'meta': form.metas.vars.prototype } %}{% endfilter %}"
                     data-widget-tags="{{ '<div></div>'|e }}"
                     data-widget-counter="{{ form.children.metas|length }}"
                     class="col-12">

                    <div class="col-8 ml-auto mr-auto text-center empty" {{ form.children.metas | length > 0 ? 'style="display:none;"' : '' }}>
                        {{ 'bci.cms.meta.empty'|trans({}, 'cms_bundle') }}
                    </div>
                    {% for meta in form.metas %}
                        {% include '@BciCms/meta/_partial/_meta_prototype.html.twig' with { 'meta': meta } %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% do form.metas.setRendered %}
