{% form_theme form '@BciCms/Layout/shared/builder_form_layout.html.twig' %}
{{ form_start(form, {"attr":{"class":"col-12"}}) }}
{% trans_default_domain 'cms_bundle' %}
{% form_theme form.preview '@BciCms/Layout/shared/costom_fontawsome_submit.html.twig' %}
<style>
    div.btn-group.bootstrap-select.form-control{
        margin-top:5px;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
                {% include '@BciCms/Layout/_partial/_title.html.twig' with {
                    'icon': 'briefcase'
                } %}
                <div class="float-md-right d-none d-md-inline ">
                    {% block btnTop %}
                        {#   Button to preview before save#}
                        {{ form_widget(form.preview) }}
                        {#   Button to preview before save#}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card card-nav-tabs card-plain">
            {% block btnLocales %}{% endblock %}
        </div>
    </div>
    <div class="col-12 tab-job" style="margin: 5px;">
        <ul class="nav nav-pills nav-pills-rose nav-pills-icons justify-content-left" role="tablist">
            <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#job-info" role="tablist">
                    {{ 'bci.cms.job.sub_menu_options.job_desc'|trans({}, 'cms_bundle') }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  data-toggle="tab" href="#googleJob" role="tablist">
                    {{ 'bci.cms.job.sub_menu_options.google_job'|trans({}, 'cms_bundle') }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  data-toggle="tab" href="#job-advanced-settings" role="tablist">
                    {{ 'bci.cms.job.sub_menu_options.advance_option'|trans({}, 'cms_bundle') }}
                </a>
            </li>
        </ul>
        <div class="tab-content" style="">
            {#   Job Description        #}
            <style>
                .j_categories:hover::after {
                    border-bottom: 2px solid rgb(201, 201, 201);
                    content: ' ';
                    display: block;
                    text-align: center;
                    margin-left: 5px;
                    margin-right: 20px;
                    margin-bottom: 15px;
                }
                .j_categories::after {
                    border-bottom: 2px solid rgb(224, 224, 224);
                    content: ' ';
                    display: block;
                    text-align: center;
                    margin-left: 5px;
                    margin-right: 20px;
                    margin-bottom: 15px;
                }
            </style>
            <div class="tab-pane active show" id="job-info">
                <div class="card">
                    <div class="card-body">
                        {%  set displayCategory  = (jobCategoryEnabled is defined and jobCategoryEnabled == true) ? '' : 'display:none;' %}
                        <div class="col-9 mx-auto row" style="margin-top: 20px!important;{{displayCategory}}">
                            <div id="categoriesDiv" class="form-group col-8 row">
                                {{ form_label(form.categories, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                                {{ form_errors(form) }}
                                {{ form_widget(form.categories, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="col-4 m-auto">
                                <button type="button" class="btn btn-primary" style="margin-left: 35%;" data-toggle="modal"
                                        data-target="#categoryFormModal">
                                    Nouvelle Catégorie
                                </button>
                            </div>
                            {% include '@BciCms/job/_partial/_form_job_category_modal.html.twig' %}
                        </div>
                        <div class="col-md-9 col-sm-12 ml-auto mr-auto" style="margin-top: 20px!important;">
                            {% if form.websites is defined %}
                                <div class="row mb-3">
                                    <div class="col-12 col-md-12 form-group">
                                        {#                        Website linked ONLY IF API#}
                                        {{ form_label(form.websites, null, { 'label_attr': {'class': ''} }) }}
                                        {{ form_widget(form.websites, { 'attr': {'class': 'form-control selectpicker'} }) }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row mb-3" style="justify-content: space-between;">
                                <div class="col-2">
                                    <div class="form-group">
                                    {#                        Archive/Active#}
                                    {{ form_label(form.status, null, { 'label_attr': {'class': '', 'style':'margin-bottom: 0px;'} }) }}
                                    {{ form_widget(form.status, { 'attr': {'class': 'form-control selectpicker'} }) }}
                                    {{ form_errors(form.status) }}
                                    </div>
                                </div>
                                {# StartAt #}
                                <div class="col-5">
                                    <div class="form-group">
                                        {{ form_label(form.startAt, null, { 'label_attr': {'class': '', 'style':''} }) }}
                                        {{ form_widget(form.startAt, { 'attr': {'class': 'form-control datetimepicker_from'} }) }}
                                        {{ form_errors(form) }}
                                    </div>
                                </div>
                                {# EndAt #}
                                <div class="col-5">
                                    <div class="form-group">
                                        {{ form_label(form.endAt, null, { 'label_attr': {'class': '', 'style':'' } }) }}
                                        {{ form_widget(form.endAt, { 'attr': {'class': 'form-control datetimepicker_to'} }) }}
                                        {{ form_errors(form) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 col-md-12 form-group">
                                    {{ form_label(form.title, null, { 'label_attr': {'class': ''} }) }}
                                    {{ form_errors(form.title) }}
                                    {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'style':''} }) }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 col-md-12 form-group">
                                    {{ form_label(form.summary, null, { 'label_attr': {'class': ''} }) }}
                                    {{ form_errors(form.summary) }}
                                    {{ form_widget(form.summary, { 'attr': {'class': 'form-control tinymce_flag', 'data-height': '250px'} }) }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 col-md-12 form-group">
                                    {{ form_label(form.description, null, { 'label_attr': {'class': ''} }) }}
                                    {{ form_errors(form.description) }}
                                    {{ form_widget(form.description, { 'attr': {'class': 'form-control tinymce_flag', 'data-height': '500px'} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {#   Job GoogleJob settings #}
            <div class="tab-pane" id="googleJob">
                {% include '@BciCms/job/_partial/_form_google_job.html.twig' %}
            </div>
            {#   Job Advanced settings #}
            <div class="tab-pane" id="job-advanced-settings">
                {% include '@BciCms/job/_partial/_form_advanced_settings.html.twig' %}
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('.tab-job .nav-link').on('click', function(){
                window.location.hash = $(this).attr('href')
            })
            $('a[href="'+(window.location.hash!=''?window.location.hash:'#job-info') + '"]').trigger('click')
        })
    </script>



    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-icon cleafix p-2">
                <div class="float-left order-2 order-sm-1">
                    <a href="{{ path('bci_cms_job_index') }}" class="btn ml-0 pr-1 pl-1 pr-sm-3">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span>
                    </a>
                </div>
                <div class="float-right order-1 order-sm-2">
                    {% block btnBottom %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
