{% import '@BciCms/Layout/shared/macro.html.twig' as fct %}
{% form_theme form '@BciCms/Layout/shared/builder_form_layout.html.twig' %}
{{ form_start(form, {"attr":{"class":"col-12"}}) }}
{{ form_row(form._token) }}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
                <div class="card-icon bg-main">
                    <i class="fa fa-2x fa-fa-lightbulb-o"></i>
                </div>
                <h4 class="card-title float-md-left white-space-normal">{{ fct.module_action(app.request) }}{{ complexe.nom is defined ? ' - ' ~ complexe.nom : '' }}</h4>
                <div class="float-md-right d-none d-md-inline ">
                    {% block btnTop %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div class="card card-plain" style="margin: 20px 0">
        {% block btnLocales %}{% endblock %}
    </div>

    <div class="col-12 tab-complexe">
        <ul class="nav nav-pills nav-pills-rose nav-pills-icons justify-content-left" role="tablist">
            <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#desc" role="tablist">
                    {{ 'app.cms.complexe.description'|trans({}, 'app') }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                        {{ complexe.id is not empty
                        ? 'data-toggle="tab" href="#builds"'
                        : 'style="color: #ccc;cursor: pointer;-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;'
                        }} role="tablist">
                    {{ 'app.cms.immeubles'|trans({}, 'app') }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                        {{ complexe.id is not empty
                        ? 'data-toggle="tab" href="#concierge"'
                        : 'style="color: #ccc;cursor: pointer;-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;'
                        }} role="tablist">
                    {{ 'app.cms.immeuble.concierge'|trans({}, 'app') }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                    {{ complexe.id is not empty
                    ? 'data-toggle="tab" href="#incs"'
                    : 'style="color: #ccc;cursor: pointer;-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;'
                    }} role="tablist"">
                {{ 'app.cms.inclusions'|trans({}, 'app') }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                        {{ complexe.id is not empty
                        ? 'data-toggle="tab" href="#services"'
                        : 'style="color: #ccc;cursor: pointer;-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;'
                        }} role="tablist">
                    {{ 'app.cms.services'|trans({}, 'app') }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                        {{ complexe.id is not empty
                        ? 'data-toggle="tab" href="#imgs"'
                        : 'style="color: #ccc;cursor: pointer;-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;'
                        }} role="tablist">
                    {{ 'app.cms.complexe.images'|trans({}, 'app') }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                        {{ complexe.id is not empty
                        ? 'data-toggle="tab" href="#appphotos"'
                        : 'style="color: #ccc;cursor: pointer;-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;'
                        }} role="tablist">
                    {{ 'app.cms.complexe.app.images'|trans({}, 'app') }}
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active show" id="desc">
                {% include 'complexe/_partial/_general.html.twig' %}
            </div>

            {% if complexe.id is not empty %}
                <div class="tab-pane" id="imgs">
                    {% include 'complexe/_partial/_photos.html.twig' %}
                </div>

                <div class="tab-pane" id="incs">
                    {% include 'complexe/_partial/_inclusions.html.twig' %}
                </div>
                <div class="tab-pane" id="concierge">
                    {% include 'complexe/_partial/_concierge.html.twig' %}
                </div>
                <div class="tab-pane" id="builds">
                    {% include 'complexe/_partial/_immeubles.html.twig' %}
                </div>

                <div class="tab-pane" id="services">
                    {% include 'complexe/_partial/_services.html.twig' %}
                </div>
                <div class="tab-pane" id="appphotos">
                    {% include 'complexe/_partial/_app_photos.html.twig' %}
                </div>
            {% endif %}
        </div>
    </div>
    <script>
        $(function () {
            $('.tab-complexe .nav-link').on('click', function(){
                window.location.hash = $(this).attr('href')
            })
            $('a[href="'+(window.location.hash!=''?window.location.hash:'#desc') + '"]').trigger('click')
        })
    </script>

    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-icon cleafix p-2">
                <div class="float-left order-2 order-sm-1">
                    <a href="{{ path('complexe_index') }}" class="btn ml-0 pr-1 pl-1 pr-sm-3">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span>
                    </a>
                </div>
                <div class="float-right order-1 order-sm-2">
                    {% block btnBottom %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form, {'render_rest': false}) }}