<form method="post" id="formDelete" action="{{ path('form_delete', {'id': entity.id}) }}" onsubmit="return confirm('{{ 'bci.cms.general.confirmDelete'|trans({}, 'cms_bundle') }}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">
</form>
