{% form_theme form '@BciCms/Layout/shared/builder_form_layout.html.twig' %}
{{ form_start(form, {"attr":{"class":"col-12", "id": "form-page"}}) }}
<div class="row form-page">
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
                {% include '@BciCms/Layout/_partial/_title.html.twig' with {
                    'icon': 'list-alt'
                } %}
                <div class="float-md-right d-none d-md-inline ">
                    {% block btnTop %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card card-nav-tabs card-plain">
            {% block btnLocales %}{% endblock %}
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-10 col-sm-12 ml-auto mr-auto" data-step="2" data-intro="{{ 'bci.cms.helper.form.edit.step2'|trans({}, 'cms_bundle') }}">
                    {{ form_errors(form) }}
                    {{ form_row(form._token) }}
                    <h2>{{ 'bci.cms.form.general' | trans({}, 'cms_bundle') }}</h2>
                    <div class="form-group">
                        {{ form_label(form.title, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                        {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.htmlId, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                        {{ form_widget(form.htmlId, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.page, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                        {{ form_widget(form.page, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email, null, { 'label_attr': {'class': 'bmd-label-floating'} }) }}
                        {{ form_widget(form.email, {
                            'attr': {
                                'class'     : 'form-control tagsinput',
                                'data-role' : 'tagsinput',
                                'data-color': 'info'
                            }
                        }) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-10 col-sm-12 ml-auto mr-auto" data-step="3" data-intro="{{ 'bci.cms.helper.form.edit.step3'|trans({}, 'cms_bundle') }}" data-position="left" data-scrollTo="tooltip">
                        <h2>{{ 'bci.cms.form.translate' | trans({'%locale%': locale | capitalize}, 'cms_bundle') }}</h2>
                        {% for formTranslation in form.formTranslations %}
                            {% if formTranslation.vars.value.locale == locale %}
                                <div class="form-group">
                                    {{ form_label(formTranslation.title, null, { 'label_attr': {'class': 'form-group bmd-label-floating'} }) }}
                                    {{ form_widget(formTranslation.title, { 'attr': {'class': 'form-control', 'required': true} }) }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="col-12 mt-4">
                            <label>{{ 'bci.cms.form.champs' | trans({}, 'cms_bundle') }}</label>
                        </div>

                        <div
                                id="items"
                                class="row items"
                                data-prototype="{% filter escape %}{% include '@BciCms/form/_partial/_item_prototype.html.twig' with { 'item': form.items.vars.prototype } %}{% endfilter %}"
                                data-widget-tags="{{ '<div></div>'|e }}"
                                data-widget-counter="{{ form.children.items|length }}"
                        >
                            {% for item in form.items %}
                                {% set disabled = get_form().itemHasData(item.vars.value.id) %}
                                {% set hidden = item.vars.value.type in ["select", "radio", "checkbox"] ? '' : 'd-none' %}
                                <div class="row col-12">
{#                                     {% if item.vars.value.locale != locale %}style="display: none; height:0px; opacity: 0"{% endif %}>#}
                                    {{ form_widget(item.locale) }}
                                    <div class="form-group col-3">
                                        {{ form_label(item.label) }}
                                        {{ form_widget(item.label) }}
                                        {% if app.user.getRoles[0] == 'ROLE_SUPER_ADMIN' %}
                                        <div style="padding-left: 10px;width: auto;" class="form-group bmd-form-group">
                                            <label class="label-on-left white-space-normal bmd-label-static">{{ 'bci.cms.form.token'|trans({}, 'cms_bundle') }}</label>
                                            <p class="copy-to" id="{{ item.vars.value.id }}">
                                                {{ item.vars.value.token }}
                                                <a class="btn btn-rose m-0 ml-2"
                                                   data-ice="bci.cms.form.copyToClipboard"
                                                   data-ice-params="{{ item.vars.value.id }}"
                                                   style="color: white;padding: 9px 14px;">
                                                    <i class="fa fa-copy"></i>
                                                </a>
                                            </p>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-3">
                                        {{ form_label(item.help) }}
                                        {{ form_widget(item.help) }}
                                    </div>
                                    <div class="form-group col-3">
                                        {{ form_label(item.type) }}
                                        {{ form_widget(item.type, {'attr':{'data-ice': 'cms.form.showConfig' }}) }}
                                    </div>
                                    <div class="form-group col config {{ hidden }}">
                                        {{ form_label(item.config) }}
                                        {{ form_widget(item.config) }}
                                    </div>
                                    <div class="form-group col required-field">
                                        {{ form_label(item.required) }}
                                        {{ form_widget(item.required) }}
                                    </div>
                                    <div class="form-group col required-field">
                                        {{ form_label(item.presentInPostedData) }}
                                        {{ form_widget(item.presentInPostedData) }}
                                    </div>
                                    {% if not disabled %}
                                        <div class="form-group col-auto" style="padding-top: 40px;margin-left: auto !important;">
                                            <button style="padding: 9px 30px;" type="button" class="btn btn-danger px-3"
                                                    data-ice="cms.form.removeRow"
                                                    title="{{ 'bci.cms.form.remove'|trans({}, 'cms_bundle') }}">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row col-12 justify-content-end mx-0 card-header card-header-icon p-2">
                            <button type="button" class="btn btn-rose ml-0 pr-1 pl-1 pr-sm-3" data-ice="cms.form.addRow"
                                    data-ice-params="{{ {container: '#items'}|json_encode() }}">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                {{ 'bci.cms.form.addItem'|trans({}, 'cms_bundle') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-icon cleafix p-2">
                    <div class="float-left order-2 order-sm-1" data-intro="{{ 'bci.cms.helper.form.edit.step6'|trans({}, 'cms_bundle') }}">
                        <a href="{{ path('form_index') }}" class="btn ml-0 pr-1 pl-1 pr-sm-3">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span>
                        </a>
                    </div>
                    <div class="float-right order-1 order-sm-2">
                        {% block btnBottom %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form, {'render_rest': false}) }}
</div>
