<div class="row col-12">
    {{ form_widget(item.locale) }}
    <div class="form-group col-3">
        {{ form_label(item.label) }}
        {{ form_widget(item.label) }}
    </div>
    <div class="form-group col-3">
        {{ form_label(item.help) }}
        {{ form_widget(item.help) }}
    </div>
    <div class="form-group col-3 ">
        {{ form_label(item.type) }}
        {{ form_widget(item.type, {'attr':{'data-ice': 'cms.form.showConfig' }}) }}
    </div>
    <div class="form-group col config d-none">
        {{ form_label(item.config) }}
        {{ form_widget(item.config) }}
    </div>
    <div class="form-group col required-field">
        {{ form_label(item.presentInPostedData) }}
        {{ form_widget(item.presentInPostedData) }}
    </div>
    <div class="form-group col-auto" style="padding-top: 40px;margin-left: auto !important;">
        <button style="padding: 9px 30px;" type="button" class="btn btn-danger px-3"
                data-ice="cms.form.removeRow"
                title="{{ 'bci.cms.form.remove'|trans({}, 'cms_bundle') }}">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
    </div>
</div>