{% extends '@BciCms/Layout/layout.html.twig' %}

{% block content %}

    {% embed '@BciCms/form/_partial/_form.html.twig' %}

        {% block btnTop %}
            <button class="btn d-none d-md-inline btn-rose"
                    style="padding-left: .5rem; padding-right:.5rem"
                    type="button"
                    data-ice="cms.form.renable"
                    data-step="4"
                    data-intro="{{ 'bci.cms.helper.form.edit.step4'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2"> {{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
            <a class="btn btn-danger "
               style="padding-left: .5rem; padding-right:.5rem"
               data-ice="app.delete_submit"
               data-ice-params="#formDelete"
               title="{{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}"
               data-step="5"
               data-intro="{{ 'bci.cms.helper.form.edit.step5'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-trash"></i>
            </a>
        {% endblock %}

        {% block btnLocales %}
            <div class="card-header card-header-primary" data-step="1" data-intro="{{ 'bci.cms.helper.form.edit.step1'|trans({}, 'cms_bundle') }}">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            {% for availLocale in availLocales %}
                                <li class="nav-item ">
                                    <a class="nav-link {{ availLocale == locale ? ' active' : '' }}"
                                       href="{{ availLocale == locale ? '#' :  path('form_edit', {id: entity.id, locale: availLocale}) }}">
                                        {{ ('bci.cms.page.availlocales.' ~ availLocale) | trans({}, 'cms_bundle') }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block btnBottom %}
            <button class="btn btn-rose"
                    style="padding-left: .5rem; padding-right:.5rem"
                    type="button"
                    data-ice="cms.form.renable">
                <i class="fa fa-floppy-o"></i>
                <span class="mr-2">{{ 'bci.cms.general.action.save'|trans({}, 'cms_bundle') }}</span>
            </button>
            <a class="btn btn-danger"
               style="padding-left: .5rem; padding-right:.5rem"
               data-ice="app.delete_submit"
               data-ice-params="#formDelete"
               title="{{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-trash"></i>
            </a>
        {% endblock %}

    {% endembed %}
    {{ include('@BciCms/form/_partial/_delete_form.html.twig') }}
{% endblock %}
