{% extends '@BciCms/Layout/shared/index_table.html.twig' %}
{% set icon = 'list-alt' %}

{% block headingCardAction %}
    <a href="{{ path('form_new', {locale: availLocales[0]}) }}" class="btn btn-rose ml-0 pl-3  pr-3">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
    </a>
{% endblock %}

{% block tableHead %}
    <th>{{ 'bci.cms.form.id'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.form.title'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.form.locale'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.form.token'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.form.created_at'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.form.updated_at'|trans({}, 'cms_bundle') }}</th>
    <th class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableFoot %}
    <th class="text-left">{{ 'bci.cms.form.id'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.form.title'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.form.locale'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.form.token'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.form.created_at'|trans({}, 'cms_bundle') }}</th>
    <th>{{ 'bci.cms.form.updated_at'|trans({}, 'cms_bundle') }}</th>
    <th class="text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
{% endblock %}

{% block tableBody %}
    {% for frm in forms %}
        <tr>
            <td>{{ frm.id }}</td>
            <td>{{ frm.title|striptags|raw }}</td>
            <td>
                {% set articleLocales = [] %}
                {% for availLocale in availLocales %}
                    {% if frm.hasTranslationsLocale(availLocale) %}
                        {% set articleLocales = articleLocales | merge(['<a href="'~ path('form_edit', {id: frm.id, locale: availLocale})~'">'~(availLocale | capitalize)~'</a>']) %}
                    {% else %}
                        {% set articleLocales = articleLocales | merge([ '<span class="disabled" style="color: #cccccc">' ~ (availLocale | capitalize) ~ '</span> <a href="'~ path('form_edit', {id: frm.id, locale: availLocale})~'">+</a>']) %}
                    {% endif %}
                {% endfor %}
                {{ articleLocales | join(' / ') | raw }}
            </td>
            <td>{{ frm.token }}</td>
            <td>{{ frm.createdAt|date('Y-m-d H:i:s') }}</td>
            <td>{{ frm.updatedAt|date('Y-m-d H:i:s') }}</td>
            <td class="text-right">
                <a href="" class="btn btn-link btn-just-icon dropdown-toggle item-edit" type="button"
                   id="page_drop_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">edit</i>
                </a>
                <div class="dropdown-menu" aria-labelledby="page_drop_down">
                    {% for availLocale in availLocales %}
                        <a class="dropdown-item"
                           href="{{ path('form_edit', {id: frm.id, locale: availLocale}) }}">{{ (availLocale | capitalize) }}</a>
                    {% endfor %}
                </div>
                <a href="{{ path('form_posted_data', {id: frm.id}) }}" rel="tooltip"
                   title="{{ 'bci.cms.form.subscriptions'|trans({}, 'cms_bundle') }}"
                   class="btn btn-link btn-just-icon {% if frm.hasSubscriptions == false %}disabled{% endif %}">
                    <i class="material-icons">
                        question_answer
                    </i>
                    {% if frm.hasNewSubscriptions|length > 0 %}
                        <span class="notification">{{ frm.hasNewSubscriptions|length }}</span>
                    {% endif %}
                </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">{{ 'bci.cms.general.no_record'|trans({}, 'cms_bundle') }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block footingCardaction %}
    <a href="{{ path('form_new', {locale: availLocales[0]}) }}" class="btn btn-rose ml-0 pl-3  pr-3">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.new'|trans({}, 'cms_bundle') }}</span>
    </a>
{% endblock %}

