{% extends '@BciCms/Layout/layout.html.twig' %}
{% block content %}
    {% embed '@BciCms/form/_partial/_data.html.twig' %}
        {% block btnTop %}

            <a class="btn btn-danger " style="padding-left: .5rem; padding-right:.5rem" data-ice="app.delete_submit" data-ice-params="#formDelete" title="{{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}">
                <i class="fa fa-trash"></i>
            </a>
        {% endblock %}
        {% block btnBottom %}

        {% endblock %}
    {% endembed %}
    {{ include('@BciCms/form/_partial/posted/_delete_form.html.twig') }}
{% endblock %}

