
<style>
.accordion-group{
    margin-bottom: 40px;
}
input[type=text] {
    outline: 0!important;
    border-width: 0 0 2px!important;
    border-color: #999999!important;
    border-radius: 0px!important;
    background-color: transparent!important;
    margin-top: 14.5px!important;
}
input[type=text]:focus {
    border-color: #cf2828!important;
    background-color: transparent!important;
}
.mg-top{
    margin-top: 20px;
    margin-left: 20px;
}
button.dropdown-toggle{
    /*border-radius: 0px!important;*/
}
.mrg-left{
    margin-left: 30px!important;
}
.scriptText{

}
.accordion-inner{
    margin-left: 12px;
}
</style>

{% set uniqueId = uniqueId() %}
<div class="accordion-group">
    <div class="accordion-heading">
        <div class="row">
            <div class="col-1 mg-top">
                <a class="accordion-toggle script-toggle" data-toggle="collapse" href="#{{ uniqueId }}">
                    <i class="fa fa-2x fa-plus" aria-hidden="true"></i>
                    <i class="fa fa-2x fa-minus" aria-hidden="true" style="display: none;"></i>
                </a>
            </div>
            <div class="col-4 mrg-left">
{#                {{ form_label(scriptTag.title, null, { 'label_attr': {'class': 'col-sm-12', 'style':'margin-bottom:21px;'} }) }}#}
                {{ form_widget(scriptTag.title, { 'attr': {'class': 'oneLine form-control'} }) }}
            </div>
            <div class="col-1" style="padding-top: 15px;padding-left: 55px;">
{#                    {{ form_label(scriptTag.presentInStaging, null, { 'label_attr': {'class': 'col-sm-12'} }) }}#}
                    {{ form_widget(scriptTag.presentInStaging, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-2 mrg-left">
{#                {{ form_label(scriptTag.position, null, { 'label_attr': {'class': 'col-sm-12'} }) }}#}
                {{ form_widget(scriptTag.position, { 'attr': {'class': 'selectpicker'} }) }}
            </div>
            <div class="col-1"></div>
            <div class="col-1" style="margin-top: 5px;">
                <button type="button"
                        style="background-color: #e31513 !important"
                        data-ice="app.removeScriptTag"
                        class="btn btn-danger float-right">{{ 'bci.cms.general.action.delete'|trans({},'cms_bundle') }}</button>
            </div>
        </div>
    </div>
    <div id="{{ uniqueId }}" class="accordion-body collapse">
        <div class="accordion-inner">
            <div class="row">
                <div class="col-11">
                    {{ form_label(scriptTag.script, null, { 'label_attr': {'class': 'col-sm-12'} }) }}
                    {{ form_widget(scriptTag.script, { 'attr': {'class': 'scriptText form-control', 'style':'min-height:100px;'} }) }}
                </div>
            </div>
        </div>
    </div>
</div>
