<!DOCTYPE html>

<title>Configuration</title>

{% block body %}
    <h1>Configuration</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ configuration.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('configuration_index') }}">back to list</a>

    <a href="{{ path('configuration_edit', {'id': configuration.id}) }}">edit</a>

    {{ include('configuration/_delete_form.html.twig') }}
{% endblock %}
