<form method="post" id="formDelete" action="{{ path('bci_cms_logs_delete') }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ 'all') }}">
</form>>