<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-primary card-header-icon cleafix p-2 pb-3 pb-md-2">
                {% include '@BciCms/Layout/_partial/_title.html.twig' with {
                    'icon': 'file'
                } %}
                <div class="float-md-right d-none d-md-inline ">
                    {% block btnTop %}
{#                        <a class="btn btn-danger " style="padding-left: .5rem; padding-right:.5rem" data-ice="app.delete_submit" data-ice-params="#formDelete" title="{{ 'bci.cms.general.action.delete'|trans({}, 'cms_bundle') }}">#}
{#                            <i class="fa fa-trash"></i>#}
{#                        </a>#}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                {% block filemanager %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-icon cleafix p-2">
                <div class="float-left order-2 order-sm-1">
{#                    <a href="{{ path('bci_cms_log_index') }}" class="btn ml-0 pr-1 pl-1 pr-sm-3">#}
{#                        <i class="fa fa-chevron-left" aria-hidden="true"></i>#}
{#                        <span class="d-none d-sm-inline">{{ 'bci.cms.general.action.back'|trans({}, 'cms_bundle') }}</span>#}
{#                    </a>#}
                </div>
                <div class="float-right order-1 order-sm-2">
                    {% block btnBottom %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
